{{> kalles/header title="7am | Home"}}
<body class="kalles-template header_full_true des_header_3 css_scrollbar lazy_icons btnt4_style_2 zoom_tp_2 css_scrollbar template-index kalles_toolbar_true hover_img2 swatch_style_rounded swatch_list_size_small label_style_rounded wrapper_full_width header_full_true hide_scrolld_true lazyload">

<div id="kalles-section-header_banner" class="kalles-section-header_banner">
    <div class="h__banner bgp pt__10 pb__10 fs__14 flex fl_center al_center pr oh show_icon_false">
        <div class="container">
            <div class="row al_center" we-ser=1 we-label="Banner" >
                <div class="col-auto op__0">
                    <a href="#" class="h_banner_close pr pl__10 cw z_index">close</a>
                </div>
                <a href="shop.html" class="pa t__0 l__0 r__0 b__0 z_100"></a>
                <div id="top_banner" class="col h_banner_wrap tc cw">
                    <span> Today deal sale off </span> <strong e-ser="" e-attr="html" e-label="Deal">70 %</strong> <span e-ser="" e-attr="html" e-label="Regular 2"> Ends in </span> <strong data-date="2022/12/19">127 days 02:16:37</strong> <span e-ser="" e-attr="html" e-label="Regular 2"> . Hurry Up </span> <i class="las la-arrow-right"></i>
                </div>
                <div class="col-auto">
                    <a href="#" class="h_banner_close pr pl__10 cw z_100">close</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="nt_wrapper">
    {{> kalles/navbar}}
    <div id="nt_content">
        <div class="nt_section type_slideshow type_carousel ">
            <div class="slideshow-wrapper nt_full se_height_cus_h nt_first">
                <div class="fade_flick_1 slideshow row no-gutters equal_nt nt_slider js_carousel prev_next_0 btn_owl_1 dot_owl_2 dot_color_1 btn_vi_2" data-flickity='{ "fade":0,"cellAlign": "center","imagesLoaded": 0,"lazyLoad": 0,"freeScroll": 0,"wrapAround": true,"autoPlay" : 0,"pauseAutoPlayOnHover" : true, "rightToLeft": false, "prevNextButtons": false,"pageDots": true, "contain" : 1,"adaptiveHeight" : 1,"dragThreshold" : 5,"percentPosition": 1 }'>
                    <div class="col-12 slideshow__slide">
                        <div class="oh position-relative nt_img_txt bg-black--transparent" we-ser=3 we-label="Slide 1">
                            <div class="js_full_ht4 img_slider_block kalles-slide-element__pdb-600">
                                <div class="bg_rp_norepeat bg_sz_cover item__position center center img_tran_ef pa l__0 t__0 r__0 b__0 lazyloaded" data-bgset="https://images.unsplash.com/photo-1558470598-a5dda9640f68?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2071&amp;q=80" e-ser="3" e-type="img" e-attr="data-bgset" e-label="Photo" style="background-image: url(&quot;https://images.unsplash.com/photo-1558470598-a5dda9640f68?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2071&amp;q=80&quot;);"><picture style="display: none;"><source data-srcset="https://images.unsplash.com/photo-1558470598-a5dda9640f68?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2071&amp;q=80" sizes="1440px" srcset="https://images.unsplash.com/photo-1558470598-a5dda9640f68?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2071&amp;q=80"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="1440px"></picture></div>
                            </div>

                            <div class="caption-wrap caption-w-1 pe_none z_100 tl_md tl">
                                <div class="pa_txts caption kalles-caption-layout-01 kalles-caption--midle-left">
                                    <div class="left_right">

                                        <h4 e-ser="4" e-type="simple" e-attr="html" e-label="Small Hdg" class="kalles-caption-layout-01__subtitle mg__0 lh__1">SUMMER 2022</h4>
                                        <h3 class="kalles-caption-layout-01__title mg__0 lh__1" e-ser="5" e-type="simple" e-attr="html" e-label="Big Hdg">Chakwal is Live</h3>
                                        <a class="kalles-caption-layout-01__button kalles-button--square slt4_btn button pe_auto round_false btn_icon_false" href="/7am/gen/page/kallesShop/n?type=uniform" e-ser="6" e-type="a" e-attr="html, href" e-label="Button">Explore Now</a>


                                    </div>
                                </div>
                            </div>

                                    

                            <a href="/7am/gen/page/kallesShop/n" class="pa t__0 l__0 b__0 r__0 pe_none"></a> 
                            <a href="/7am/gen/page/kallesShop/n" class="pa t__0 l__0 b__0 r__0 pe_none"></a> 
                        </div>
                    </div>
                    

                    
                    <div class="col-12 slideshow__slide">
                        <div class="oh position-relative nt_img_txt bg-black--transparent" we-ser="slide2" we-label="Slide 2">
                            
             
             
             
             
                            <div class="js_full_ht4 img_slider_block kalles-slide-element__pdb-600">
                                <div class="bg_rp_norepeat bg_sz_cover item__position center center img_zoom pa l__0 t__0 r__0 b__0 lazyloaded" data-bgset="https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1010&amp;q=80" e-ser="7" e-attr="data-bgset" e-label="Photo" style="background-image: url(&quot;https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1010&amp;q=80&quot;);"><picture style="display: none;"><source data-srcset="https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1010&amp;q=80" sizes="1440px" srcset="https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1010&amp;q=80"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="1440px"></picture></div>
                            </div>
                            <div class="caption-wrap caption-w-1 pe_none z_100 tr_md tl">
                                <div class="pa_txts caption kalles-caption-layout-01 kalles-caption--midle-right">
                                    <div class="right_left">
                                        <h4 class="kalles-caption-layout-01__subtitle mg__0 lh__1" e-ser="8" e-attr="html" e-label="h4">UNIFORMS</h4>
                                        <h3 class="kalles-caption-layout-01__title mg__0 lh__1" e-ser="9" e-attr="html" e-label="h3">Beacon House School</h3>
                                        <a class="kalles-caption-layout-01__button kalles-button--square slt4_btn button pe_auto round_false btn_icon_false" href="/7am/gen/page/kallesShop/n?type=uniform" e-ser="10" e-attr="html, href" e-label="Link">Pick Uniform</a>
                                    </div>
                                </div>
                            </div>
                            <a href="/7am/gen/page/kallesShop/n" class="pa t__0 l__0 b__0 r__0 pe_none"></a> 
                            
             
             
             
             
                        </div>
                    </div>
                    

                    
                    <div class="col-12 slideshow__slide">
                        <div class="oh position-relative nt_img_txt bg-black--transparent" we-ser="slide3" we-label="Slide 3">
             
                            <div class="js_full_ht4 img_slider_block kalles-slide-element__pdb-600">
                                <div class="bg_rp_norepeat bg_sz_cover item__position center center img_tran_ef pa l__0 t__0 r__0 b__0 lazyloaded" data-bgset="https://images.unsplash.com/photo-1495446815901-a7297e633e8d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2070&amp;q=80" e-ser="11" e-attr="data-bgset" e-label="Photo" style="background-image: url(&quot;https://images.unsplash.com/photo-1495446815901-a7297e633e8d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2070&amp;q=80&quot;);"><picture style="display: none;"><source data-srcset="https://images.unsplash.com/photo-1472201248592-1241c92256ff?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2188&amp;q=80" sizes="1440px" srcset="https://images.unsplash.com/photo-1472201248592-1241c92256ff?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2188&amp;q=80"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="1440px"></picture><picture style="display: none;"><source data-srcset="https://images.unsplash.com/photo-1495446815901-a7297e633e8d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2070&amp;q=80" sizes="1440px" srcset="https://images.unsplash.com/photo-1495446815901-a7297e633e8d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2070&amp;q=80"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="1440px"></picture></div>
                            </div>
                            <div class="caption-wrap caption-w-1 pe_none z_100 tl_md tl">
                                <div class="pa_txts caption kalles-caption-layout-01 kalles-caption--midle-left">
                                    <div class="left_right">
                                        <h4 class="kalles-caption-layout-01__subtitle mg__0 lh__1" e-ser="12" e-attr="html" e-label="h4">BOOKS PACKAGES</h4>
                                        <h3 class="kalles-caption-layout-01__title mg__0 lh__1" e-ser="13" e-attr="html" e-label="h3">at very Low Prices</h3>
                                        <a class="kalles-caption-layout-01__button kalles-button--square slt4_btn button pe_auto round_false btn_icon_false" href="/7am/gen/page/kallesShop/n?type=uniform" e-ser="14" e-attr="html, href" e-label="Link">Get Books</a>
                                    </div>
                                </div>
                            </div>
                            <a href="/7am/gen/page/kallesShop/n" class="pa t__0 l__0 b__0 r__0 pe_none"></a>
                            
             
                        </div>
                    </div>
                    
 
                </div>
            </div>
        </div>
        

        
        <div class="nt_section type_collection_list">
            <div class="container">
                <div class="mt__30 nt_cats_holder row equal_nt hoverz_true cat_size_4 cat_lay4_1 cat_lay5_3 cat_space_30 cat_design_1">
                    <div class="cat_grid_item cat_space_item cat_grid_item_1 col-md-6 col-12">
                        <div class="cat_grid_item__content position-relative oh" we-ser="grid1" we-label="Grid 1">
                            
             
             
             
             
                            <a href="/7am/gen/page/kallesShop/n?type=stationary" class="db cat_grid_item__link" e-ser="15" e-label="Link" e-attr="href">
                                <div class="cat_grid_item__overlay item__position nt_bg_lz top lazyloaded" data-bgset="https://images.unsplash.com/photo-1587366802443-f5690cfebc79?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=774&amp;q=80" e-ser="16" e-label="Photo" e-attr="data-bgset" style="background-image: url(&quot;https://images.unsplash.com/photo-1587366802443-f5690cfebc79?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=774&amp;q=80&quot;);"><picture style="display: none;"><source data-srcset="https://images.unsplash.com/photo-1587366802443-f5690cfebc79?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=774&amp;q=80" sizes="570px" srcset="https://images.unsplash.com/photo-1587366802443-f5690cfebc79?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=774&amp;q=80"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="570px"></picture></div>
                            </a>
                            <div class="cat_grid_item__wrapper pe_none">
                                <div class="cat_grid_item__title" e-ser="17" e-label="Button" e-attr="html">Stationary</div>
                            </div>
                            
             
             
             
             
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-6">
                        <div class="row">

                            <div class="cat_grid_item cat_space_item cat_grid_item_2 col-12">
                                <div class="cat_grid_item__content position-relative oh" we-ser="grid2" we-label="Grid 2">
                            
             
             
             
             
                                    <a href="/7am/gen/page/kallesShop/n?type=accessory" class="db cat_grid_item__link" e-ser="18" e-label="Link" e-attr="href">
                                        <div class="cat_grid_item__overlay item__position nt_bg_lz center lazyloaded" data-bgset="https://images.unsplash.com/photo-1622560480654-d96214fdc887?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=776&amp;q=80" e-ser="19" e-label="Photo" e-attr="data-bgset" style="background-image: url(&quot;https://images.unsplash.com/photo-1622560480654-d96214fdc887?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=776&amp;q=80&quot;);"><picture style="display: none;"><source data-srcset="https://images.unsplash.com/photo-1622560480654-d96214fdc887?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=776&amp;q=80" sizes="270px" srcset="https://images.unsplash.com/photo-1622560480654-d96214fdc887?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=776&amp;q=80"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="270px"></picture></div>
                                    </a>
                                    <div class="cat_grid_item__wrapper pe_none">
                                        <div class="cat_grid_item__title" e-ser="20" e-attr="html" e-label="Button">Accessories</div>
                                    </div>
                            
             
             
             
             
                                </div>
                            </div>

                            <div class="cat_grid_item cat_space_item cat_grid_item_3 col-12">
                                <div class="cat_grid_item__content position-relative oh" we-ser="grid3" we-label="Grid 3">
                            
             
             
             
                                    <a href="/7am/gen/page/kallesShop/n?type=uniforms" class="db cat_grid_item__link" e-ser="21" e-attr="href" e-label="Link">
                                        <div class="cat_grid_item__overlay item__position nt_bg_lz center lazyloaded" data-bgset="https://images.unsplash.com/photo-1566827886031-7d0f288f76ed?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2070&amp;q=80" e-ser="22" e-attr="data-bgset" e-label="Photo" style="background-image: url(&quot;https://images.unsplash.com/photo-1566827886031-7d0f288f76ed?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2070&amp;q=80&quot;);"><picture style="display: none;"><source data-srcset="https://images.unsplash.com/photo-1566827886031-7d0f288f76ed?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2070&amp;q=80" sizes="262px" srcset="https://images.unsplash.com/photo-1566827886031-7d0f288f76ed?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2070&amp;q=80"><img alt="" class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" data-parent-fit="cover" sizes="262px"></picture></div>
                                    </a>
                                    <div class="cat_grid_item__wrapper pe_none">
                                        <div class="cat_grid_item__title" e-ser="23" e-attr="html" e-label="Button">Uniforms</div>
                                    </div>
                            
             
             
             
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cat_grid_item cat_space_item cat_grid_item_4  col-md-3 col-6">
                        <div class="cat_grid_item__content position-relative oh" we-ser="grid4" we-label="Grid 4">
                            
             
                            <a href="/7am/gen/page/kallesShop/n?type=books" class="db cat_grid_item__link" e-ser="24" e-label="Link" e-attr="href">
                                <div class="cat_grid_item__overlay item__position nt_bg_lz center lazyloaded" data-bgset="https://images.unsplash.com/photo-1588072432904-843af37f03ed?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2072&amp;q=80" e-ser="25" e-attr="data-bgset" e-label="Photo" style="background-image: url(&quot;https://images.unsplash.com/photo-1588072432904-843af37f03ed?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2072&amp;q=80&quot;);"><picture style="display: none;"><source data-srcset="https://images.unsplash.com/photo-1588072432904-843af37f03ed?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2072&amp;q=80" sizes="270px" srcset="https://images.unsplash.com/photo-1588072432904-843af37f03ed?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2072&amp;q=80"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="270px"></picture></div>
                            </a>
                            <div class="cat_grid_item__wrapper pe_none">
                                <div class="cat_grid_item__title" e-ser="26" e-attr="html" e-label="Button">Book Packs</div>
                            </div>
                            
             
                        </div>
                    </div>

                </div>
            </div>
        </div>
        

        
        <div class="nt_section type_featured_collection tp_se_cdt">
            <div class="kalles-otp-01__feature container">
                <div class="wrap_title des_title_2" we-ser="sep1" we-label="Separator 1">
                    
             
                    <h3 class="section-title tc position-relative flex fl_center al_center fs__24 title_2">
                        <span class="mr__10 ml__10" e-ser="27" e-attr="html" e-label="Heading">TRENDING TODAY</span>
                    </h3>
                    <span class="dn tt_divider">
                        <span></span>
                        <i class="dn clprfalse title_2 la-gem"></i>
                        <span></span>
                    </span>
                    <span class="section-subtitle db tc sub-title" e-ser="28" e-attr="html" e-label="Subtitle">Top view in this week</span>
                    
             
                </div>

                <div class="products nt_products_holder row fl_center row_pr_1 cdt_des_5 round_cd_true nt_cover ratio_nt position_8 space_30">

                    {{#each data.products}}
                    <div class="col-lg-3 col-md-3 col-6 pr_animated done mt__30 pr_grid_item product nt_pr desgin__1" myId="{{this._id}}">
                        <div class="product-inner pr">
                            <div class="product-image position-relative oh lazyload">
                                <span class="tc nt_labels pa pe_none cw">
                                    {{#if this.new}}
                                    <span class="nt_label new">New</span>
                                    {{else if this.sale}}
                                    <span class="onsale nt_label">
                                        <span>{{this.sale}}</span>
                                    </span>
                                    {{/if}}
                                </span>
                                <a class="d-block" href="/{{../data.brand}}/gen/page/kallesProduct/{{this._id}}">
                                    <div class="pr_lazy_img main-img nt_img_ratio nt_bg_lz lazyload padding-top__127_571" data-bgset="{{this.photos.0.medium}}"></div>
                                </a>
                                <div class="hover_img pa pe_none t__0 l__0 r__0 b__0 op__0">
                                    <div class="pr_lazy_img back-img pa nt_bg_lz lazyload padding-top__127_571" data-bgset="{{this.photos.0.medium}}"></div>
                                </div>
                                <div class="hover_button op__0 tc pa flex column ts__03">
                                    <a class="pr nt_add_qv js_add_qv cd br__40 pl__25 pr__25 bgw tc dib ttip_nt tooltip_top_left" href="#">
                                        <span class="tt_txt">Quick view</span>
                                        <i class="iccl iccl-eye"></i>
                                        <span>Quick view</span>
                                    </a>
                                    <a href="#" class="pr pr_atc cd br__40 bgw tc dib js__qs cb chp ttip_nt tooltip_top_left">
                                        <span class="tt_txt">Quick Shop</span>
                                        <i class="iccl iccl-cart"></i>
                                        <span>Quick Shop</span>
                                    </a>
                                </div>
                                <div class="product-attr pa ts__03 cw op__0 tc">
                                    <p class="truncate mg__0 w__100">XS, S, M, L, XL</p>
                                </div>
                            </div>
                            <div class="product-info mt__15">
                                <h3 class="product-title position-relative fs__14 mg__0 fwm">
                                    <a class="cd chp" href="/7am/gen/page/kallesProduct/{{this._id}}">{{this.name}}</a>
                                </h3>
                                <span class="price dib mb__5">
                                    {{#if this.sale}}
                                    <del>PKR {{this.price}}</del>
                                    <ins>PKR {{this.sale_price}}</ins>
                                    {{else}}
                                    PKR {{this.price}}
                                    {{/if}}
                                </span>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                </div>

                <div class="products-footer tc mt__40">
                    <a class="se_cat_lm pr nt_cat_lm button button_default br_rd_true btn_icon_false" href="#">Load More</a>
                </div>
            </div>
        </div>
        

        
        <div class="kalles-section nt_section type_banner">
            <div class="kalles-otp-01__promotion container">
                <div class="mt__30 nt_banner_holder row equal_nt auto hoverz_true cat_space_30 txt_shadow_false">
                    <div class="cat_space_item col-lg-6 col-md-6 col-12">
                        <div class="nt_promotion oh pr middle center banner_design_1" we-ser="Announcement1" we-label="Announcement 1">
                            
             
             
                            <a href="#" class="d-block" e-ser="29" e-attr="href" e-label="Link">
                                <div class="nt_bg_lz item__position center lazyloaded" data-bgset="https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=654&amp;q=80" e-ser="30" e-attr="data-bgset" e-label="Photo" style="background-image: url(&quot;https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=654&amp;q=80&quot;);"><picture style="display: none;"><source data-srcset="https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=654&amp;q=80" sizes="562px" srcset="https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=654&amp;q=80"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="562px"></picture></div>
                            </a>
                            <div class="pa t__0 l__0 b__0 r__0 flex column shadow_wrap tc fl_center pe_none">
                                <h3 class="fwm fs__24 mg__0 mb__5 ls__1 lh__1" e-ser="31" e-attr="html" e-label="Heading">LOOKBOOK 2021</h3> 
                                <h4 class="mg__0 fs__14" e-ser="32" e-attr="html" e-label="Subtitle">MAKE LOVE THIS LOOK</h4> </div>
                            
             
             
                        </div>
                    </div>
                    <div class="cat_space_item col-lg-6 col-md-6 col-12">
                        <div class="nt_promotion oh pr middle center banner_design_2" we-ser="Announcement2" we-label="Announcement 2">
                            
                            
                            <a href="#" class="d-block" e-ser="33" e-attr="href" e-label="Link">
                                <div class="nt_bg_lz item__position center lazyloaded" data-bgset="https://images.unsplash.com/photo-1578070181910-f1e514afdd08?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2133&amp;q=80" e-ser="34" e-attr="data-bgset" e-label="Photo" style="background-image: url(&quot;https://images.unsplash.com/photo-1578070181910-f1e514afdd08?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2133&amp;q=80&quot;);"><picture style="display: none;"><source data-srcset="https://images.unsplash.com/photo-1578070181910-f1e514afdd08?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2133&amp;q=80" sizes="562px" srcset="https://images.unsplash.com/photo-1578070181910-f1e514afdd08?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2133&amp;q=80"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="562px"></picture></div>
                            </a>
                            <div class="pa t__0 l__0 b__0 r__0 flex column shadow_wrap tc fl_center pe_none">
                                <h3 class="fwm fs__18 mg__0 mb__5 ls__1" e-ser="35" e-attr="html" e-label="Heading">SUMMER SALE</h3>
                                <h4 class="mg__0 fs__50 lh__1" e-ser="36" e-attr="html" e-label="Subtitle">UP TO 70%</h4>
                            </div>
                            
             
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        
        <div class="kalles-section nt_section type_featured_collection tp_se_cdt">
            <div class="kalles-otp-01__featured-collection-2 container">
                <div class="wrap_title  des_title_2" we-ser="section2" we-label="Section 2">
                    
             
                    <h3 class="section-title tc pr flex fl_center al_center fs__24 title_2">
                        <span class="mr__10 ml__10" e-ser="37" e-attr="html" e-label="Heading">NEWLY INTRODUCED</span>
                    </h3>
                    <span class="dn tt_divider">
                        <span></span>
                        <i class="dn clprfalse title_2 la-gem"></i>
                        <span></span>
                    </span>
                    <span class="section-subtitle db tc sub-title" e-ser="38" e-attr="html" e-label="Subtitle">Freshly brought to our product line</span>
                    
             
                </div>

                <div class="products nt_products_holder row fl_center row_pr_1 cdt_des_1 round_cd_false nt_cover ratio_nt position_8 space_30">

                    {{#each data.newProducts}}

                    <div class="col-lg-3 col-md-3 col-6 pr_animated done mt__30 pr_grid_item product nt_pr desgin__1" myId="{{this._id}}">
                        <div class="product-inner pr">
                            <div class="product-image position-relative oh lazyload">
                                <span class="tc nt_labels pa pe_none cw">
                                    {{#if this.new}}
                                    <span class="nt_label new">New</span>
                                    {{else if this.sale}}
                                    <span class="onsale nt_label">
                                        <span>{{this.sale}}</span>
                                    </span>
                                    {{/if}}
                                </span>
                                <a class="d-block" href="/{{data.brand}}/gen/page/kallesProduct/{{this._id}}">
                                    <div class="pr_lazy_img main-img nt_img_ratio nt_bg_lz lazyload padding-top__127_571" data-bgset="{{this.photos.0.medium}}"></div>
                                </a>
                                <div class="hover_img pa pe_none t__0 l__0 r__0 b__0 op__0">
                                    <div class="pr_lazy_img back-img pa nt_bg_lz lazyload padding-top__127_571" data-bgset="{{this.photos.0.medium}}"></div>
                                </div>
                                <div class="hover_button op__0 tc pa flex column ts__03">
                                    <a class="pr nt_add_qv js_add_qv cd br__40 pl__25 pr__25 bgw tc dib ttip_nt tooltip_top_left" href="#">
                                        <span class="tt_txt">Quick view</span>
                                        <i class="iccl iccl-eye"></i>
                                        <span>Quick view</span>
                                    </a>
                                    <a href="#" class="pr pr_atc cd br__40 bgw tc dib js__qs cb chp ttip_nt tooltip_top_left">
                                        <span class="tt_txt">Quick Shop</span>
                                        <i class="iccl iccl-cart"></i>
                                        <span>Quick Shop</span>
                                    </a>
                                </div>
                                <div class="product-attr pa ts__03 cw op__0 tc">
                                    <p class="truncate mg__0 w__100">XS, S, M, L, XL</p>
                                </div>
                            </div>
                            <div class="product-info mt__15">
                                <h3 class="product-title position-relative fs__14 mg__0 fwm">
                                    <a class="cd chp" href="product-detail-layout-01.html">{{this.name}}</a>
                                </h3>
                                <span class="price dib mb__5">
                                    {{#if this.sale}}
                                    <del>PKR {{this.price}}</del>
                                    <ins>PKR {{this.sale_price}}</ins>
                                    {{else}}
                                    PKR {{this.price}}
                                    {{/if}}
                                </span>
                            </div>
                        </div>
                    </div>

                    {{/each}}

                </div>
            </div>
        </div>
        

        
        <div class="kalles-section nt_section type_shipping kalles-section__type_shipping">
            <div class="container">
                <div class="row fl_wrap fl_wrap_md oah use_border_false">
                    <div class="col-12 col-md-6 col-lg-3 mb__25 bl_1581530479619-0">
                        <div class="nt_shipping nt_icon_deafult tl row no-gutters al_center_">
                            <div class="col-auto icon medium csi">
                                <i class="pegk pe-7s-car"></i>
                            </div>
                            <div class="col content">
                                <h3 class="title cd fs__14 mg__0 mb__5">FREE SHIPPING</h3>
                                <p class="mg__0">Free shipping on all US order or order above $100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb__25 bl_1581530479619-1">
                        <div class="nt_shipping nt_icon_deafult tl row no-gutters al_center_">
                            <div class="col-auto icon medium csi">
                                <i class="pegk pe-7s-help2"></i>
                            </div>
                            <div class="col content">
                                <h3 class="title cd fs__14 mg__0 mb__5">SUPPORT 24/7</h3>
                                <p class="mg__0">Contact us 24 hours a day, 7 days a week</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb__25 bl_1581530479619-2">
                        <div class="nt_shipping nt_icon_deafult tl row no-gutters al_center_">
                            <div class="col-auto icon medium csi">
                                <i class="pegk pe-7s-refresh"></i>
                            </div>
                            <div class="col content">
                                <h3 class="title cd fs__14 mg__0 mb__5">30 DAYS RETURN</h3>
                                <p class="mg__0">Simply return it within 30 days for an exchange.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb__25 bl_1581530479619-3">
                        <div class="nt_shipping nt_icon_deafult tl row no-gutters al_center_">
                            <div class="col-auto icon medium csi">
                                <i class="pegk pe-7s-door-lock"></i>
                            </div>
                            <div class="col content">
                                <h3 class="title cd fs__14 mg__0 mb__5">100% PAYMENT SECURE</h3>
                                <p class="mg__0">We ensure secure payment with PEV</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>

    
    {{> kalles/footer}}
    

</div>


<div class="mask-overlay ntpf t__0 r__0 l__0 b__0 op__0 pe_none"></div>



<div id="quick-view-tpl" class="dn">
    <div class="product-quickview single-product-content img_action_zoom kalles-quick-view-tpl">
        <div class="row product-image-summary">
            <div class="col-lg-7 col-md-6 col-12 product-images pr oh">
                <span class="tc nt_labels pa pe_none cw"><span class="onsale nt_label"><span>-34%</span></span></span>
                <div class="images">
                    <div class="product-images-slider tc equal_nt nt_slider nt_carousel_qv p-thumb_qv nt_contain ratio_imgtrue position_8" data-flickity='{ "fade":true,"cellSelector": ".q-item:not(.is_varhide)","cellAlign": "center","wrapAround": true,"autoPlay": false,"prevNextButtons":true,"adaptiveHeight": true,"imagesLoaded": false, "lazyLoad": 0,"dragThreshold" : 0,"pageDots": true,"rightToLeft": false }'>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-12 summary entry-summary pr">
                <div class="summary-inner gecko-scroll-quick">
                    <div class="gecko-scroll-content-quick">
                        <div class="kalles-section-pr_summary kalles-section summary entry-summary mt__30">
                            <h1 class="product_title entry-title fs__16"><a href="product-detail-layout-01.html">La Bohème Rose Gold</a></h1>
                            <div class="flex wrap fl_between al_center price-review">
                                <p class="price_range" id="price_qv">
                                    <del>$60.00</del>
                                    <ins>$40.00</ins>
                                </p>
                            </div>
                            <div class="pr_short_des">
                                <p class="mg__0">Go kalles this summer with this vintage navy and white striped v-neck t-shirt from the Nike. Perfect for pairing with denim and white kicks for a stylish kalles vibe.</p>
                            </div>
                            <div class="btn-atc atc-slide btn_des_1 btn_txt_3">
                                <div id="callBackVariant_qv" class="nt_pink nt1_ nt2_">
                                    <div id="cart-form_qv" class="nt_cart_form variations_form variations_form_qv">
                                        <div class="variations mb__40 style__circle size_medium style_color des_color_1">
                                            <div class="swatch is-label kalles_swatch_js">
                                                <h4 class="swatch__title">Size:
                                                    <span class="nt_name_current user_choose_js">M</span>
                                                </h4>
                                                <ul class="swatches-select swatch__list_pr">
                                                    <li class="nt-swatch swatch_pr_item pr" data-escape="XS">
                                                        <span class="swatch__value_pr">XS</span>
                                                    </li>
                                                    <li class="nt-swatch swatch_pr_item pr" data-escape="S">
                                                        <span class="swatch__value_pr">S</span>
                                                    </li>
                                                    <li class="nt-swatch swatch_pr_item pr is-selected" data-escape="M">
                                                        <span class="swatch__value_pr">M</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="variations_button in_flex column w__100 buy_qv_false">
                                            <div class="flex wrap">
                                                <div class="quantity pr mr__10 order-1 qty__true" id="sp_qty_qv">
                                                    <input type="number" class="input-text qty text tc qty_pr_js qty_cart_js" value="1" name="quantity" inputmode="numeric">

                                                    <div class="qty tc fs__14">
                                                        <button type="button" class="plus db cb pa pd__0 pr__15 tr r__0">
                                                            <i class="facl facl-plus"></i>
                                                        </button>
                                                        <button type="button" class="minus db cb pa pd__0 pl__15 tl l__0">
                                                            <i class="facl facl-minus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="nt_add_w ts__03 pa order-3">
                                                    <a href="#" class="wishlistadd cb chp ttip_nt tooltip_top_left"><span class="tt_txt">Add to Wishlist</span><i class="facl facl-heart-o"></i></a>
                                                </div>
                                                <button type="submit" data-time='6000' data-ani='shake' class="single_add_to_cart_button button truncate js_frm_cart w__100 mt__20 order-4">
                                                    <span class="txt_add ">Add to cart</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product_meta">

                                
                            </div>
                            <a href="product-detail-layout-01.html" class="btn fwsb detail_link p-0 fs__14">View full details<i class="facl facl-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="quick-shop-tpl" class="dn">
</div>



{{> kalles/sideCart data=data}}



<div id="nt_search_canvas" class="nt_fk_canvas dn">
    <div class="nt_mini_cart flex column h__100">
        <div class="mini_cart_header flex fl_between al_center">
            <h3 class="widget-title tu fs__16 mg__0 font-poppins">Search Our Site</h3>
            <i class="close_pp pegk pe-7s-close ts__03 cd"></i>
        </div>
        <div class="mini_cart_wrap">
            <div class="search_header mini_search_frm pr js_frm_search" role="search">
                <div class="frm_search_cat mb__20">
                    <select name="product_type" onchange="searchItems(this)">
                        <option value="*">All Categories</option>
                        {{#each data.categories}}
                        <option value="{{this}}">{{startWithUpperCase this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="frm_search_input pr oh">
                    <input class="search_header__input js_iput_search placeholder-black" autocomplete="off" type="text" name="q" placeholder="Search for products">
                    <button class="search_header__submit js_btn_search" type="submit" onclick="searchItems(this)"><i class="iccl iccl-search"></i>
                    </button>
                </div>
                <div class="ld_bar_search"></div>
            </div>
            <div class="search_header__prs fwsb cd">
                <span class="h_suggest">Need some inspiration?</span><span class="h_result dn">Search Result:</span><span class="h_results dn">Search Results:</span>
            </div>
            <div class="search_header__content mini_cart_content fixcl-scroll widget">
                <div class="fixcl-scroll-content product_list_widget">
                    <div class="js_prs_search">

                    {{#each data.randomProducts}}
                        <div class="row mb__10 pb__10">
                            <div class="col widget_img_pr">
                                <a class="db pr oh" href="product-detail-layout-01.html"><img class="w__100 lz_op_ef lazyload" alt="picto wall clock" data-src="{{this.photos.0.medium}}" width="80" height="80"></a>
                            </div>
                            <div class="col widget_if_pr">
                                <a class="product-title db" href="/7am/gen/page/kallesProduct/{{this._id}}">{{this.name}}</a>

                                {{#if this.sale}}
                                <del>PKR {{this.price}}</del>
                                <ins>PKR {{this.sale_price}}</ins>
                                {{else}}
                                PKR {{this.price}}
                                {{/if}}
                                
                                {{#if this.new}}
                                <span class="nt_label new">New</span>
                                {{else if this.sale}}
                                <span class="onsale nt_label">
                                    <span>{{this.sale}}</span>
                                </span>
                                {{/if}}

                            </div>
                        </div>
                    {{/each}}
                        <a href="/7am/gen/page/kallesShop/n" class="btn fwsb detail_link">View All
                            <i class="las la-arrow-right fs__18"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{> kalles/login}}



{{> kalles/mobiletoolbar}}



{{> kalles/mobilenavbar}}



<a id="nt_backtop" class="pf br__50 z__100 des_bt1" href="#"><span class="tc br__50 db cw"><i class="pr pegk pe-7s-angle-up"></i></span></a>


{{> kalles/bottom}}
