<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <style media="screen">
    nav {
      display: flex;
      width: 98%;
      margin: auto;
      align-items: center;
      justify-content: space-between;
    }

    body {
      display: flex;
      flex-wrap: wrap;
    }

    .card {
      border: 1px solid grey;
      padding: 1rem;
      width: 25vw;
    }
  </style>
</head>

<body>

  <nav>
    <h3>Showing all Schools</h3>
    <div class="menu">
      <a href="/newSchool">Add New School</a>
      <a href="/newItem">Add Items</a>
    </div>
  </nav>

  {{#each allSchools}}
    <div class="card">
      <p>{{this._id}}</p>
      <p>{{this.identity}}</p>
      <p>{{this.name}}</p>
      <p><a href="/editSchool?id={{this._id}}">Edit</a> </p>
      <p><a href="/deleteSchool?id={{this._id}}">Delete</a> </p>

      {{#if photo}}

        <img src="{{photo}}" width="200px" alt="">
        <p><a href="/editImage?public_id={{this._id}}">Edit Image</a> </p>

      {{else}}

        <p><a href="/newImage?public_id={{this._id}}">New Image</a> </p>

      {{/if}}
    </div>
  {{/each}}
</body>

</html>
