<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Show Schools</title>
</head>

<body>
  {{> navbar}}

  {{#each allSchools}}
    <div class="card">
      <p>{{this._id}}</p>
      <p>{{this.identity}}</p>
      <p>{{this.name}}</p>

      {{#if photo}}

        <img src="{{photo}}" width="200px" alt="">
        <p><a href="/admin/editImage?public_id={{this._id}}&redirect=showSchools">Edit Image</a> </p>

      {{else}}

        <p><a href="/admin/newImage?public_id={{this._id}}&redirect=showSchools">New Image</a> </p>

      {{/if}}

      <p><a href="/admin/editSchool?id={{this._id}}">Edit</a> </p>
      <p><a href="/admin/deleteSchool?id={{this._id}}">Delete</a> </p>

    </div>
  {{/each}}
</body>

</html>
