<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Show Items</title>
</head>

<body>
  {{> navbar}}

  {{#each allItems}}
    <div class="card">

      <p>{{this.ser}}</p>
      <p>{{this.name}}</p>
      <p>{{this.school}}</p>
      <p>{{this.cost}}</p>
      <p>{{this.size}}</p>
      <p>{{this.qty}}</p>

      {{#if photo}}

        <img src="{{photo}}" width="200px" alt="">
        <p><a href="/admin/editImage?public_id={{this._id}}&redirect=showItems">Edit Image</a> </p>

      {{else}}

        <p><a href="/admin/newImage?public_id={{this._id}}&redirect=showItems">New Image</a> </p>

      {{/if}}

      <p><a href="/admin/editItem?id={{this._id}}">Edit Item</a> </p>
      <p><a href="/admin/deleteItem?id={{this._id}}">Delete</a> </p>

    </div>
  {{/each}}
</body>

</html>
