<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    {{> propertyHello data=data}}
    <style>
        {{>propertyCSS}} 
    </style>
</head>
<body>

    <div class="layerOne">
    
        {{#if (matchValues data.permit 'auth') }}
            {{> propertyNav navs="home dashboard add-property-local edit-business-local write-blog show-blogs log-out" active="home"}}
        {{else}}
            {{> propertyNav navs="home about-us our-location read-blogs log-in" active="home"}} 
        {{/if}}

        <div class="sliders">

            {{#each data.slides.sliders}}

            <div class="{{status}}">
                <div class="webEditor">{{{this.content}}}</div>
            </div>

            {{/each}}

        </div>

        <div class="movers">

            <button class="arrow left" onclick="navigateSlide('left')">←</button>
            <div> 
                {{#each data.slides.sliders}}
                <button class="{{status}}" onclick="navigateSlide('{{{@index}}}')">{{{inc @index}}}</button>
                {{/each}} 
            </div>
            <button class="arrow right" onclick="navigateSlide('right')">→</button>
        
        </div>


	<p class="note black">DHA Homes For Sale in Islamabad at very cheap rates. Composition of accomodation is 3 x Bed Rooms, Drawing / Dining / Kitchen / Servant Quarter / Car Porch / 2 x Terrace (independant Units). Prices are increasing on daily basis. Travelling time from Rawat to DHA Homes is 10 to 15 Minutes (Distance 8 - 10 Kms). Contact Maj Gul (R) at 0331 5586889</p>

        {{> propertyfiltersBox cities=data.cities}}

        <div class="container">

            <a class="btn runFilter d-none" href="/{{data.brand}}/gen/pjax/landingPage/n" data-pjax>Run Filters</a>

            <div class="cards" id="pjax-container"> 
                {{#if data.properties}}
                    {{#each data.properties}}
                        {{> propertyCards property=this data=../data viewMore=true}}
                    {{/each}}
                {{else}}
                <p>No Matching Properties Found. Sorry..</p>
                {{/if}}
            </div>

        </div>

        <div class="webEditor">

            {{{data.slides.footer.content}}}
        
        </div>

    </div>


    <div class="formBox msgBox d-none">

        {{> propertyForm data=data.forms.msgBoxClient}}

    </div>

    <div class="formBox contactForm d-none">

        {{> propertyForm data=data.forms.contactForm}}

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/root/pjax.js"></script>

    {{> propertyJS}}

    
</body>
</html>
