<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Chodhry — Blogs</title>
    <style>
        {{>propertyCSS}} 
    </style>
</head>
<body>

    <div class="layerOne">
    
        {{#if (matchValues data.permit 'auth') }}
            {{> propertyNav navs="home-auth dashboard add-property edit-business write-blog show-blogs log-out" active="show-blogs"}}
        {{else}}
            {{> propertyNav navs="home about-us our-location read-blogs log-in" active="read-blogs"}}
        {{/if}}

        <div class="box-top">

            <h1>
                <b>Read</b>
                Blogs
            </h1>
            <p class="box note"> It is hard to find sane honest upright people in real estate, real hard. Harder in Pakistan. We hope to bring awareness to our brothers and sisters. And we hope to bring transparency, that we might someday completely remove this blanket of fraud.</p>
        
        </div>


        <div class="container">

            <div class="cards" id=""> 

                {{#each data.pages}}

                <div class="page" onclick="window.location.href=`/{{../data.brand}}/gen/page/showPage/{{this.slug}}`">

                    <p>#{{this.ser}} | {{this.updatedAt}}</p>
                    <h1><bold>{{this.page}}</bold></h1>
                
                </div>

                {{/each}}

            </div>

        </div>

    </div>

    <div class="msgBox d-none">

        {{> propertyForm data=data.forms.msgBoxClient}}

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/root/pjax.js"></script>

{{> propertyJS}}
    
</body>
</html>
