<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Chodhry — Blog Post</title>
    <style>
        {{>propertyCSS}} 
    </style>
</head>
<body>

    <div class="layerOne">
    
        {{#if (matchValues data.page.slug "about-us") }}
        {{> propertyNav navs="home about-us our-location read-blogs log-in" active="about-us"}}
        {{else}}
        {{> propertyNav navs="home about-us our-location read-blogs log-in" active=""}}
        {{/if}}

        <div class="banner">
        
            <p class="box-hdg"> 
                <a  href="/{{data.brand}}/{{data.permit}}/page/showPages/n">BLOGS</a> 
                <span>/ {{data.page.slug}}</span>
            </p>
            
        </div>

        <div class="container">

            {{{data.page.content}}} 

        </div>

    </div>

    <div class="msgBox d-none">

        {{> propertyForm data=data.forms.msgBoxClient}}

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/root/pjax.js"></script>
    <script>


        {{> propertyJS}}

    </script>
    
</body>
</html>
