<style>

    .orders > h3  {
        background: black;
        color: white;
        padding: 0 10px;
        font-weight: 900;
    }

    .order {
        display: flex;
        background: white;
        margin-bottom: 10px;
        padding: 0px;
        flex-wrap: wrap;
    }

    .order:hover {
        background: #e8e8e8;
        opacity: 0.8;
        cursor: pointer;
    }

    .order > div {
        padding: 10px;
        width: 20%;
        text-align: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .order > div > h3 {
        flex-grow: 1;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.0;
        color: #737272;
    }
    
    .receipt h3 {
        font-weight: 300;
        font-size: 12px;
        line-height: 1.0;
        color: #333333;
    }

    .order > div > p {
        font-size: 16px;
        line-height: 1.0;
        margin-top: 3px;
        margin-bottom: 9px;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav > p {
        font-size: 12px;
    }

    .nav > p > span {
        padding: 2px 5px;
    }

    .nav > p > span.link {
        font-weight: bold;
        color: black;
        background: antiquewhite;
    }

    .nav > p > span.link:hover {
        background: white;
        cursor: pointer;
        opacity: 0.6;
    }

    .orderDetails {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        flex-wrap: wrap;
    }

    .orderDetails > div {
        width: 50%;
        box-sizing: border-box;
    }

    .collapsable {
        margin-bottom: 20px;
        background: whitesmoke;
        padding: 10px;
        border-left: 2px solid #2296f3;
    }
    
    .collapsable > .open > p:nth-child(1) {
        font-size: 12px;
        font-weight: bold;
        color: #2196f3;
        margin-top: 0px;
    }


    .collapsable > .open > p:nth-child(2) {
        font-weight: bold;
    }


    .collapsable > .open >  div {

        width: 100%;
        font-family: inherit;
        font-size: 15px;
        line-height: 1.5;
        border: 1px dashed #d4d4d4;
        padding: 5px;
        box-sizing: border-box;
        background: white;

    }

    .collapsable > .open > button {
        border: 2px solid transparent;
        color: black;
        margin-top: 7px;
        margin-right: 5px;
        padding: 3px 8px;
        background: #dfdfdf;
    }

    .btns {
        display: flex;
        margin-bottom: 13px;
    }

    .btns > .btn:nth-child(1) {
        background: #2196f3;
        color: #d8eeff;
        border: #2196f3;
    }

    .btns > .btn:nth-child(2) {
        flex-grow: 1;
        margin-left: 3px;
        background: black;
        color: #ffe2d8;
    }

    .actions-page > div:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
    }

    .section {
        padding: 10px;
        border: 1px dashed lightgrey;
        margin-top: 6px;
        margin-right: 6px;
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        background: whitesmoke;
    }

    .section > h5 {
        width: 100%;
        padding: 5px;
        padding-left: 10px;
    }

    .section > button {
        padding: 18px 18px;
        margin-bottom: 3px;
        margin-right: 3px;
        background: white;
        border: 2px solid black;
        color: black;
        font-size: 15px;
    }

    .section > button:hover {
        cursor: pointer;
    }

    .receipt {
        max-width: 600px;
        width: 95%;
        margin: auto;
        margin-top: 1rem;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 18%);
        border-radius: 12px;
        padding-top: 1rem;
    }

    .receipt > *:not(article) {
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 2rem;
    }

    .receipt > div > p, 
    .receipt > .firstRow p {
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;
        margin-top: -10px;
    }

    .imgRow {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: -6px;
    }

    .imgRow > img {
        height: 62px;
        margin-left: -23px;
        display: block;
        margin-bottom: 0rem;
    }

    .imgRow > button {
        margin-left: auto;
        width: auto;
        padding: 0px;
        padding: 2px 11px;
        border-radius: 5px;
        border: 1px solid #F2F2F2;
        text-decoration: none;
        background: #EB5757;
        color: white;
        font-weight: 300;
        font-size: 17px;
    }

    .firstRow {
        display: flex;
        margin-top: 10px;
        margin-bottom: -6px;
    }

    .firstRow > *:nth-child(2) {
        margin-left: auto;
        margin-right: 200px;
    }

    .orderSummary {
        margin-bottom: 1rem;
    }

    article {
        background: whitesmoke;
        padding-bottom: 2rem;
        padding-top: 1rem;
        border-top: 1px dashed black;
    }

    article > p {
        padding-left: 3rem;
        padding-right: 3rem;
        line-height: 1.5;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        color: #4F4F4F;
        font-weight: 300;
    }

    .receipt h3 {
    }

    article > p > span:nth-child(2) {
        color: black;
        font-weight: bold;
    }

    article > a {
        color: #333333;
        font-weight: bold;
    }
    
    @media only screen and (max-width: 600px) {

        .order > div {
            width: 50%;
        }
        
        .orderDetails > div {
            width: 100%;
        }

        .orderDetails > div:nth-child(1) {
            order: 1;
        }

        .receipt {
            order: 0;
            padding-top: 0px;
            margin: auto;
            margin-bottom: 1rem;
            max-width: 100%;
            width: 100%;
        }

        .receipt > *:not(article) {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        article > p {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        .imgRow {
            padding-top: 1rem;
            flex-direction: column;
        }

        .imgRow > img {
            margin-left: 0;
            margin-bottom: 14px;
        }

        .imgRow > button {
            margin-left: 0;
            margin-right: auto;
        }

        .firstRow {
            margin-top: 18px;
        }

        .firstRow > *:nth-child(1) {
            width: 145px;
        }

        .firstRow > *:nth-child(2) {
            margin-right: 0px;
        }

        article > p{
            max-width: 100%;
       }

        article > p > span:nth-child(1) {
            max-width: 50%;
        }

        article > p > span:nth-child(2) {
            max-width: 40%;
            text-align: end;
        }
    }

</style>

<div class="orders">

    {{#each orders}}

    <div class="order" onclick="openOrder(this, '{{this._id}}')">

        <div>
            <h3>Date/ Time</h3>
            <p>{{getFormattedDateTimeMongoId this._id}}</p>
        </div>

        <div>
            <h3>ORDER NO</h3>
            <p>{{this.ser}}</p>
        </div>

        <div>
            <h3>ORDER COST</h3>
            <p>{{this.cost}}</p>
        </div>

        <div>
            <h3>DELIVERY STATUS</h3>
            <p>{{this.status}}</p>
        </div>

        <div>
            <h3>PAYMENT</h3>
            <p>{{this.payment}}</p>
        </div>
    
    </div>

    {{/each}}

</div>

<div class="kallesReceipt d-none">

    <div class="nav">
    
        <p>
            
            <span class="link" onclick="openLayer('.kallesReceipt', '.layerOne')">Dashboard</span>
            /
            <span class="black">Order</span>
        
        </p>

        <div class="actions">

            <button class="btn" >Cancel Order</button>
            <button class="btn" >Edit Order</button>
        
        </div>
    
    </div>

    <div class="orderDetails">

        <div id="attach_stages">

            <div class="btns">
                <button class="btn" >Collapse All</button>
                <button class="btn" onclick="openLayer('.kallesReceipt', '.actions-page')">Actions</button>
            </div>

            <div class="collapsable">
                <p>0912 · 19 Apr 2022</p>
                <p>Notify Shop on Email</p>
                <button>Edit</button>
                <button>Delete</button>
            </div>
        
            <div class="collapsable">
                <p>0912 · 19 Apr 2022</p>
                <p>Notify Shop on Slack</p>
                <button>Edit</button>
                <button>Delete</button>
            </div>

            <div class="collapsable">
                <p>0912 · 19 Apr 2022</p>
                <p>Notify Shop on Dashboard</p>
                <button>Edit</button>
                <button>Delete</button>
            </div>

            <div class="collapsable">
                <p>0912 · 19 Apr 2022</p>
                <p>Notify Customer on Email</p>
                <button>Edit</button>
                <button>Delete</button>
            </div>

            <div class="collapsable">
                <p>0912 · 19 Apr 2022</p>
                <p>Special Message from Customer</p>

                <div>Please hurry we are in desparate trouble and need to collect this order. Please asap....</div>
                <button>Edit</button>
                <button>Delete</button>
            </div>

        </div>

        <div id="attach_receipt">
        
        
        </div>
    
    </div>

</div>

<div class="actions-page d-none">


    <div class="nav">
    
        <p>
            
            <span class="link" onclick="openLayer('.kallesReceipt, .actions-page', '.layerOne')">Dashboard</span>
            /
            <span class="link" onclick="openLayer('.actions-page', '.kallesReceipt')">Order</span>
            /
            <span class="black">Actions</span>
        
        </p>

        <div class="actions">

            <button class="btn" >Cancel Order</button>
            <button class="btn" >Edit Order</button>
        
        </div>
    
    </div>

    <div>
    
        <div class="section">

            <h5>SHARE RECEIPT</h5>

            <button id="send_receipt_to_shop" >Send Receipt to Shop Email</button>
            <button id="send_receipt_to_customer" >Send Receipt to Customer Email</button>
            <button onclick="sendReceiptToSlack('{{data.brand.slack}}')">Send Receipt to Slack Channel</button>

        </div>
        <div class="section">

            <h5>SEND A NOTE</h5>

            <button onclick="createLayer('noteToShop')">Send Special Note to Shop</button>
            <button onclick="createLayer('noteToCustomer')">Send Special Note to Customer</button>

        </div>
        <div class="section">

            <h5>TEST ALARM</h5>

            <button onclick="generateAlarm('newOrder')">Generate Alarm</button>

        </div>

        <div class="section">

            <h5>UPDATE ORDER STATUS</h5>
            <button class="status" onclick="setOrderStatus('processing')">Processing</button>
            <button class="status" onclick="setOrderStatus('shipped')">Shipped</button>
            <button class="status" onclick="setOrderStatus('delivered')">Delivered</button>
            <button class="status" onclick="setOrderStatus('returned')">Returned</button>
            <button class="status" onclick="setOrderStatus('cancelled')">Cancelled</button>
        
        </div>

        <div class="section">

            <h5>ADD PAYMENT DETAILS</h5>

            <button class="payment" onclick="addPaymentDetails('COD')">Cash On Delivery (COD)</button>
            <button class="payment" onclick="addPaymentDetails('bank_tfr')">Bank Transfer</button>
        
        </div>
    
    </div>

</div>
