<div class="menuCard">
<a href="/{{data.brand}}/gen/page/findOrderPage/n">Find Order</a>
<a href="/{{data.brand}}/gen/page/showPage/about-us">About Us</a>
<a href="/{{data.brand}}/gen/page/showPage/our-team">Our Team</a>
<a href="/{{data.brand}}/gen/page/showPage/our-stores">Our Stores</a>
<a href="/{{data.brand}}/gen/page/showPage/faqs">FAQs</a>

<div>
    <a href="https://facebook.com/7amuniforms">
        <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.34469 10.125L9.86325 6.86742H6.62096V4.75348C6.62096 3.86227 7.07388 2.99355 8.526 2.99355H10V0.220078C10 0.220078 8.66239 0 7.38349 0C4.71337 0 2.96806 1.56023 2.96806 4.38469V6.86742H0V10.125H2.96806V18H6.62096V10.125H9.34469Z" fill="#828282"/>
        </svg>
        </a>

        <a href="https://twitter.com/7amuniforms">
            <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.1498 3.73827C16.1612 3.90232 16.1612 4.06641 16.1612 4.23047C16.1612 9.23435 12.4493 15 5.66499 15C3.57488 15 1.63326 14.3789 0 13.3008C0.296966 13.3359 0.582471 13.3477 0.890863 13.3477C2.61546 13.3477 4.20305 12.75 5.47083 11.7305C3.84899 11.6953 2.48985 10.6055 2.02156 9.10547C2.25001 9.1406 2.47842 9.16405 2.71829 9.16405C3.0495 9.16405 3.38074 9.11715 3.6891 9.03516C1.99875 8.68357 0.730936 7.16015 0.730936 5.32031V5.27345C1.22204 5.5547 1.79315 5.73048 2.39844 5.75389C1.40478 5.07419 0.753788 3.91405 0.753788 2.60154C0.753788 1.89842 0.936496 1.25389 1.25631 0.691389C3.07232 2.98826 5.80203 4.48824 8.86293 4.65233C8.80583 4.37108 8.77155 4.07814 8.77155 3.78516C8.77155 1.6992 10.4162 0 12.4607 0C13.5228 0 14.4822 0.45703 15.1561 1.19531C15.9898 1.03126 16.7893 0.714835 17.4975 0.281252C17.2233 1.16018 16.6409 1.89846 15.8756 2.36718C16.618 2.28519 17.3376 2.0742 18 1.78126C17.4975 2.53123 16.8693 3.19917 16.1498 3.73827Z" fill="#828282"/>
            </svg>
        </a>
    </div>
</div>
