<div class="card {{property.genSelected}}" myData="{{json property}}">

	<div>
		<button class="btn small active {{toLowerCase property.status}}">{{toUpperCase property.status}}</button>

		<p class="heavy"> {{property.town}}, <br>{{property.city}}</p>
		<p> {{property.size}} <br>Rs {{desiPrice property.demand}} </p>
	</div>

	<p> {{property.details}} </p> 
        {{#if viewMore}}
        <a href="/{{data.brand}}/gen/page/showProperty/{{property.slug}}" class="viewMore">View More →</a>
        {{/if}}

</div> 
