<style>

    .contained {
        max-width: 600px;
        margin: auto;
    }

    .contained .header {
        text-align: right;
    }

    .contained .header > p {
        display: inline-block;
    }

    .contained .header > p:hover {
        cursor: pointer;
    }

    .contained > .bar {
        padding: 6px 20px;
        border: 3px solid whitesmoke;
        background: white;
    }
    
    .contained .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .contained .open {
        padding-top: 10px;
    }

    .contained h3 {
        display: flex;
        align-items: center;
    }

    .contained h3 > i.fa {
        margin-right: 10px;
    }

    .contained i.fa {
        font-size: 12px;
    }

    .contained label {
        margin-bottom: 8px;
        display: block;
        text-transform: uppercase;
        font-size: 13px;
    }

    .contained input {
        padding: 15px 10px;
        border: 2px solid whitesmoke;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 13px;
        background: whitesmoke;
        font-size: 15px;
    }

    .contained .open > p.note {
        margin: 0px;
        margin-bottom: 15px;
        margin-top: -3px;

        font-size: 12px;
    }

    .contained .open > p.note > a {
        font-size: 12px;
        text-decoration: none;
        padding-bottom: 3px;
        font-weight: bold;
    }

    .contained input[disabled] {
        background: whitesmoke;
        border: 2px solid whitesmoke;
        background-image: 
            url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);
    }

    .contained .imgUpload {
        position: relative;
        margin-bottom: 12px;
    }

    .contained .imgUpload > img.logo {
        width: 150px;
        height: 150px;
    }

    .contained .imgUpload > img.meta {
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .contained .imgUpload > img {
        background: whitesmoke;
        border: solid whitesmoke;
        padding: 2px;
    }

    .contained .imgUpload > .uploader{
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: white;
        opacity: 0.9;
        width: 100%;
        height: 100%;
    }

    .contained .imgUpload:hover > .uploader, 
    .contained .imgUpload.loading > .uploader {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contained .uploader > .fa-plus {
        font-size: 12px;
        color: black;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contained .imgUpload:hover {
        cursor: pointer;
    }

    .open > button {
        background: white;
        padding: 10px 10px;
        font-size: 14px;
        border: 2px solid black;
        color: black;
    }


</style>

<div class="contained collapseToggles">

    <div class="bar header">

        <p onclick="collapseToggle(this)" class="closed">

            <span>Expand All</span>
            <span class="d-none">Collapse All</span>
        
        </p>

    </div>
    <div class="bar toggleable closed">

        <div class="head closed" onclick="smallCollapseToggle(this)">

            <h3><i class="fa fa-plus"></i><i class="fa fa-minus d-none"></i>Personal Info</h3>
            <i class="fa fa-check"></i>
            <i class="d-none fa fa-circle-notch spin"></i>
            <i class="d-none fa fa-exclamation"></i>

        </div>

        <div class="open d-none">

            <label for="name">Full Name</label>
            <input name="name" onkeyup="saveSettings(this, '{{data.person._id}}', 'users')" type="text" placeholder="" value="{{data.person.name}}">
            
            <label for="email">Email</label>
            <p class="note">The email used to login to this account.</p>
            <input name="email" onkeyup="saveSettings(this, '{{data.person._id}}', 'users')" type="text" placeholder="" value="{{data.person.email}}">
        
            <label for="mobile">Phone</label>
            <input name="mobile" onkeyup="saveSettings(this, '{{data.person._id}}', 'users')" type="text" placeholder="" value="{{data.person.mobile}}">
        
        </div>

    </div>

    <div class="bar toggleable closed">

        <div class="head closed" onclick="smallCollapseToggle(this)">

            <h3><i class="fa fa-plus"></i><i class="fa fa-minus d-none"></i>Change Password</h3>

        </div>

        <div class="open d-none">

            <label for="oldPass">Old Password</label>
            <input name="oldPass" type="password" placeholder="" />
            
            <label for="newPass">New Password</label>
            <input name="newPass" type="password" placeholder="" />
     
            <label for="cfmPass">Confirm New Password</label>
            <input name="cfmPass" type="password" placeholder="" />

            <button onclick="changePassword(this, '{{data.person._id}}', 'users')">Change Password</button>
        
        </div>

    </div>

    <div class="bar toggleable closed" >

        <div class="head closed" onclick="smallCollapseToggle(this)">

            <h3><i class="fa fa-plus"></i><i class="fa fa-minus d-none"></i>Brand Identity</h3>
            <i class="fa fa-check"></i>
            <i class="d-none fa fa-circle-notch spin"></i>
            <i class="d-none fa fa-exclamation"></i>

        </div>

        <div class="open d-none">

            <label for="brand">Brand Name</label>
            <p class="note">Brand name can not be changed.</p>
            <input name="brand" type="text" placeholder="" value="{{brand.brand}}" disabled>

            <label for="logo">Brand Logo</label>

            <div class="imgUpload d-inline-block">

                {{#if brand.brandLogo}}
                <img class="logo" src="{{brand.brandLogo.photo.large}}" imgId={{brand.brandLogo.imgId}}>
                {{else}}
                <img class="logo" src="https://res.cloudinary.com/miscellaneous/image/upload/v1657685257/myapp/Picture2_1.png" >
                {{/if}}

                <div class="uploader">
                    <i class="fas fa-plus" onclick="uploadMultipleImages(this)"></i>
                    <input class="d-none" type="file" name="brandLogo" accept="image/*" onchange="readSinglePhotoURL(this, '{{brand._id}}', 'myapp-themes' )" />
                    <i class="fas fa-circle-notch spin font-black d-none"></i>
                </div>
            
            </div>

            <label for="metaImg">Brand Meta Image</label>
            <p class="note">Upload img of 1200 x 630 px (1.91:1).</p>
            <div class="imgUpload d-block w-100">


                {{#if brand.brandMetaImg}}
                <img class="meta" src="{{brand.brandMetaImg.photo.large}}" imgId={{brand.brandLogo.imgId}}>
                {{else}}
                <img class="meta" src="https://res.cloudinary.com/miscellaneous/image/upload/v1657685081/myapp/Picture_1.png" >
                {{/if}}

                <div class="uploader">
                    <i class="fas fa-plus" onclick="uploadMultipleImages(this)"></i>
                    <input class="d-none" type="file" name="brandMetaImg" accept="image/*" onchange="readSinglePhotoURL(this, '{{brand._id}}', 'myapp-themes' )" />
                    <i class="fas fa-circle-notch spin font-black d-none"></i>
                </div>
            
            </div>

            <label for="brandEmail">Business Email</label>
            <p class="note">Currently supporting <a href="https://zoho.com" target="_blank">Zoho</a> Mail.</p>
            <input type="email" name="brandEmail" onkeyup="saveSettings(this, '{{brand._id}}', 'myapp-themes')" placeholder="" value="{{brand.brandEmail}}" />

            <label for="brandEmailServerLoc">Business Email Server Location</label>
            <input type="email" name="brandEmailServerLoc" onkeyup="saveSettings(this, '{{brand._id}}', 'myapp-themes')" placeholder="" value="{{brand.brandEmailServerLoc}}" />

            <label for="brandPass">Business Email Password</label>
            <input type="text" name="brandEmailPassword" onkeyup="saveSettings(this, '{{brand._id}}', 'myapp-themes')" placeholder="" value="{{brand.brandEmailPassword}}" />

            <label for="brandMobile">Business Mobile </label>
            <input type="text" name="brandMobile" onkeyup="saveSettings(this, '{{brand._id}}', 'myapp-themes')" placeholder="" value="{{brand.brandMobile}}" />

            <label for="slogan">Business Slogan</label>
            <input type="text" name="brandSlogan" onkeyup="saveSettings(this, '{{brand._id}}', 'myapp-themes')" placeholder="" value="{{brand.brandSlogan}}" />

            <label for="desc">Business Description</label>
            <input type="textarea" name="brandDesc" onkeyup="saveSettings(this, '{{brand._id}}', 'myapp-themes')" placeholder="" value="{{brand.brandDesc}}" />

            <label for="address">Business Postal Address</label>
            <input type="textarea" name="brandAddress" onkeyup="saveSettings(this, '{{brand._id}}', 'myapp-themes')" placeholder="" value="{{brand.brandAddress}}" />
        
            <label for="brandGooglePin">Business Location Pin</label>
            <input type="text" name="brandGooglePin" placeholder="https://google.com/your-location-pin"  onkeyup="saveSettings(this, '{{brand._id}}', 'myapp-themes')" placeholder="" value="{{brand.brandGooglePin}}" />
        
        </div>

    </div>

    <div class="bar toggleable closed" onclick="smallCollapseToggle(this)">

        <div class="head closed">

            <h3><i class="fa fa-plus"></i><i class="fa fa-minus d-none"></i>Airtable Pull</h3>
            <i class="fa fa-check"></i>
            <i class="d-none fa fa-circle-notch spin"></i>
            <i class="d-none fa fa-exclamation"></i>

        </div>

        <div class="open d-none">

            <label for="baseID">Base ID</label>
            <p class="note"><a href="https://airtable.com/api" target="_blank">https://airtable.com/api</a></p>
            <input type="text" placeholder="" />

            <label for="baseAPIKey">Base API Key</label>
            <p class="note"><a href="https://airtable.com/api" target="_blank">https://airtable.com/api</a></p>
            <input type="text" placeholder="" />

        </div>

    </div>

    <div class="bar toggleable closed" >

        <div class="head closed" onclick="smallCollapseToggle(this)">

            <h3><i class="fa fa-plus"></i><i class="fa fa-minus d-none"></i>Slack Channel</h3>
            <i class="fa fa-check"></i>
            <i class="d-none fa fa-circle-notch spin"></i>
            <i class="d-none fa fa-exclamation"></i>

        </div>

        <div class="open d-none">

            <label for="slackName">Slack URL</label>
            <p class="note">Copy your slack webhook url from <a href="https://api.slack.com/apps/A03R4FNSNKB/incoming-webhooks?" target=_blank>this link</a> and paste below.</p>
            <input type="text" name="brandSlackURL" placeholder=""  value="{{brand.brandSlackURL}}" />
        
            <button class="btn" onclick="saveSlackAPI(this, '{{brand._id}}', 'myapp-themes' )">Save</button>

        </div>

    </div>

    <div class="bar toggleable closed" onclick="smallCollapseToggle(this)">

        <div class="head closed">

            <h3><i class="fa fa-plus"></i><i class="fa fa-minus d-none"></i>Social Media Links</h3>
            <i class="fa fa-check"></i>
            <i class="d-none fa fa-circle-notch spin"></i>
            <i class="d-none fa fa-exclamation"></i>
        
        </div>

        <div class="open d-none">

            <label for="twitter">Twitter</label>
            <input type="text" placeholder="https://twitter.com/your-link" />

            <label for="facebook">Facebook</label>
            <input type="text" placeholder="https://facebook.com/your-link" />

            <label for="insta">Instagram</label>
            <input type="text" placeholder="https://instagram.com/your-link" />

            <label for="youtube">YouTube</label>
            <input type="text" placeholder="https://youtube.com/your-link" />

            <label for="linkedin">LinkedIn</label>
            <input type="text" placeholder="https://linkedin.com/your-profile" />

        </div>

    </div>

</div>
