<style>
    table {
        overflow: scroll;
        box-sizing: border-box;
        max-width: fit-content;
        width: 100%;
        display: block;
        background: black;
        margin: 10px 0;
        padding-left: 78px;
    }

    th, td {
        max-width: 400px;
        padding: 7px 10px;
        overflow: scroll;
        white-space: nowrap;
        border: 4px solid whitesmoke;
        background: whitesmoke;
    }

    td:focus-visible {
        outline: none;
    }

    table::-webkit-scrollbar, 
    th::-webkit-scrollbar, 
    td::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    i.fas {
        text-decoration: none;
        color: #F2F2F2;
        cursor: pointer;
    }

    i.fas.black {
        color: black;
    }

    tr > *:nth-child(1) {
        position: absolute;
        z-index: 10;
        background: black;
        border: 4px solid black;
        margin-left: -80px;
        min-width: auto !important;
    }

    tr > td:nth-child(2) {
        font-size: 9px;
    }

    .icon {
        width: 25px;
        display: inline-block;
        text-align: center;
    }

    td {
        color: darkgrey;
        position: relative;
        min-width: 100px;
    }

    td > div {
        position: absolute;
        left: 0;
        top: 0;
    }

    td[contenteditable = true] {
        color: black;
    }

    .mt-20 {
        margin-top: 20px;
    }

    .block > p {
        display: block;
        padding: 5px 12px;
        background: white;
        font-weight: bold;
        color: cornflowerblue;
    }

    .note {
        line-height: 1.5;
    }

    .ht-auto {
        height: auto;
    }

    .ck.ck-editor {
        border: 2px solid black;
        margin-bottom: 10px;
    }
    .page {
        text-align: center;
    }
</style>

<div class="table">
    <button class="btn" onclick="openContainerLayer('.table','.airtableKeys')">Airtable Pull</button>
    <!-- <button class="btn" onclick="addNewRow()">Add New Row</button> -->
    <button class="btn saving d-none">SAVING...</button>
    <div id="hiddenFields"> </div>
    <table schema="{{json schema}}">
        <tbody>

            <tr>
                <th>
                    <span class="icon"></span>
                    <span class="icon"></span>
                </th>
                {{#each data.th}}
                    <th class="headings" formname="{{this}}"  index="col{{@index}}" onclick="hideMe(this)">{{camelToWord this}}</th>
                {{/each}}
            </tr>

            {{#each dataRows}}
            <tr id="row{{@index}}">
                <td>
                    {{#if (matchValues this.fixed "true")}}
                        {{#if (matchValues this.noClone "true")}}
                        <a class="icon" href=""></a>
                        {{else}}
                        <a my-data="{{json this}}" class="icon" onclick="addNewRow(cloneMe, this, '{{../data.modelName}}')"><i class="fas fa-copy"></i></a>
                        {{/if}}
                    {{else}}
                    <a class="icon" onclick="deleteMe(this)" ><i class="fas fa-trash"></i></a>
                    {{/if}}
                    <a class="icon" onclick="createForm(this)"><i class="fas fa-expand-alt"></i></a>
                </td>
                {{#each this.array}}
                    {{#if (checkHtmlString this)}}

                    <td class="col{{@index}} page" mydata="{{this}}">
                        <a class="icon" onclick="createForm(this)" >
                            <i class="fas fa-expand-alt black"></i>
                        </a>
                    </td>

                    {{else}}

                    <td 
                        class="col{{@index}}" 
                        {{#unless (matchValues @index 0)}} contenteditable=true {{/unless}} 
                        onkeyup="saveInput(this,'{{../array.[0]}}','td')" >{{#unless (matchValues this '[object Object]')}}{{this}}{{/unless}}
                    </td>

                    {{/if}}
                {{/each}}
            </tr>
            {{/each}}
            <tr class="d-none">
            <td>
                <a class="icon" onclick="deleteMe(this)" ><i class="fas fa-trash"></i></a>
                <a class="icon" onclick="createForm(this)"><i class="fas fa-expand-alt"></i></a>
            </td>
            {{#each data.th}}
            <td class="col{{@index}}" {{#unless (matchValues @index 0)}} contenteditable=true {{/unless}}></td>
            {{/each}}
        </tr>

        </tbody>
    </table>

</div>

<div class="airtableKeys d-none">

    <p class="heading">TABLE NAME</p>
    <p class="note">Exact name of your Table</p>
    <input name="tableName" type="text" value="{{data.airtable.tableName}}">

    <p class="heading">BASE ID</p>
    <p class="note"><a href="https://airtable.com/api" target="_blank">https://airtable.com/api</a></p>
    <input name="baseId" type="text" value="{{data.airtable.basePin}}">

    <p class="heading">BASE API KEY</p>
    <p class="note"><a href="https://airtable.com/account" target="_blank">https://airtable.com/account</a></p>
    <input name="baseAPIKey" type="text" value="{{data.airtable.baseAPIKey}}">

    <button class="btn close mt-20" onclick="openContainerLayer('.airtableDone','.table')">Close</button>
    <button class="btn mt-20 ht-auto" onclick="saveAirtableUrls(this)">Next →</button>
    
</div>

<div class="airtablePull d-none">

    <p class="heading">BASE FORMAT</p>
    <p class="note">Your table `{{data.airtable.tableName}}` needs following mendatory columns.</p>
    <div class="block">

        {{#each data.th}}
            <p>{{this}}</p>
        {{/each}}

    </div>

    <button class="btn close mt-20" onclick="openContainerLayer('.airtableDone','.table')">Close</button>
    <button class="btn mt-20" onclick="openContainerLayer('.airtablePull','.airtableKeys')">Back</button>
    <button class="btn mt-20" onclick="importAndMerge(this,'{{data.input}}');">Import & Merge Data →</button>

</div>

<div class="airtableDone d-none">

    <p class="heading">COMPLETED</p>
    <p class="note">Airtable data has been imported.</p>
    <button class="btn mt-20" onclick="openContainerLayer('.airtableDone','.airtablePull')">Back</button>
    <button class="btn close mt-20" onclick="reloadPjax();">Close</button>

</div>

