    <header id="ntheader" class="ntheader header_3 h_icon_iccl " we-file="partials/kalles/navbar.hbs">
        <div class="kalles-header__wrapper ntheader_wrapper pr z_200">
            <div id="kalles-section-header_top">
                <div class="h__top bgbl pt__10 pb__10 fs__12 flex fl_center al_center">
                    <div class="container">
                        <div class="row al_center">
                            <div class="col-lg-4 col-12 tc tl_lg col-md-12 ">
                                <div class="header-text">
                                    <i class="pegk pe-7s-call"></i> {{data.owner.mobile}} <i class="pegk pe-7s-mail ml__15"></i>
                                    <a class="cg" href="mailto:{{data.owner.email}}">{{data.owner.email}}</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 tc col-md-12 ">

                                <div id="header_banner" class="header-text" we-ser=2  we-label="Banner">

                                    <span 
                                        e-ser=auto
                                        e-attr="html" 
                                        e-label="Span"
                                        >
                                        Summer sale discount off <span class="cr">50%</span>!
                                    </span>
                                    
                                    <a href="shop.html"
                                       e-ser=auto
                                       e-attr="html, href"
                                       e-label="Button"
                                       >
                                       Shop Now</a>

                                </div>

                            </div>
                            <div class="col-lg-4 col-12 tc col-md-12 tr_lg ">
                                <!-- HIDING CURRENCY 
                                <div class="nt_currency pr cg currencies sp_currencies wsn dib  cur_stt_0">
                                    <span class="nt-currency-flag--usd--w16-h-12 active ">USD</span><i class="facl facl-angle-down ml__5"></i>
                                    <ul class="pa pe_none ts__03 bgbl ul_none tl op__0 z_100 r__0 pt__15 pb__15 pr__15 pl__15">
                                        <li><a class="nt-currency-flag--aud--w16-h-12 cg db" href="#">AUD</a></li>
                                        <li><a class="nt-currency-flag--cad--w16-h-12 cg db" href="#">CAD</a></li>
                                        <li><a class="nt-currency-flag--dkk--w16-h-12 cg db" href="#">DKK</a></li>
                                        <li><a class="nt-currency-flag--eur--w16-h-12 cg db" href="#">EUR</a></li>
                                        <li><a class="nt-currency-flag--gbp--w16-h-12 cg db" href="#">GBP</a></li>
                                        <li><a class="nt-currency-flag--hkd--w16-h-12 cg db" href="#">HKD</a></li>
                                        <li><a class="nt-currency-flag--jpy--w16-h-12 cg db" href="#">JPY</a></li>
                                        <li><a class="nt-currency-flag--nzd--w16-h-12 cg db" href="#">NZD</a></li>
                                        <li><a class="nt-currency-flag--sgd--w16-h-12 cg db" href="#">SGD</a></li>
                                        <li><a class="nt-currency-flag--usd--w16-h-12 cg db selected" href="#">USD</a>
                                        </li>
                                    </ul>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sp_header_mid" >
                <div class="header__mid">
                    <div class="container">
                        <div class="row al_center css_h_se">
                            <div class="col-md-4 col-3 dn_lg">
                                <a href="#" id="mobilenavbar" data-id="#nt_menu_canvas" class="push_side push-menu-btn  lh__1 flex al_center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16">
                                        <rect width="30" height="1.5"></rect>
                                        <rect y="7" width="20" height="1.5"></rect>
                                        <rect y="14" width="30" height="1.5"></rect>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-4 col-6 tc tl_lg">
                                <div class=" branding ts__05 lh__1">
                                    <a class="dib" href="/{{data.brand}}/gen/page/landingPage/n">
                                        <img class="w__95 logo_normal dn db_lg" src="{{data.owner.brandLogo.photo.small}}" alt="Kalles Template">
                                        <img class="w__100 logo_sticky dn" src="{{data.owner.brandLogo.photo.small}}" alt="Kalles Template">
                                        <img class="w__100 logo_mobile dn_lg" src="{{data.owner.brandLogo.photo.small}}" alt="Kalles Template">
                                    </a>
                                </div>
                            </div>
                            <div class="col dn db_lg">
                                <nav id="navbar" class="nt_navigation kl_navigation tc hover_side_up nav_arrow_false">
                                    <ul id="nt_menu_id" class="nt_menu in_flex wrap al_center">
                                        <li class="type_mega menu_wid_cus menu-item has-children menu_has_offsets menu_center pos_center">
                                            <a class="lh__1 flex al_center pr kalles-lbl__nav-sale" href="shop-filter-sidebar.html">Sale
                                                <span class="lbc_nav">Sale</span>
                                            </a>
                                            <div class="cus sub-menu">
                                                <div class="container megamenu-content-1200px">
                                                    <div class="row lazy_menu lazyload" data-jspackery='{ "itemSelector": ".sub-column-item","gutter": 0,"percentPosition": true,"originLeft": true }'>
                                                        <div class="type_mn_pr menu-item sub-column-item col-12">
                                                            <div class="prs_nav js_carousel nt_slider products nt_products_holder row al_center row_pr_1 cdt_des_1 round_cd_false nt_cover ratio_nt position_8 flickity-enabled is-draggable" data-flickity='{"imagesLoaded": 0,"adaptiveHeight": 0, "contain": 1, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": 1,"prevNextButtons": 1,"percentPosition": 1,"pageDots": 0, "autoPlay" : 0, "pauseAutoPlayOnHover" : 1, "rightToLeft": false }'>
                                                                {{#each data.sale}}
                                                                <div class="col-lg-3 col-md-12 col-12 pr_animated done mt__30 pr_grid_item product nt_pr desgin__1">
                                                                    <div class="product-inner pr">
                                                                        <div class="product-image pr oh lazyload">
                                                                        <span class="tc nt_labels pa pe_none cw">
                                                                            <span class="nt_label new">{{this.sale}}</span>
                                                                        </span>
                                                                            <a class="d-block" href="product-detail-layout-01.html">
                                                                                <div class="pr_lazy_img main-img nt_img_ratio nt_bg_lz lazyload padding-top__127_571" data-bgset="{{this.photos.0.medium}}"></div>
                                                                            </a>
                                                                            <div class="hover_img pa pe_none t__0 l__0 r__0 b__0 op__0">
                                                                                <div class="pr_lazy_img back-img pa nt_bg_lz lazyload padding-top__127_571" data-bgset="{{this.photos.0.medium}}"></div>
                                                                            </div>
                                                                            <div class="hover_button op__0 tc pa flex column ts__03">
                                                                                <a class="pr nt_add_qv js_add_qv cd br__40 pl__25 pr__25 bgw tc dib ttip_nt tooltip_top_left" href="#">
                                                                                    <span class="tt_txt">Quick view</span>
                                                                                    <i class="iccl iccl-eye"></i>
                                                                                    <span>Quick view</span>
                                                                                </a>
                                                                                <a href="#" class="pr pr_atc cd br__40 bgw tc dib js__qs cb chp ttip_nt tooltip_top_left">
                                                                                    <span class="tt_txt">Quick Shop</span>
                                                                                    <i class="iccl iccl-cart"></i>
                                                                                    <span>Quick Shop</span>
                                                                                </a>
                                                                            </div>
                                                                            <div class="product-attr pa ts__03 cw op__0 tc">
                                                                                <p class="truncate mg__0 w__100">XS, S, M, L, XL</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-info mt__15">
                                                                            <h3 class="product-title pr fs__14 mg__0 fwm">
                                                                                <a class="cd chp" href="product-detail-layout-01.html">{{this.name}}</a>
                                                                            </h3>
                                                                            <span class="price dib mb__5">$30.00</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {{/each}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="type_dropdown menu-item has-children menu_has_offsets menu_right pos_right">
                                            <a class="lh__1 flex al_center pr" href="/{{data.brand}}/gen/page/kallesShop/n?school=City School">City School</a>
                                            <div class="sub-menu">
                                                <div class="lazy_menu lazyload">
                                                    <div class="menu-item">
                                                        <a href="/{{data.brand}}/gen/page/kallesShop/n?school=City School&type=uniform">School Uniforms</a></div>
                                                    <div class="menu-item">
                                                        <a href="/{{data.brand}}/gen/page/kallesShop/n?school=City School&type=books">Books</a>
                                                    </div>
                                            </div>
                                        </li>
                                        <li class="type_dropdown menu-item has-children menu_has_offsets menu_right pos_right">
                                            <a class="lh__1 flex al_center pr" href="/{{data.brand}}/gen/page/kallesShop/n?school=Allied School">Allied School</a>
                                            <div class="sub-menu">
                                                <div class="lazy_menu lazyload">
                                                    <div class="menu-item">
                                                        <a href="/{{data.brand}}/gen/page/kallesShop/n?school=Allied School&type=uniform">School Uniforms</a></div>
                                                    <div class="menu-item">
                                                        <a href="/{{data.brand}}/gen/page/kallesShop/n?school=Allied School&type=books">Books</a>
                                                    </div>
                                            </div>
                                        </li>
                                        <li class="type_dropdown menu-item has-children menu_has_offsets menu_right pos_right">
                                            <a class="lh__1 flex al_center pr" href="/{{data.brand}}/gen/page/kallesShop/n?school=Smart School">Smart School</a>
                                            <div class="sub-menu">
                                                <div class="lazy_menu lazyload">
                                                    <div class="menu-item">
                                                        <a href="/{{data.brand}}/gen/page/kallesShop/n?school=Smart School&type=uniform">School Uniforms</a></div>
                                                    <div class="menu-item">
                                                        <a href="/{{data.brand}}/gen/page/kallesShop/n?school=Smart School&type=books">Books</a>
                                                    </div>
                                            </div>
                                        </li>
                                        <!--
                                        <li class="type_dropdown menu-item has-children menu_has_offsets menu_right pos_right">
                                            <a class="lh__1 flex al_center pr" href="n?school=Dar e Arqm">Dar-e-Arqam</a>
                                            <div class="sub-menu">
                                                <div class="lazy_menu lazyload">
                                                    <div class="menu-item">
                                                        <a href="n?school=Dar e Arqm&type=uniform">School Uniforms</a></div>
                                                    <div class="menu-item">
                                                        <a href="n?school=Dar e Arqm&type=books">Books</a>
                                                    </div>
                                            </div>
                                        </li>
                                        -->
                                        <li class="type_dropdown menu-item has-children menu_has_offsets menu_right pos_right">
                                            <a class="lh__1 flex al_center pr" href="/{{data.brand}}/gen/page/kallesShop/n?school=Beacon House Schools Systems">Beacon House</a>
                                            <div class="sub-menu">
                                                <div class="lazy_menu lazyload">
                                                    <div class="menu-item">
                                                        <a href="/{{data.brand}}/gen/page/kallesShop/n?school=Beacon House Schools Systems&type=uniform">School Uniforms</a></div>
                                                    <div class="menu-item">
                                                        <a href="/{{data.brand}}/gen/page/kallesShop/n?school=Beacon House Schools Systems&type=books">Books</a>
                                                    </div>
                                            </div>
                                        </li>
                                        <li class="type_dropdown menu-item has-children menu_has_offsets menu_right pos_right">
                                            <a class="lh__1 flex al_center pr" href="blog-grid.html">Blogs</a>
                                            <div class="sub-menu">
                                                <div class="lazy_menu lazyload">
                                                    <div class="menu-item">
                                                        <a href="blog-grid.html">About Us</a>
                                                    </div>
                                                    <div class="menu-item">
                                                        <a href="blog-masonry.html">FAQs</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="type_dropdown menu-item has-children menu_has_offsets menu_right pos_right">
                                            <a class="lh__1 flex al_center pr" href="blog-grid.html">Find Order</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-lg-auto col-md-4 col-3 tr col_group_btns">
                                <div class="nt_action in_flex al_center cart_des_1">
                                    <a class="icon_search push_side cb chp" data-id="#nt_search_canvas" href="#">
                                        <i class="iccl iccl-search"></i></a>
                                    <div class="my-account ts__05 position-relative dn db_md">
                                        <a class="cb chp db push_side" href="#" data-id="#nt_login_canvas">
                                            <i class="iccl iccl-user"></i></a>
                                    </div>
                                    <div class="icon_cart pr">
                                        <a class="push_side position-relative cb chp db" href="#" data-id="#nt_cart_canvas"><i class="iccl iccl-cart pr"><span class="op__0 ts_op pa cart tcount bgb br__50 cw tc">{{countArray data.cart}}</span></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- +++++navbar -->
            </div>
        </div>
    </header>
