<!--filter result-->
<div class="result_clear mt__30 mb__20 dn">
    <div class="sp_result_html dib cb clear_filter"><span class="cp">{{countArray data.products}}</span> Products Found
    </div>
    <a class="clear_filter dib" href="#">Clear All Filter</a><a href="#" class="clear_filter dib bf_icons" aria-label="Remove tag Size  M">Size M</a><a href="#" class="clear_filter dib bf_icons" aria-label="Remove tag Color  Cyan">Color Cyan</a><a href="#" class="clear_filter dib bf_icons" aria-label="Remove tag Vendor  Kalles">Vendor Kalles</a>
</div>
<!--end filter result-->

<!--products list-->
<div class="on_list_view_false products nt_products_holder row fl_center row_pr_1 cdt_des_1 round_cd_false nt_cover ratio_nt position_8 space_30 nt_default">
    {{#if data.products}}

        {{#each data.products}}

        <div class="col-lg-3 col-md-3 col-6 pr_animated done mt__30 pr_grid_item product nt_pr desgin__1" myId="{{this._id}}">
            <div class="product-inner pr">
                <div class="product-image position-relative oh lazyload">
                    <span class="tc nt_labels pa pe_none cw">
                        {{#if this.new}}
                        <span class="nt_label new">New</span>
                        {{else if this.sale}}
                        <span class="onsale nt_label">
                            <span>{{this.sale}}</span>
                        </span>
                        {{/if}}
                    </span>
                    <a class="d-block" href="/{{../data.brand}}/gen/page/kallesProduct/{{this._id}}">
                        <div class="pr_lazy_img main-img nt_img_ratio nt_bg_lz lazyload padding-top__127_571" data-bgset="{{this.photos.0.medium}}"></div>
                    </a>
                    <div class="hover_img pa pe_none t__0 l__0 r__0 b__0 op__0">
                        <div class="pr_lazy_img back-img pa nt_bg_lz lazyload padding-top__127_571" data-bgset="{{this.photos.0.medium}}"></div>
                    </div>
                    <div class="hover_button op__0 tc pa flex column ts__03">
                        <a class="pr nt_add_qv js_add_qv cd br__40 pl__25 pr__25 bgw tc dib ttip_nt tooltip_top_left" href="#">
                            <span class="tt_txt">Quick view</span>
                            <i class="iccl iccl-eye"></i>
                            <span>Quick view</span>
                        </a>
                        <a href="#" class="pr pr_atc cd br__40 bgw tc dib js__qs cb chp ttip_nt tooltip_top_left">
                            <span class="tt_txt">Quick Shop</span>
                            <i class="iccl iccl-cart"></i>
                            <span>Quick Shop</span>
                        </a>
                    </div>
                    <div class="product-attr pa ts__03 cw op__0 tc">
                        <p class="truncate mg__0 w__100">XS, S, M, L, XL</p>
                    </div>
                </div>
                <div class="product-info mt__15">
                    <h3 class="product-title position-relative fs__14 mg__0 fwm">
                        <a class="cd chp" href="product-detail-layout-01.html">{{this.name}}</a>
                    </h3>
                    <span class="price dib mb__5">
                        {{#if this.sale}}
                        <del>PKR {{this.price}}</del>
                        <ins>PKR {{this.sale_price}}</ins>
                        {{else}}
                        PKR {{this.price}}
                        {{/if}}
                    </span>
                </div>
            </div>
        </div>

        {{/each}}
    {{else}}
    <p>No matching data found</p>
    {{/if}}
</div>
<!--end products list-->

<!--navigation-->
<div class="products-footer tc mt__40">
    <nav class="nt-pagination w__100 tc paginate_ajax">
        <ul class="pagination-page page-numbers">
            <li {{#unless data.pages.prev}} class="dn" {{/unless}} ><a class="prev page-numbers" href="">Prev</a></li>
            {{#each data.pages.array}}
            <li><a class="page-numbers {{#if this.current}} current {{/if}}" href="">{{this.pageNo}}</a></li>
            {{/each}}
            <li {{#unless data.pages.next}} class="dn" {{/unless}} ><a class="next page-numbers" href="">Next</a></li>
        </ul>
    </nav>
</div>
<!--end navigation-->
