<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Receipt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap" rel="stylesheet">
</head>

    <body style="
            max-width: 550px;
            margin: auto;
            font-family: 'Roboto';
            padding: 30px;
        ">

    <div class="receipt" style="
        max-width: 600px;
        width: 100%;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 18%);
        border-radius: 12px;
        padding-top: 0px;
        margin: auto;
        margin-bottom: 1rem;
        ">

        <div class="imgRow" style="
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: -6px;
        ">
            <img src="{{split1 data.resources.[0].logo}}" alt="" style="
        height: 62px;
        margin-left: -23px;
        display: block;
        margin-bottom: 0rem;
            ">
            <button class="copyText" onclick="copyText(this)" style="
        margin-left: auto;
        width: auto;
        padding: 0px;
        padding: 2px 11px;
        border-radius: 5px;
        border: 1px solid #F2F2F2;
        text-decoration: none;
        background: #EB5757;
        color: white;
        font-weight: 300;
        font-size: 17px;
                ">Copy Receipt Link</button>
        </div>

        <div class="firstRow " style="
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 2rem;
        display: flex;
        margin-top: 10px;
        margin-bottom: -6px;
        ">
            
            <div class="" style="
        margin-right: 15px;
            ">
                <h3 style="
        font-weight: 300;
        font-size: 12px;
        line-height: 1.0;
        color: #333333;
                    ">ORDER #</h3>
                <p id="orderNo" style="
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;
        margin-top: -10px;
                ">{{data.order.ser}}</p>
            </div>

            <div class="" style="
        margin-left: auto;
        margin-right: 200px;
                ">
                <h3 style="
        font-weight: 300;
        font-size: 12px;
        line-height: 1.0;
        color: #737272;
                    ">STATUS</h3>
                <p style="
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;
        margin-top: -10px;
                ">{{data.order.status}}</p>
            </div>
        
        </div>

        <div class="" style="
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 2rem;
        ">
            <h3 style="
        font-weight: 300;
        font-size: 12px;
        line-height: 1.0;
        color: #333333;
            ">DATE/ TIME</h3>
            <p style="
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;
        margin-top: -10px;
            ">{{getFormattedDateTimeMongoId data.order._id}}</p>
        </div>


        <div class="" style="
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 2rem;
        ">
            <h3 style="
        font-weight: 300;
        font-size: 12px;
        line-height: 1.0;
        color: #333333;
            ">NAME</h3>
            <p style="
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;
        margin-top: -10px;
            ">{{data.order.name}}</p>
        </div>

        <div class="" style="
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 2rem;
        ">
            <h3 style="
        font-weight: 300;
        font-size: 12px;
        line-height: 1.0;
        color: #333333;
            ">SHIPPING ADDRESS</h3>
            <p style="
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;
        margin-top: -10px;
            ">{{data.order.address}}</p>
        </div>
        <div class="" style="
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 2rem;
        ">
            <h3 style="
        font-weight: 300;
        font-size: 12px;
        line-height: 1.0;
        color: #333333;
            ">EMAIL</h3>
            <p style="
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;
        margin-top: -10px;

            ">{{data.order.email}}</p>
        </div>

        <div class="" style="
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 2rem;
        ">
            <h3 style="
        font-weight: 300;
        font-size: 12px;
        line-height: 1.0;
        color: #333333;
            ">MOBILE NUMBER</h3>
            <p style="
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;
        margin-top: -10px;
            ">{{data.order.mobile}}</p>
        </div>

        <h3 class="orderSummary" style="
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 1rem;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.0;
        color: #333333;
        ">
        ORDER SUMMARY</h3>
    
        <article class="" style="
        background: whitesmoke;
        padding-bottom: 2rem;
        padding-top: 1rem;
        border-top: 1px dashed black;
            ">

            {{#each data.meta}}
            <p class="itemRow items" style="
        padding-left: 3rem;
        padding-right: 3rem;
        line-height: 1.5;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        color: #4F4F4F;
        font-weight: 300;
            ">
                <span>{{this.product.name}} ({{this.size.label}}) <strong>x {{this.quantity}} </strong></span>

                {{#if this.product.sale_price}}

                <span style="
        color: black;
        font-weight: bold;
                    ">{{this.quantity}} x PKR {{this.product.sale_price}}</span>

                {{else}}

                <span style="
        color: black;
        font-weight: bold;
                    ">{{this.quantity}} x PKR {{this.product.price}}</span>

                {{/if}}

            </p>

            {{/each}}

            <p class="itemRow" style="
        padding-left: 3rem;
        padding-right: 3rem;
        line-height: 1.5;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        color: #4F4F4F;
        font-weight: 300;
            ">
                <span>Total Amount</span>
                <span style="
        color: black;
        font-weight: bold;
                    ">PKR {{calcTotalPrice data.meta}}</span>
            </p>

            <p style="
        padding-left: 3rem;
        padding-right: 3rem;
        line-height: 1.5;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        color: #4F4F4F;
        font-weight: 300;
            ">In'sha'Allah, you will receive this order in next 2 days. In case of a problem, please contact <br> 0331-7AM7AM7</p>

        </article>

    </div>

    </p>

</body>
</html>
