
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing · {{data.pageName}}</title>
<style>

body {
    padding: 0;
    margin: 0;
}

.editors {
    width: 100vw;
    height: 100vh;
    border: 10px solid red;
    box-sizing: border-box;
    display: flex;
}

.editors > * {
    box-sizing: border-box;
    padding: 4px;
    overflow: hidden;
}

.editors > .html {
    border: 4px solid #27AE60;
}

.editors > .css {
    border: 4px solid orange;
}

.editors > .js {
    border: 4px solid blue;
}

.editors > .fullScreen {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
    background: white;
}

.editors > .fullScreen > .editor {
    width: 99vw;
    height: 89vh;
    box-sizing: border-box;
}

.dev > * {
    width: 100%;
    border: 0px;
}

.dev > p {
    font-size: 14px;
    font-weight: bold;
    padding: 8px 10px;
    background: white;
    position: relative;
    display: inline-block;
    width: initial;
    border-radius: 5px;
    font-family: system-ui;
    color: lightseagreen;
    line-height: 1.5;
    margin-top: 0px;
}

.dev > textarea {
    background: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    font-family: monospace;
}

.dev > .top-bar {
    display: flex;
    align-items: center;
    line-height: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.dev > .top-bar > input {
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    padding: 4px 5px;
    box-sizing: border-box;
    width: 100%;
}

.dev > .top-bar > p {
    line-height: 0;
    padding: 0;
    margin: 0;
    margin-left: 4px;
    box-sizing: border-box;
}

.dev > .editor {
    position: relative;
    margin-top: 10px;
    margin-bottom: 8px;
    height: 500px;
}

.dev > .editor > * {
    height: 100%;
    width: 100%;
}

.dev > .save-button {
    background: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 8px 8px;
    font-weight: bold;
    width: fit-content;
}

.minimize {
    display: none;
}

.bottom_buttons {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 100;
}

.bottom_buttons > button {
    padding: 9px;
    font-weight: bold;
    color: #333333;
}

.bottom_buttons > [block="html"] {
    border: 1px solid #6FCF97;
    background: #6FCF97;
}

.bottom_buttons > [block="css"] {
    border: 1px solid #F2994A;
    background: #F2994A;
}

.bottom_buttons > [block="js"] {
    border: 1px solid #2D9CDB;
    background: #2D9CDB;
}

    #shortCut:focus, 
    #shortCut:active,
    #shortCut:focus-within, 
    #shortCut:focus-visible {
        outline: none !important;
    }

    .inputOverlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        z-index: 100;
        display: flex;
        align-items: center;
    }

    .d-none {
        display: none;
    }


    .inputOverlay > input {
        padding: 8px;
        background: whitesmoke;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        color: dimgrey;
        font-size: 27px;
    }

    .inputOverlay > button {
        position: absolute;
        right: 0;
        transform: translate(-50%);
        padding: 8px;
    }

    .CodeMirror {
        height: 100%;
    }

</style>
</head>
<body>

    <div class="editors">

        {{#if data.file}}

            <iframe id="iframe" src="/{{data.brand}}/admin/page/{{data.pageName}}/{{data.manualInput}}" frameborder="0"></iframe>

        {{else}}

            <iframe src="" frameborder="0"></iframe>

        {{/if}}

        <div class="dev html" id="draggable">

            
            <div class="top-bar">
                <input type="text" placeholder="Search an html tag in File">
                <p onclick=minimize(this)>
                    <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="25" height="26" fill="#F2F2F2"/>
                    <path d="M17.9131 13.6348H7.79834V11.9062H17.9131V13.6348Z" fill="black"/>
                    </svg>
                </p>
                <p onclick=goFull(this)>
                    <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="25" height="26" fill="#F2F2F2"/>
                        <rect x="1" y="-1" width="10" height="10" transform="matrix(1 0 0 -1 7 17)" stroke="#333333" stroke-width="2"/>
                    </svg>
                </p>
            </div>
            <div class="editor" id="editor" value="{{data.file}}"></div>
            <button class="save-button" onclick=saveFile()>Save</button>
            
        </div>
        
        <div class="dev css" id="draggableCSS">
            
            <div class="top-bar">
                <input type="text" placeholder="Search a css tag in File">
                <p onclick=minimize(this)>
                    <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="25" height="26" fill="#F2F2F2"/>
                    <path d="M17.9131 13.6348H7.79834V11.9062H17.9131V13.6348Z" fill="black"/>
                    </svg>
                </p>
                <p onclick=goFull(this)>
                    <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="25" height="26" fill="#F2F2F2"/>
                        <rect x="1" y="-1" width="10" height="10" transform="matrix(1 0 0 -1 7 17)" stroke="#333333" stroke-width="2"/>
                    </svg>
                </p>
            </div>
            <div class="editor" id="editorCSS" value="{{data.file}}"></div>
            <button class="save-button" onclick=saveFile()>Save</button>
            
        </div>
        
        <div class="dev js" id="draggableJS">
            
            <div class="top-bar">
                <input type="text" placeholder="Search a css tag in File">
                <p onclick=minimize(this)>
                    <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="25" height="26" fill="#F2F2F2"/>
                    <path d="M17.9131 13.6348H7.79834V11.9062H17.9131V13.6348Z" fill="black"/>
                    </svg>
                </p>
                <p onclick=goFull(this)>
                    <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="25" height="26" fill="#F2F2F2"/>
                        <rect x="1" y="-1" width="10" height="10" transform="matrix(1 0 0 -1 7 17)" stroke="#333333" stroke-width="2"/>
                    </svg>
                </p>
            </div>
            <div class="editor" id="editorJS" value="{{data.file}}"></div>
            <button class="save-button" onclick=saveFile()>Save</button>
            
        </div>
    
    </div>


    <div class="inputOverlay d-none">

        <input type="number" id="shortCut" class="">
        <button onclick="changeLayout()">Enter</button>
    
    </div>


    <div class="bottom_buttons">
        <button onclick=maximize(this) block="html" class="active">HTML</button>
        <button onclick=maximize(this) block="css">CSS</button>
        <button onclick=maximize(this) block="js">JS</button>
    </div>
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="/root/codemirror/css/codemirror.css">
    <link rel="stylesheet" href="/root/codemirror/css/neo.css">
    <script src="/root/codemirror/js/codemirror.js"></script>
    <script src="/root/codemirror/js/xml.js"></script>

    <script>

        $(document).ready(function() {

            unwrapHTML();

        });

        let unwrapHTML = function() {

            let html = $("#editor").attr("value");

            console.log(html);
            console.log("unwrap the html and place values in each box");

        };

        var editor = CodeMirror(document.getElementById("editor"),{
            lineNumbers: true,
            lineWrapping: true,
            mode: "xml",
            htmlMode: true,
            value: $("#editor").attr("value"),
        });


        var editorCSS = CodeMirror(document.getElementById("editorCSS"),{
            lineNumbers: true,
            lineWrapping: true,
            mode: "xml",
            htmlMode: true,
            value: $("#editorCSS").attr("value"),
        });

        
        var editorJS = CodeMirror(document.getElementById("editorJS"),{
            lineNumbers: true,
            lineWrapping: true,
            mode: "xml",
            htmlMode: true,
            value: $("#editorJS").attr("value"),
        });

        let changeLayout = function() {

            let value = $(".inputOverlay > input").val();
            console.log(value);

            if (value.length != 4) return alert("please enter a value in range");

                    let sum = value.split('').reduce( (total, val, index) => {
                                total += Number(val);
                                return total;
                            },0);

                    value = value.split('').map( val => val/sum*100 );

                    console.log(sum, value);

            console.log(value[1]);
            $('.editors > *').eq(0).attr({style: `width: ${value[0]}%`}); 
            $('.editors > *').eq(1).attr({style: `width: ${value[1]}%`}); 
            $('.editors > *').eq(2).attr({style: `width: ${value[2]}%`}); 
            $('.editors > *').eq(3).attr({style: `width: ${value[3]}%`}); 

        }

        $( "body" ).keyup(function( event ) {

            if (event.keyCode == 27) {
                console.log('hiding the input fields');
                $(".inputOverlay")
                    .addClass('d-none');
                return;
            }

            if (event.keyCode == 13 && $(".inputOverlay").hasClass('d-none') == false) {
                console.log('change layout as per entered parameters');
                $(".inputOverlay > button")
                    .trigger("click");
                var e = $.Event( "keyup", { keyCode: 27 } );
                $('body').trigger(e);
                return;
            }

            if ( event.keyCode != 186 ) {
                console.log(event.keyCode);
                return;
            }

            
            console.log('semicolon pressed — open the keyboard');
            $(".inputOverlay")
                .removeClass("d-none")
                .find('input')
                .focus();

        });

        let goSmall = function(elem) {
            let editors = $(elem).closest('.dev');
            let lastPosn = editors.attr('lastPosn');
            editors.removeClass('fullScreen').attr({
                    style: lastPosn + "; z-index: 10",
                });   
            $(elem).attr({
                onclick: "goFull(this)"
            })
            // startEditor();
            console.log('went Small screen bro');
        }
    
        let goFull = function(elem) {
            let editors = $(elem).closest('.dev');
            let lastPosn = editors.attr('style');
            editors.addClass('fullScreen').attr({
                    style: "left: 0px; top: 0px; z-index: 90",
                    lastPosn: lastPosn,
                });   
            $(elem).attr({
                onclick: "goSmall(this)"
            })
            // startEditor();
            console.log('went Full screen bro');
        }

        let minimize = function(elem) {
            $(elem).closest(".dev").addClass('minimize');
            console.log('down bro');
        }
         
        let maximize = function(elem) {
            let className = $(elem).attr("block");
            $(`.${className}`).toggleClass('minimize');
            console.log('maximized bro');
        }

        $( function() {
            //$( "#draggable" ).draggable();
            //$( "#draggableCSS" ).draggable();
            //$( "#draggableJS" ).draggable();
        } );

        let saveFile = function() {

            let data = {
                html: editorHTML.getSession().getValue(),
            };

            $.ajax({
                url: "/{{data.brand}}/admin/data/saveWeb/{{data.pageName}}",
                method: "POST",
                data: data,
                success: (done) => {
                 $( '#iframe' ).attr( 'src', function ( i, val ) { return val; });
                 console.log(done);
                },
            }).fail( err => console.log(err) );

        };



    </script>
</body>
</html>



