</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing · {{data.pageName}}</title>

    <style>

        body {
            font-family: "Roboto";
            padding: 10px;
            margin: 0px;
            background: whitesmoke;
        }

        .d-none {
            display: none !important;
        }

        .d-block {
            display: block !important;
            width: fit-content;
        }

        .btn {
            padding: 7px 8px;
            border: 2px solid black;
            display: inline-block;
            margin-bottom: 4px;
            text-decoration: none;
            color: black;
            font-size: 15px;
            background: #f2f2f2;
            height: 37px;
            box-sizing: border-box;
            cursor: pointer;
        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .nav > p {
            font-size: 12px;
        }

        .nav > p > span {
            padding: 2px 5px;
        }

        .nav > p > span.link {
            font-weight: bold;
            color: black;
            background: antiquewhite;
        }

        .nav > p > span.link > a {
            text-decoration: none;
            color: inherit;
        }

        .nav > p > span.link:hover {
            background: white;
            cursor: pointer;
            opacity: 0.6;
        }

        .shadow {
            box-shadow: 0px 0px 10px rgb(0 0 0 / 18%);
        }

        .container {
            display: flex;
            height: 98vh;
            box-sizing: border-box;
        }

        .left {
            width: 25%;
            box-sizing: border-box;
            background: white;
            padding: 5px 1rem;
            border-radius: 10px;
            overflow: scroll;
        }

        .right {
            flex-grow: 1;
            box-sizing: border-box;
            max-width: 72%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }

        .right > iframe {
            width: 100%;
            box-sizing: border-box;
            height: 100%;
            border-radius: 10px;
        }

        .right > .top {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 10px;
        }

        .right > .top > p {
            padding: 0px 4px;
            margin: 0px;
        }

        .right > .top button {
            background: white;
            border: 0px solid white;
            padding: 10px;
            border-radius: 5px;
        }

        .right > .top button.active {
            background: black;
            color: white;
        }

        .fa {
            color: inherit;
        }

        .bar.header > p  {
            text-align: right;
            cursor: pointer;

        }

        .toggleable {
            margin-bottom: 10px;
            border: 3px solid whitesmoke;
        }
        
        .toggleable .fa {
            font-size: 12px;
        }

        .head {
            cursor: pointer;
            background: whitesmoke;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .head > div {
            display: flex;
            align-items: center;
            padding: 0 10px;
            box-sizing: border-box;
        }

        .head > div > h3 {
            padding-left: 10px;
        }

        .open > div {
            padding: 14px 10px;
            background: white;
        }

        .open a {
            text-decoration: none;
            color: inherit;
        }

        .open a.active {
            font-weight: bold;
        }

        .open label {
            display: block;
            font-weight: bold;
        }

        .open input {
            padding: 15px 10px;
            border: 2px solid whitesmoke;
            width: 100%;
            box-sizing: border-box;
            background: whitesmoke;
            font-size: 15px;
            margin-top: 10px;
        }


    </style>

</head>
<body>

    <div class="container">

        <div class="left shadow">

            <div class="nav">
            
                <p>
                    <span class="link"> <a href="/{{data.brand}}/admin/page/newDashboard/settings">Dashboard</a></span>
                    /
                    <span class="black">Edit Page</span>
                </p>

                <div class="actions">
                </div>
            
            </div>

            <div class="fields collapseToggles">

                <div class="bar header">

                    <p onclick="collapseToggle(this)" class="closed">

                        <span>Expand All</span>
                        <span class="d-none">Collapse All</span>
                    
                    </p>

                </div>

                <div class="bar toggleable closed">

                    <div class="head closed" onclick="smallCollapseToggle(this)">

                        <div>
                            <i class="fa fa-plus"></i>
                            <i class="fa fa-minus d-none"></i>
                            <h3>Page</h3>
                        </div>

                    </div>

                    <div class="open d-none">
                        <div>
                            <a href="/{{data.brand}}/admin/page/editWeb/kallesNavbar">Navbar</a>
                        </div>
                        <div>
                            <a class="active" href="/{{data.brand}}/admin/page/editWeb/landingPage">Landing Page</a>
                        </div>
                        <div>
                            <a href="/{{data.brand}}/admin/page/editWeb/kallesShoppingCart">Shopping Cart</a>
                        </div>
                        <div>
                            <a href="/{{data.brand}}/admin/page/editWeb/kallesShop">Shop</a>
                        </div>
                        <div>
                            <a href="/{{data.brand}}/admin/page/editWeb/kallesCheckOut">Checkout Page</a>
                        </div>
                        <div>
                            <a href="/{{data.brand}}/admin/page/editWeb/kallesFooter">Footer</a>
                        </div>
                    </div>
                
                </div>


                <div class="bar toggleable closed">

                    <div class="head closed" onclick="smallCollapseToggle(this)">

                        <div>
                            <i class="fa fa-plus"></i>
                            <i class="fa fa-minus d-none"></i>
                            <h3>Slide 1</h3>
                        </div>

                        <div class="icons">
                            <i class="fa fa-check d-none"></i>
                            <i class="d-none fa fa-circle-notch spin"></i>
                            <i class="d-none fa fa-exclamation"></i>
                        </div>

                    </div>

                    <div class="open d-none">

                        <div>
                            <label for="">Caption 1</label>
                            <input type="" placeholder="">
                        </div>

                        <div>
                            <label for="">Caption 2</label>
                            <input type="" placeholder="">
                        </div>

                        <div>
                            <label for="">Button</label>
                            <input type="" placeholder="link">
                            <input type="" placeholder="title">
                        </div>

                        <div>
                            <button class="btn">Save</button>
                        </div>
                
                    </div>

                </div>
            
            </div>

        </div>

        <div class="right">

            <div class="top">

                <p><button class="active"><i class="fa fa-laptop"></i></button></p>
                <p><button><i class="fa fa-tablet"></i></button></p>
                <p><button><i class="fa fa-mobile"></i></button></p>
            
            </div>

            <iframe class="shadow" id="iframe" src="/{{data.brand}}/admin/page/{{data.pageName}}/{{data.manualInput}}" frameborder="0"></iframe>

        </div>

    </div>

    <script src="https://kit.fontawesome.com/ae3de8bee6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/root/collapseToggles.js"></script>

    <script></script>
</body>
</html>



