</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing · {{data.pageName}}</title>

    <style>

        body {
            font-family: "Roboto";
            padding: 10px;
            margin: 0px;
            background: whitesmoke;
        }

        .d-none {
            display: none !important;
        }

        .d-block {
            display: block !important;
            width: fit-content;
        }

        .btn {
            padding: 7px 8px;
            border: 2px solid black;
            display: inline-block;
            margin-bottom: 4px;
            text-decoration: none;
            color: black;
            font-size: 15px;
            background: #f2f2f2;
            height: 37px;
            box-sizing: border-box;
            cursor: pointer;
        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .nav > p {
            font-size: 12px;
        }

        .nav > p > span {
            padding: 2px 5px;
        }

        .nav > p > span.link {
            font-weight: bold;
            color: black;
            background: antiquewhite;
        }

        .nav > p > span.link > a {
            text-decoration: none;
            color: inherit;
        }

        .nav > p > span.link:hover {
            background: white;
            cursor: pointer;
            opacity: 0.6;
        }

        .shadow {
            box-shadow: 0px 0px 10px rgb(0 0 0 / 18%);
        }

        .container {
            display: flex;
            height: 98vh;
            box-sizing: border-box;
        }

        .left {
            width: 25%;
            box-sizing: border-box;
            background: white;
            padding: 5px 1rem;
            border-radius: 10px;
            overflow: scroll;
        }

        .right {
            flex-grow: 1;
            box-sizing: border-box;
            max-width: 72%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }

        .right > iframe {
            width: 100%;
            box-sizing: border-box;
            height: 100%;
            border-radius: 10px;
        }

        .right > .top {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 10px;
        }

        .right > .top > p {
            padding: 0px 4px;
            margin: 0px;
        }

        .right > .top button {
            background: white;
            border: 0px solid white;
            padding: 10px;
            border-radius: 5px;
        }

        .right > .top button.active {
            background: black;
            color: white;
        }

        .fa {
            color: inherit;
        }

        .bar.header > p  {
            text-align: right;
            cursor: pointer;

        }

        .toggleable {
            margin-bottom: 10px;
            border: 3px solid whitesmoke;
        }

        .toggleable.opened {
            border: 3px solid black;
        }
        
        .toggleable .fa {
            font-size: 12px;
        }

        .head {
            cursor: pointer;
            background: whitesmoke;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .head:hover {
            background: white;
        }

        .head > div {
            display: flex;
            align-items: center;
            padding: 0 10px;
            box-sizing: border-box;
        }

        .head > div > h3 {
            padding-left: 10px;
        }

        .head > .fields {
            width: 100%;
            display: block;

        }

        .open > div:not(.bar) {
            padding: 14px 10px;
            background: white;
        }

        .open > .bar {
            margin-bottom: 0px;
        }

        .open label {
            display: block;
            font-weight: bold;
        }

        .open input {
            padding: 15px 10px;
            border: 2px solid whitesmoke;
            width: 100%;
            box-sizing: border-box;
            background: whitesmoke;
            font-size: 15px;
            margin-top: 10px;
        }

        .open .block {
            border-bottom: 3px dashed black;
            background: white;
        }

        .open > .block:nth-last-child(1) {
            border-bottom: 3px solid transparent;
        }

        .open > .block > .content > label {
            font-size: 10px;
            font-weight: normal;
            text-transform: uppercase;
            margin-top: 10px;
        }

    </style>

</head>
<body>

    <div class="container">

        <div class="left shadow">

            <div class="nav">
            
                <p>
                    <span class="link"> <a href="/{{data.brand}}/admin/page/newDashboard/settings">Dashboard</a></span>
                    /
                    <span class="black">Edit Page</span>
                </p>

                <div class="actions">
                </div>
            
            </div>

            <div class="fields collapseToggles">

                <div class="bar header">

                </div>

            </div>

        </div>

        <div class="right">

            <div class="top">

                <p><button class="active"><i class="fa fa-laptop"></i></button></p>
                <p><button><i class="fa fa-tablet"></i></button></p>
                <p><button><i class="fa fa-mobile"></i></button></p>
            
            </div>

            <iframe onload="loadAjax(this)"class="shadow" id="iframe" src="/{{data.brand}}/admin/page/{{data.pageName}}/{{data.manualInput}}" frameborder="0"></iframe>

        </div>

    </div>

    <script src="https://kit.fontawesome.com/ae3de8bee6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/root/collapseToggles.js"></script>

    <script>

        let loadAjax = function(elem) {

            $.ajax({
                url: `/{{data.brand}}/admin/data/getJSONFile/{{data.input}}`, 
                method: "GET",
                success: val => iframeLoaded(val), 
            }).fail( err => console.log(err) );

        };

        let iframeLoaded = function(data) {

            console.log("iframe loaded");

            let contents = data.json.contents;

            let createInputs = function(item) {

                if (item.tags) {

                    let html = item.tags.split(",").reduce( (total, val, key) => {

                        // console.log(val.trim());
                        // console.log($("iframe").contents().find(item.selector));
                        let string;
                        if (val.trim() == "html") {
                            string = `
                                <label>${val.trim().toUpperCase()}</label>
                                <input type='text' value='${ $("iframe").contents().find(item.selector).html().trim() }' connection="${item.selector}" onkeyup="updateHTML(this, '${ val.trim() }')" >
                                `;
                        } else {
                            string = `
                                <label>${ val.trim().toUpperCase() }</label>
                                <input type=text' value='${ $("iframe").contents().find(item.selector).attr(val.trim()) }' connection="${item.selector}" onkeyup="updateHTML(this, '${ val.trim() }')" >
                                `;
                        };

                        return total += string;
                    }, "");

                    return  `<div class="block">
                       <label for="">${item.label}</label>
                       <div class="content">
                        ${html}
                       </div>
                       </div>`;

                } else {
                    return "";
                }

            };
            
            let getBlock = function( val ) {

                let str = "";
                val.forEach( item  => {

                    if (item.contents && item.contents.length > 0) {

                        console.log("head - " + item.label);
                        let innerBlock = getBlock(item.contents) || "";
                        str += `
                            <div class="bar toggleable closed" connection="">
                                <div class="head closed" onclick="smallCollapseToggle(this)">

                                    <div>
                                        <i class="fa fa-plus"></i>
                                        <i class="fa fa-minus d-none"></i>
                                       <h3>${item.label}</h3>
                                    </div>

                                    <div class="icons">
                                        <i class="fa fa-check d-none"></i>
                                        <i class="d-none fa fa-circle-notch spin"></i>
                                        <i class="d-none fa fa-exclamation"></i>
                                    </div>

                                </div>

                                <div class="open d-none">
                                    ${createInputs(item)}
                                    ${innerBlock}
                               </div>
                           </div>
                       `;

                        // str = getBlock(item.contents, head + (str || "") );

                        console.log("close head");

                    } else {


                        console.log("body - " + item.label);
                        console.log("close body");

                        str += createInputs(item);
                                
                    }

                });
                return str;
            };

            let html = contents.reduce( (total, val, key) => {
                let str = `
                <div class="bar toggleable closed" connection="${val.selector}">

                    <div class="head closed" onclick="smallCollapseToggle(this)">

                        <div>
                            <i class="fa fa-plus"></i>
                            <i class="fa fa-minus d-none"></i>
                           <h3>${val.label}</h3>
                        </div>

                        <div class="icons">
                            <i class="fa fa-check d-none"></i>
                            <i class="d-none fa fa-circle-notch spin"></i>
                            <i class="d-none fa fa-exclamation"></i>
                        </div>

                    </div>
                `;

                let checkDepth = val.contents.some( data => data.hasOwnProperty("contents") );

                if (checkDepth) {

                    str += `<div class="open d-none">`;
                    str += getBlock(val.contents) ;
                    str += `</div></div>`;

                } else {

                    str += `<div class="open d-none">`;

                    val.contents.forEach( item => {
                         str += createInputs(item);
                    });

                    str += `</div></div>`;

                };

                return total += str;

            }, "");

            $(".collapseToggles").append(html);

            return;

        };


        $(document).on("mouseenter", ".bar.toggleable > .head ", function(event) {
            $("iframe").contents()
                .find( $(this).closest("[connection]").attr("connection") )
                .attr({"we-ser" : "blabla"})
                .click();
            return;
        });

        let updateHTML = function(elem, attr) {

            let e = $(elem).attr("connection");

            console.log(e);

            if (attr == "html") {
                $("iframe").contents().find(`[e-ser=${e}]`).html( $(elem).val() );
            } else {
                $(`[e-ser=${e}]`).attr( attr , $(elem).val() );
                $("iframe").contents().find(`[e-ser=${e}]`).attr( attr, $(elem).val() );
            };

            return;

        };

        let storeHTML = function(elem) {

            console.log("store me now");

            let connection = $("iframe").contents().find(".cards > .buttons > *.active").attr("connection");

            let string = $(`[we-ser=${connection}]`).html();

            data = {
                string: string.trim(),
                ser : connection,
            };

            console.log(data);

            $(elem).html("Saving...").attr({disabled: true});

            $.ajax({
                url: "/7am/admin/data/storeHTML/n",
                method: "POST",
                data: data,
                success: val => {
                    console.log(val);
                    $(elem).html("Good!").attr({disabled: false});
                },
                error: (err, status, response) => {
                    console.log(err);
                    console.log(err.responseText);
                    $(elem).html("Error while saving, try again.").attr({disabled: false});
                }
            });

        };

    </script>
</body>
</html>



