<!-- placing it here because it is inhernet to the order manager -->
<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/root/codemirror/css/codemirror.css">
    <link rel="stylesheet" href="/root/codemirror/css/neo.css">

    <meta charset="UTF-8">
    <title>Show Receipt</title>

    <style>

    body {
        font-family: "Roboto";
        padding: 0px;
        margin: 0px;
    }

    .d-none {
        display: none !important;
    }

    .d-block {
        display: block !important;
        width: fit-content;
    }

    .btn {
        padding: 7px 8px;
        border: 2px solid black;
        display: inline-block;
        margin-bottom: 4px;
        text-decoration: none;
        color: black;
        font-size: 15px;
        background: #f2f2f2;
        height: 37px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .kallesReceipt, 
    .actions-page, 
    .alarm-page  {
        padding: 10px;
    }

    .actions-page  {
        background: whitesmoke;
    }

    .receipt h3 {
        font-weight: 300;
        font-size: 12px;
        line-height: 1.0;
        color: #333333;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav > p {
        font-size: 12px;
    }

    .nav > p > span {
        padding: 2px 5px;
    }

    .nav > p > span.link {
        font-weight: bold;
        color: black;
        background: antiquewhite;
    }

    .nav > p > span.link > a {
        text-decoration: none;
        color: inherit;
    }

    .nav > p > span.link:hover {
        background: white;
        cursor: pointer;
        opacity: 0.6;
    }

    .orderDetails {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        flex-wrap: wrap;
        max-width: 1100px;
        margin: auto;
    }

    .orderDetails > div {
        width: 50%;
        box-sizing: border-box;
    }

    .orderDetails > div:nth-child(1) {
        padding: 10px;
        background: white;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 18%);
        border-radius: 10px;
    }

    .orderDetails .bar.toggleable {
        margin-bottom: 6px;
    }

    .collapseToggles .bar.header {
        text-align: right;
        cursor: pointer;
    }

    .bar > .head {
        display: flex;
    }

    .head > .left {
        width: 100%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 35px 1fr;
        cursor: pointer;
    }

    .head > .left > p.smallTime {
        grid-column: 2;
        font-size: 12px;
        border-bottom: 1px solid darkgrey;
        padding-bottom: 6px;
        padding-right: 6px;
        width: fit-content;
    }

    .head > .left > p.icon {
        margin: 0px;
        text-align: center;
    }

    .head > .left > h3 {
        margin: 0px;
        padding-bottom: 10px;
    }

    .head > .right {
        width: 10%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .head > .left:hover, 
    .head > .right:hover {
        background: white;
    }

    .bar .fa.fa-plus,
    .bar .fa.fa-minus,
    .bar .fa.fa-trash {
        font-size: 12px;
        color: inherit;
    }

    .bar > .open {
        padding: 15px;
        background: white;
    }

    .bar > .open > .error , 
    .bar > .open > .success {
        width: 100%;
        font-size: 12px;
        margin-top: 0px;
        margin-left: -10px;
        font-weight: bold;
        background: #fbe9e7;
        border-radius: 4px;
        color: #bf360c;
        padding: 7px 10px;
        margin-right: -10px;
    }

    .bar > .open > .success {
        background: #e8f5e9;
        color: #1b5e20;
    }

    .btns {
        display: flex;
        margin-bottom: 13px;
    }

    .btns > .btn:nth-child(1) {
        background: #2196f3;
        color: #d8eeff;
        border: #2196f3;
    }

    .btns > .btn:nth-child(2) {
        flex-grow: 1;
        margin-left: 3px;
        background: black;
        color: #ffe2d8;
    }

    .actions-page > div:nth-child(2) {
        max-width: 600px;
        padding: 10px;
        margin: auto;
    }

    .section > h3 {
        padding: 18px 17px;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .section > h3:hover {
        background: whitesmoke;
        cursor: pointer;
    }

    .section > h3 > .fa {
        margin-right: 1px;
    }

    .section {
        border: 2px solid whitesmoke;
        margin-bottom: 5px;
        background: white;
        border: 2px solid white;
    }

    .section > div {
        background: white;
        padding: 5px 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        border-top: 1px dashed #9e9e9e;
    }

    .section > div.quick:hover ,
    .section > div.xtoggle:hover {
        background: whitesmoke;
        cursor: pointer;
    }

    .section > div.xtoggle {
        padding: 15px 0px;
    }

    .section > div.xtoggle > .head { 
        display: flex;
        align-items: center;
        width: 100%;
        padding: 5px 15px;
    }
    
    .section > div.xtoggle > .head > .fa {
        margin-right: 10px;
    }

    .section > div.xtoggle > .head > .icons {
        margin-left: auto;
        display: block;
    }

    .section > div > .body {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 7px 15px 13px 15px;
    }

    .body > textarea {
        background: whitesmoke;
        border: 2px solid black;
        font-size: inherit;
        font-family: inherit;
        padding: 10px;
    }

    .body > .btn {
        width: fit-content;
        margin-top: 13px;
    }

    .receipt {
        width: 98%;
        margin-left: auto;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 18%);
        border-radius: 12px;
        padding-top: 1rem;
    }

    .receipt > *:not(article) {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .receipt > div > p, 
    .receipt > .firstRow p {
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;
        margin-top: -10px;
    }

    .imgRow {
        margin-bottom: -6px;
    }

    .imgRow > img {
        height: 62px;
        display: block;
        margin-bottom: 0rem;
    }

    .imgRow > button {
        margin-left: auto;
        width: auto;
        padding: 0px;
        padding: 2px 11px;
        border-radius: 5px;
        border: 1px solid #F2F2F2;
        text-decoration: none;
        background: #EB5757;
        color: white;
        font-weight: 300;
        font-size: 17px;
    }

    .firstRow {
        display: flex;
        margin-top: 10px;
        margin-bottom: -6px;
    }

    .firstRow > *:nth-child(2) {
        margin-left: auto;
        margin-right: 200px;
    }

    .orderSummary {
        margin-bottom: 1rem;
    }

    article {
        background: whitesmoke;
        padding-bottom: 2rem;
        padding-top: 1rem;
        border-top: 1px dashed black;
    }

    article > p {
        padding-left: 3rem;
        padding-right: 3rem;
        line-height: 1.5;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        color: #4F4F4F;
        font-weight: 300;
    }

    .receipt h3 {

    }

    article > p > span:nth-child(2) {
        color: black;
        font-weight: bold;
    }

    article > a {
        color: #333333;
        font-weight: bold;
    }

    .alarm-page {
            background: black;
    min-height: 100vh;
    }

    .alarm-page > div {
        max-width: 600px;
        margin: auto;
        color: white;
    }

    .alarm-page h3 {
        font-size: 3rem;
        text-align: center;
    }

    .alarm-page .btn {
        border: 2px solid transparent;
        background: transparent;
        font-weight: bolder;
        width: 100%;
        height: 100%;
        padding: 2rem;
        border-radius: 5px;
        font-size: 1.3rem;
        color: #b71c1c;
    }

    .alarm-page .order, 
    .alarm-page .accept, 
    .alarm-page .reject, 
    .alarm-page .skip {
        background: #eeeeee;
        border-radius: 5px;
        margin-bottom: 1rem;
        border-radius: 5px;
    }

    .alarm-page .order {
        padding: 20px;
        color: black;
    }

    .alarm-page .skip {
        background: black;
    }

    .alarm-page .skip > .btn {
        color: white;
        border: 2px dashed white;
    }
    
    .alarm-page .accept {
        background: #e8f5e9;
    }

    .alarm-page .accept > .btn {
        margin-bottom: 0px;
        color: #1b5e20;
    }

    .alarm-page .reject {
        background: #ffebee;
    }

    .alarm-page textarea {
        width: 100%;
        box-sizing: border-box;
        border: 2px solid whitesmoke;
        padding: 10px;
        background: whitesmoke;
        border-radius: 5px;
        color: #b71c1c;
        font-size: 17px;
        font-family: inherit;

    }

    .alarm-page .order > button {
        border: 1px solid whitesmoke;
        background: whitesmoke;
        padding: 2px 8px;
        font-weight: normal;
        cursor: pointer;
    }

    .alarm-page .order > button:hover {
        background: white;
    }

    .status {
        background: #e8eaf6;  
        border: 3px solid #e8eaf6;
        color: #1a237e;
    }

    .email {
        background: #f1f8e9;  
        border: 3px solid #f1f8e9;
        color: #1b5e20;
    }

    .note {
        background: #e0f7fa;  
        border: 3px solid #e0f7fa;
        color: #006064;
    }

    .payment {
        background: #ffebee;  
        border: 3px solid #ffebee;
        color: #b71c1c;
    }

    .spin {
        -webkit-animation-name: spin;
        -webkit-animation-duration: 500ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 500ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 500ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;

        animation-name: spin;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @-ms-keyframes spin {
        from { -ms-transform: rotate(0deg); }
        to { -ms-transform: rotate(360deg); }
    }
    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
    
    @media only screen and (max-width: 600px) {

        .orderDetails > div {
            width: 100%;
        }

        .orderDetails > div:nth-child(1) {
            order: 1;
        }

        .receipt {
            order: 0;
            padding-top: 0px;
            margin: auto;
            margin-bottom: 1rem;
            max-width: 100%;
            width: 100%;
        }

        .receipt > *:not(article) {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        article > p {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        .imgRow {
            padding-top: 1rem;
            flex-direction: column;
        }

        .imgRow > img {
            margin-left: 0;
            margin-bottom: 14px;
        }

        .imgRow > button {
            margin-left: 0;
            margin-right: auto;
        }

        .firstRow {
            margin-top: 18px;
        }

        .firstRow > *:nth-child(1) {
            width: 145px;
        }

        .firstRow > *:nth-child(2) {
            margin-right: 0px;
        }

        article > p{
            max-width: 100%;
       }

        article > p > span:nth-child(1) {
            max-width: 50%;
        }

        article > p > span:nth-child(2) {
            max-width: 40%;
            text-align: end;
        }
    }
    
    </style>
</head>
<body>
    <div class="kallesReceipt">

        <div class="nav">
        
            <p>
                
                <span class="link"> <a href="/{{data.brand}}/gen/page/landingPage/n">{{data.brand}}</a></span>
                /
                <span class="black">Order</span>
            
            </p>

            <div class="actions">

                <button class="btn" onclick="openLayer('.kallesReceipt', '.actions-page')">Actions</button>
            
            </div>
        
        </div>

        <div class="orderDetails">

            <div id="attach_stages" class="collapseToggles" >

                <div class="bar header">

                    <p onclick="collapseToggle(this)" class="closed">

                        <span class="1st">Expand Order History</span>
                        <span class="2nd d-none">Collapse Order History</span>
                    
                    </p>

                </div>

                {{#each data.stages}}

                <div class="bar toggleable closed {{this.type}}">
                    <div class="head">
                        <div class="left closed" onclick="smallCollapseToggle(this)">
                            <p class="smallTime">{{this.time}}</p>
                            <p class="icon">
                                <i class="fa fa-plus"></i> 
                                <i class="fa fa-minus d-none"></i> 
                            </p>
                            <h3> {{this.hdg}} </h3>
                        </div>
                    </div>
                    <div class="open d-none">
                        <p> {{{this.msg}}} </p>
                    </div>
                </div>

                {{/each}}

            </div>

            <div id="attach_receipt">
            

                <div class="receipt">

                    <div class="imgRow">
                        <img src="{{data.owner.brandLogo.photo.medium}}" alt="">
                    </div>

                    <div class="firstRow ">
                        
                        <div class="">
                            <h3>ORDER #</h3>
                            <p id="orderNo">{{data.order.ser}}</p>
                        </div>

                        <div class="">
                            <h3>STATUS</h3>
                            <p>{{data.order.status}}</p>
                        </div>
                    
                    </div>

                    <div class="">
                        <h3>DATE/ TIME</h3>
                        <p>{{getFormattedDateTimeMongoId data.order._id}}</p>
                    </div>


                    <div class="">
                        <h3>NAME</h3>
                        <p>{{data.order.name}}</p>
                    </div>

                    <div class="">
                        <h3>SHIPPING ADDRESS</h3>
                        <p>{{data.order.address}}</p>
                    </div>
                    <div class="">
                        <h3>EMAIL</h3>
                        <p>{{data.order.email}}</p>
                    </div>

                    <div class="">
                        <h3>MOBILE NUMBER</h3>
                        <p>{{data.order.mobile}}</p>
                    </div>

                    <h3 class="orderSummary">ORDER SUMMARY</h3>
                
                    <article class="" >

                        {{#each data.meta}}

                        <p class="itemRow items">
                            <span>{{this.product.name}} ({{this.size.label}}) <strong>x {{this.quantity}} </strong></span>
                            <span>{{this.quantity}} x PKR {{this.product.sale_price}}</span>
                        </p>

                        {{/each}}

                        <p class="itemRow">
                            <span>Total Amount</span>
                            <span>PKR {{calcTotalPrice data.meta}}</span>
                        </p>

                    </article>

                </div>
            
            </div>
        
        </div>

    </div>

    <div class="actions-page d-none">


        <div class="nav">
        
            <p>
                
                <span class="link"> <a href="/{{data.brand}}/gen/page/landingPage/n">{{data.brand}}</a></span>
                /
                <span class="link"> <a href="/{{data.brand}}/admin/page/showReceipt/{{data.order._id}}">Order</a></span>
                /
                <span class="black">Actions</span>
            
            </p>

            <div class="actions">

                <button class="btn" onclick="openLayer('.actions-page', '.kallesReceipt')">Close Actions</button>
            
            </div>
        
        </div>

        <div class="collapseToggles">

            <div class="bar header">

                <p onclick="collapseToggle(this)" class="opened">

                    <span class="d-none">Expand All</span>
                    <span class="">Collapse All</span>
                
                </p>

            </div>

            <div class="section bar toggleable opened">

                <h3 class="opened" onclick="smallCollapseToggle(this)">
                    <span>Get Receipt</span>
                    <i class="fa fa-plus d-none"></i>
                    <i class="fa fa-minus"></i>
                </h3>

                <div class="open quick" id="send_receipt_to_customer" onclick="sendReceiptToEmail('customer' , this)" >

                    <p id="send_receipt_to_customer">Get a copy of Receipt in Email</p>

                    <div class="icons">
                        <i class="fa fa-circle-notch spin d-none"></i>
                        <i class="fa fa-check d-none"></i>
                        <i class="fa fa-warning d-none"></i>
                    </div>
                
                </div>

            </div>
        
            <div class="section bar toggleable opened">

                <h3 class="opened" onclick="smallCollapseToggle(this)">
                    <span>Send a Note</span>
                    <i class="fa fa-plus d-none"></i>
                    <i class="fa fa-minus"></i>
                </h3>

                <div class="open xtoggle">

                    <div class="head" onclick="xtoggle(this)">
                    
                        <i class="fa fa-plus d-none"></i>
                        <i class="fa fa-minus"></i>
                        <p>Add a note to the Order</p>

                        <div class="icons">
                            <i class="fa fa-circle-notch spin d-none"></i>
                            <i class="fa fa-check d-none"></i>
                            <i class="fa fa-warning d-none"></i>
                        </div>
                        
                    </div>

                    <div class="body">

                        <textarea id="" name="" cols="" rows="5"></textarea>
                        <button id="send_note_to_shop" class="btn" onclick="sendNote('shop', this)">Send</button>
                    
                    </div>
                
                </div>

            </div>

            <div class="section bar toggleable opened">

                <h3 class="opened" onclick="smallCollapseToggle(this)">
                    <span>Add Payment Details</span>
                    <i class="fa fa-plus d-none"></i>
                    <i class="fa fa-minus"></i>
                </h3>

                <div class="open xtoggle">

                    <div class="head" onclick="xtoggle(this)">
                    
                        <i class="fa fa-plus d-none"></i>
                        <i class="fa fa-minus"></i>
                        <p>Cash on Delivery (COD)</p>
                    
                    </div>

                    <div class="body">

                        <textarea id="" name="" cols="" rows="5"></textarea>
                        <button class="btn" onclick="addPaymentDetails('Cash on Delivery (COD)', this)">Save</button>
                    
                    </div>
                
                </div>

                <div class="open xtoggle">

                    <div class="head" onclick="xtoggle(this)">
                    
                        <i class="fa fa-plus"></i>
                        <i class="fa fa-minus d-none"></i>
                        <p>Bank Transfer</p>
                    
                    </div>

                    <div class="body d-none">

                        <textarea id="" name="" cols="" rows="5"></textarea>
                        <button class="btn" onclick="addPaymentDetails('Bank Transfer', this )">Save</button>
                    
                    </div>
                
                </div>

            </div>
        
        </div>

    </div>

    <script src="https://kit.fontawesome.com/ae3de8bee6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/root/collapseToggles.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/root/kallesShowReceipt.js"></script>

</body>
</html>
