<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link href="/natural_therapy/{{data.content.stylesheet}}_stylesheet.css" rel="stylesheet">
    <title>Natural Therapy</title>
  </head>
  <body>

    <nav>
      <p class="logo"><a href="/natural_therapy/gen/page/landingPage/n">Natural Therapy</a></p>
      <div class="flags">
      <div class="flag {{data.content.urdu_flag}}" link="/natural_therapy/gen/page/change_lang/documentation?lang=ur">
          <svg class="" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#F0F0F0"/>
          <path d="M0 15C0 20.6856 3.16342 25.6321 7.82607 28.1761V1.82385C3.16342 4.36793 0 9.31435 0 15Z" fill="#F0F0F0"/>
          <path d="M15 0C12.4013 0 9.95716 0.661113 7.82605 1.82385V28.1761C9.95716 29.3389 12.4013 30 15 30C23.2842 30 30 23.2842 30 15C30 6.71578 23.2842 0 15 0Z" fill="#4F4F4F"/>
          <path d="M21.4133 17.4807C19.5156 18.8519 16.8656 18.4251 15.4945 16.5274C14.1233 14.6297 14.5502 11.9798 16.4478 10.6087C17.0395 10.1812 17.7043 9.92851 18.3807 9.84067C17.0795 9.64608 15.704 9.93929 14.5534 10.7707C12.2178 12.4583 11.6924 15.7197 13.38 18.0553C15.0675 20.3908 18.329 20.9163 20.6647 19.2286C21.8154 18.3972 22.5256 17.1835 22.7493 15.8869C22.4536 16.5013 22.005 17.0532 21.4133 17.4807Z" fill="#F0F0F0"/>
          <path d="M21.332 9.78275L22.401 10.9348L23.8269 10.2743L23.0615 11.6468L24.1304 12.7989L22.5885 12.4951L21.8231 13.8677L21.6356 12.3074L20.0936 12.0036L21.5196 11.3431L21.332 9.78275Z" fill="#F0F0F0"/>
          </svg>

          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#F0F0F0"/>
          <path d="M0 15C0 20.6856 3.16342 25.6321 7.82607 28.1761V1.82385C3.16342 4.36793 0 9.31435 0 15Z" fill="#F0F0F0"/>
          <path d="M15 0C12.4013 0 9.95716 0.661113 7.82605 1.82385V28.1761C9.95716 29.3389 12.4013 30 15 30C23.2842 30 30 23.2842 30 15C30 6.71578 23.2842 0 15 0Z" fill="#496E2D"/>
          <path d="M21.4133 17.4807C19.5156 18.8519 16.8656 18.4251 15.4945 16.5274C14.1233 14.6297 14.5502 11.9798 16.4478 10.6087C17.0395 10.1812 17.7043 9.92851 18.3807 9.84067C17.0795 9.64608 15.704 9.93929 14.5534 10.7707C12.2178 12.4583 11.6924 15.7197 13.38 18.0553C15.0675 20.3908 18.329 20.9163 20.6647 19.2286C21.8154 18.3972 22.5256 17.1835 22.7493 15.8869C22.4536 16.5013 22.005 17.0532 21.4133 17.4807Z" fill="#F0F0F0"/>
          <path d="M21.332 9.78275L22.401 10.9348L23.8269 10.2743L23.0615 11.6468L24.1304 12.7989L22.5885 12.4951L21.8231 13.8677L21.6356 12.3074L20.0936 12.0036L21.5196 11.3431L21.332 9.78275Z" fill="#F0F0F0"/>
          </svg>

        </div>
        <div class="flag {{data.content.nok_flag}}" link="/natural_therapy/gen/page/change_lang/documentation?lang=nok">
          <svg class="" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#F0F0F0"/>
          <path d="M0.516724 18.9131C1.38461 22.1333 3.29741 24.9244 5.86956 26.9007V18.9131H0.516724Z" fill="#4F4F4F"/>
          <path d="M13.6956 29.9429C14.1256 29.98 14.5604 30 15 30C21.9304 30 27.762 25.2995 29.4832 18.9131H13.6956V29.9429Z" fill="#4F4F4F"/>
          <path d="M29.4832 11.0869C27.762 4.70045 21.9304 0 15 0C14.5604 0 14.1256 0.0200391 13.6956 0.0570703V11.0869H29.4832V11.0869Z" fill="#4F4F4F"/>
          <path d="M5.86956 3.09931C3.29741 5.07568 1.38461 7.86668 0.516724 11.0869H5.86956V3.09931Z" fill="#4F4F4F"/>
          <path d="M29.873 13.0435H11.7392H11.7391V0.356537C10.3529 0.66392 9.03873 1.16214 7.82607 1.82384V13.0434V13.0434H0.126973C0.0434766 13.6839 0 14.3369 0 15C0 15.6631 0.0434766 16.3161 0.126973 16.9565H7.82602H7.82607V28.1761C9.03873 28.8377 10.3529 29.3361 11.7391 29.6434V16.9567V16.9566H29.873C29.9564 16.3161 30 15.6631 30 15C30 14.3369 29.9564 13.6839 29.873 13.0435Z" fill="#4F4F4F"/>
          </svg>

          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#F0F0F0"/>
          <path d="M0.516724 18.9131C1.38461 22.1333 3.29741 24.9244 5.86956 26.9007V18.9131H0.516724Z" fill="#D80027"/>
          <path d="M13.6956 29.9429C14.1256 29.98 14.5604 30 15 30C21.9304 30 27.762 25.2995 29.4832 18.9131H13.6956V29.9429Z" fill="#D80027"/>
          <path d="M29.4832 11.0869C27.762 4.70045 21.9304 0 15 0C14.5604 0 14.1256 0.0200391 13.6956 0.0570703V11.0869H29.4832Z" fill="#D80027"/>
          <path d="M5.86956 3.09931C3.29741 5.07568 1.38461 7.86668 0.516724 11.0869H5.86956V3.09931Z" fill="#D80027"/>
          <path d="M29.873 13.0435H11.7392H11.7391V0.356537C10.3529 0.66392 9.03873 1.16214 7.82607 1.82384V13.0434V13.0434H0.126973C0.0434766 13.6839 0 14.3369 0 15C0 15.6631 0.0434766 16.3161 0.126973 16.9565H7.82602H7.82607V28.1761C9.03873 28.8377 10.3529 29.3361 11.7391 29.6434V16.9567V16.9566H29.873C29.9564 16.3161 30 15.6631 30 15C30 14.3369 29.9564 13.6839 29.873 13.0435Z" fill="#0052B4"/>
          </svg>

        </div>
        <div class="flag {{data.content.eng_flag}}" link="/natural_therapy/gen/page/change_lang/documentation?lang=en">
          <svg class="" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
          <path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#F0F0F0"/>
          <path d="M14.3478 15H30C30 13.6461 29.8195 12.3346 29.4833 11.0869H14.3478V15Z" fill="#D80027"/>
          <path d="M14.3478 7.17392H27.7984C26.8802 5.67556 25.7061 4.35117 24.3373 3.26086H14.3478V7.17392Z" fill="#D80027"/>
          <path d="M15 30C18.5302 30 21.775 28.7798 24.3373 26.7391H5.66272C8.22503 28.7798 11.4698 30 15 30Z" fill="#D80027"/>
          <path d="M2.20159 22.8261H27.7984C28.5356 21.6232 29.1073 20.3083 29.4832 18.913H0.516724C0.89272 20.3083 1.46442 21.6232 2.20159 22.8261Z" fill="#D80027"/>
          <path d="M6.94828 2.34246H8.31521L7.04373 3.26619L7.52941 4.76086L6.25799 3.83713L4.98656 4.76086L5.40609 3.46963C4.2866 4.40215 3.30539 5.49469 2.4968 6.71203H2.93479L2.12543 7.30002C1.99934 7.51037 1.8784 7.72406 1.7625 7.94092L2.14898 9.13043L1.42793 8.60654C1.24869 8.98629 1.08475 9.37459 0.937383 9.77098L1.36318 11.0816H2.93479L1.6633 12.0053L2.14898 13.5L0.877559 12.5763L0.115957 13.1296C0.0397266 13.7424 0 14.3665 0 15H15C15 6.71578 15 5.73914 15 0C12.0368 0 9.27451 0.85957 6.94828 2.34246ZM7.52941 13.5L6.25799 12.5763L4.98656 13.5L5.47225 12.0053L4.20076 11.0816H5.77236L6.25799 9.58693L6.74361 11.0816H8.31521L7.04373 12.0053L7.52941 13.5ZM7.04373 7.63576L7.52941 9.13043L6.25799 8.2067L4.98656 9.13043L5.47225 7.63576L4.20076 6.71203H5.77236L6.25799 5.21736L6.74361 6.71203H8.31521L7.04373 7.63576ZM12.9098 13.5L11.6384 12.5763L10.367 13.5L10.8527 12.0053L9.58119 11.0816H11.1528L11.6384 9.58693L12.124 11.0816H13.6956L12.4242 12.0053L12.9098 13.5ZM12.4242 7.63576L12.9098 9.13043L11.6384 8.2067L10.367 9.13043L10.8527 7.63576L9.58119 6.71203H11.1528L11.6384 5.21736L12.124 6.71203H13.6956L12.4242 7.63576ZM12.4242 3.26619L12.9098 4.76086L11.6384 3.83713L10.367 4.76086L10.8527 3.26619L9.58119 2.34246H11.1528L11.6384 0.847793L12.124 2.34246H13.6956L12.4242 3.26619Z" fill="#0052B4"/>
          <path d="M14.3478 15H30C30 13.6461 29.8195 12.3346 29.4833 11.0869H14.3478V15Z" fill="#4F4F4F"/>
          <path d="M14.3478 7.17392H27.7984C26.8802 5.67556 25.7061 4.35117 24.3373 3.26086H14.3478V7.17392Z" fill="#4F4F4F"/>
          <path d="M15 30C18.5302 30 21.775 28.7798 24.3373 26.7391H5.66272C8.22503 28.7798 11.4698 30 15 30Z" fill="#4F4F4F"/>
          <path d="M2.20159 22.8261H27.7984C28.5356 21.6232 29.1073 20.3083 29.4832 18.913H0.516724C0.89272 20.3083 1.46442 21.6232 2.20159 22.8261Z" fill="#4F4F4F"/>
          <path d="M6.94828 2.34246H8.31521L7.04373 3.26619L7.52941 4.76086L6.25799 3.83713L4.98656 4.76086L5.40609 3.46963C4.2866 4.40215 3.30539 5.49469 2.4968 6.71203H2.93479L2.12543 7.30002C1.99934 7.51037 1.8784 7.72406 1.7625 7.94092L2.14898 9.13043L1.42793 8.60654C1.24869 8.98629 1.08475 9.37459 0.937383 9.77098L1.36318 11.0816H2.93479L1.6633 12.0053L2.14898 13.5L0.877559 12.5763L0.115957 13.1296C0.0397266 13.7424 0 14.3665 0 15H15C15 6.71578 15 5.73914 15 0C12.0368 0 9.27451 0.85957 6.94828 2.34246ZM7.52941 13.5L6.25799 12.5763L4.98656 13.5L5.47225 12.0053L4.20076 11.0816H5.77236L6.25799 9.58693L6.74361 11.0816H8.31521L7.04373 12.0053L7.52941 13.5ZM7.04373 7.63576L7.52941 9.13043L6.25799 8.2067L4.98656 9.13043L5.47225 7.63576L4.20076 6.71203H5.77236L6.25799 5.21736L6.74361 6.71203H8.31521L7.04373 7.63576ZM12.9098 13.5L11.6384 12.5763L10.367 13.5L10.8527 12.0053L9.58119 11.0816H11.1528L11.6384 9.58693L12.124 11.0816H13.6956L12.4242 12.0053L12.9098 13.5ZM12.4242 7.63576L12.9098 9.13043L11.6384 8.2067L10.367 9.13043L10.8527 7.63576L9.58119 6.71203H11.1528L11.6384 5.21736L12.124 6.71203H13.6956L12.4242 7.63576ZM12.4242 3.26619L12.9098 4.76086L11.6384 3.83713L10.367 4.76086L10.8527 3.26619L9.58119 2.34246H11.1528L11.6384 0.847793L12.124 2.34246H13.6956L12.4242 3.26619Z" fill="#4F4F4F"/>
          </g>
          <defs>
          <clipPath id="clip0">
          <rect width="30" height="30" fill="white"/>
          </clipPath>
          </defs>
          </svg>

          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
          <path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#F0F0F0"/>
          <path d="M14.3478 15H30C30 13.6461 29.8195 12.3346 29.4833 11.0869H14.3478V15Z" fill="#D80027"/>
          <path d="M14.3478 7.17392H27.7984C26.8802 5.67556 25.7061 4.35117 24.3373 3.26086H14.3478V7.17392Z" fill="#D80027"/>
          <path d="M15 30C18.5302 30 21.775 28.7798 24.3373 26.7391H5.66272C8.22503 28.7798 11.4698 30 15 30Z" fill="#D80027"/>
          <path d="M2.20159 22.8261H27.7984C28.5356 21.6232 29.1073 20.3083 29.4832 18.913H0.516724C0.89272 20.3083 1.46442 21.6232 2.20159 22.8261Z" fill="#D80027"/>
          <path d="M6.94828 2.34246H8.31521L7.04373 3.26619L7.52941 4.76086L6.25799 3.83713L4.98656 4.76086L5.40609 3.46963C4.2866 4.40215 3.30539 5.49469 2.4968 6.71203H2.93479L2.12543 7.30002C1.99934 7.51037 1.8784 7.72406 1.7625 7.94092L2.14898 9.13043L1.42793 8.60654C1.24869 8.98629 1.08475 9.37459 0.937383 9.77098L1.36318 11.0816H2.93479L1.6633 12.0053L2.14898 13.5L0.877559 12.5763L0.115957 13.1296C0.0397266 13.7424 0 14.3665 0 15H15C15 6.71578 15 5.73914 15 0C12.0368 0 9.27451 0.85957 6.94828 2.34246ZM7.52941 13.5L6.25799 12.5763L4.98656 13.5L5.47225 12.0053L4.20076 11.0816H5.77236L6.25799 9.58693L6.74361 11.0816H8.31521L7.04373 12.0053L7.52941 13.5ZM7.04373 7.63576L7.52941 9.13043L6.25799 8.2067L4.98656 9.13043L5.47225 7.63576L4.20076 6.71203H5.77236L6.25799 5.21736L6.74361 6.71203H8.31521L7.04373 7.63576ZM12.9098 13.5L11.6384 12.5763L10.367 13.5L10.8527 12.0053L9.58119 11.0816H11.1528L11.6384 9.58693L12.124 11.0816H13.6956L12.4242 12.0053L12.9098 13.5ZM12.4242 7.63576L12.9098 9.13043L11.6384 8.2067L10.367 9.13043L10.8527 7.63576L9.58119 6.71203H11.1528L11.6384 5.21736L12.124 6.71203H13.6956L12.4242 7.63576ZM12.4242 3.26619L12.9098 4.76086L11.6384 3.83713L10.367 4.76086L10.8527 3.26619L9.58119 2.34246H11.1528L11.6384 0.847793L12.124 2.34246H13.6956L12.4242 3.26619Z" fill="#0052B4"/>
          <path d="M14.3478 15H30C30 13.6461 29.8195 12.3346 29.4833 11.0869H14.3478V15Z" fill="#D80027"/>
          <path d="M14.3478 7.17392H27.7984C26.8802 5.67556 25.7061 4.35117 24.3373 3.26086H14.3478V7.17392Z" fill="#D80027"/>
          <path d="M15 30C18.5302 30 21.775 28.7798 24.3373 26.7391H5.66272C8.22503 28.7798 11.4698 30 15 30Z" fill="#D80027"/>
          <path d="M2.20159 22.8261H27.7984C28.5356 21.6232 29.1073 20.3083 29.4832 18.913H0.516724C0.89272 20.3083 1.46442 21.6232 2.20159 22.8261Z" fill="#D80027"/>
          <path d="M6.94828 2.34246H8.31521L7.04373 3.26619L7.52941 4.76086L6.25799 3.83713L4.98656 4.76086L5.40609 3.46963C4.2866 4.40215 3.30539 5.49469 2.4968 6.71203H2.93479L2.12543 7.30002C1.99934 7.51037 1.8784 7.72406 1.7625 7.94092L2.14898 9.13043L1.42793 8.60654C1.24869 8.98629 1.08475 9.37459 0.937383 9.77098L1.36318 11.0816H2.93479L1.6633 12.0053L2.14898 13.5L0.877559 12.5763L0.115957 13.1296C0.0397266 13.7424 0 14.3665 0 15H15C15 6.71578 15 5.73914 15 0C12.0368 0 9.27451 0.85957 6.94828 2.34246ZM7.52941 13.5L6.25799 12.5763L4.98656 13.5L5.47225 12.0053L4.20076 11.0816H5.77236L6.25799 9.58693L6.74361 11.0816H8.31521L7.04373 12.0053L7.52941 13.5ZM7.04373 7.63576L7.52941 9.13043L6.25799 8.2067L4.98656 9.13043L5.47225 7.63576L4.20076 6.71203H5.77236L6.25799 5.21736L6.74361 6.71203H8.31521L7.04373 7.63576ZM12.9098 13.5L11.6384 12.5763L10.367 13.5L10.8527 12.0053L9.58119 11.0816H11.1528L11.6384 9.58693L12.124 11.0816H13.6956L12.4242 12.0053L12.9098 13.5ZM12.4242 7.63576L12.9098 9.13043L11.6384 8.2067L10.367 9.13043L10.8527 7.63576L9.58119 6.71203H11.1528L11.6384 5.21736L12.124 6.71203H13.6956L12.4242 7.63576ZM12.4242 3.26619L12.9098 4.76086L11.6384 3.83713L10.367 4.76086L10.8527 3.26619L9.58119 2.34246H11.1528L11.6384 0.847793L12.124 2.34246H13.6956L12.4242 3.26619Z" fill="#0052B4"/>
          </g>
          <defs>
          <clipPath id="clip0">
          <rect width="30" height="30" fill="white"/>
          </clipPath>
          </defs>
          </svg>

        </div>
      </div>
    </nav>

    <div class="content container">
      <ul class="sidebar">
        {{#each data.content.Documentation}}
          {{#if this.[0].Section}}
            <li linked_with="key_{{@index}}" class="{{this.[0].type}}"><a true_id="{{this.[0].true_id}}" href="#key_{{@index}}">{{this.[0].Section}}</a></li>
          {{else}}
            <li linked_with="key_{{@index}}" class="{{this.[0].type}}"><a true_id="{{this.[0].true_id}}" href="#key_{{@index}}">{{this.[0].Subsection}}</a> </li>
          {{/if}}
        {{/each}}
        <div style="padding: 5px"></div>
      </ul>

      <div class="main_text">

        {{#each data.content.Documentation}}

          {{#if this.[0].Section}}
            <h3 highlighter="true" id="key_{{@index}}" class="">{{this.[0].listed}}</h3>
          {{else}}
            <h4 highlighter="true" id="key_{{@index}}">{{this.[0].listed}}</h4>
          {{/if}}

          {{#if this.[1].para}}
            <p>{{{this.[1].para}}}</p>
          {{/if}}

          {{#if this.[1].image}}
            <img src="{{this.[1].image}}" alt="">
          {{/if}}

          {{#if this.[2].para}}
            <p>{{{this.[2].para}}}</p>
          {{/if}}

          {{#if this.[2].image}}
            <img src="{{this.[2].image}}" alt="">
          {{/if}}

          {{#if this.[3].para}}
            <p>{{{this.[3].para}}}</p>
          {{/if}}

          {{#if this.[3].image}}
            <img src="{{this.[3].image}}" alt="">
          {{/if}}

        {{/each}}

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/natural_therapy/jquery.pjax.js"></script>
    <script src="/natural_therapy/{{data.content.stylesheet}}_javascript.js" type="text/javascript"></script>
  </body>
</html>
