<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Ticket</title>
  </head>
  <body>
    {{> nav}}
    <p> Ticket No: {{ticketNo}} </p>
    <p> Image:  </p>
    <img src="{{{img}}}" width=500>
    <p> Back Side: </p>
    <img src="{{{back_img}}}" width=500>
    <p> Username: {{{username}}} </p>
    <p> Email: {{{email}}}</p>
  </body>
</html>
