<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Show Events</title>
</head>

<body>
  {{> navbar}}

  {{#each allEvents}}
    <div class="card">

      <p>{{this.title}}</p>
      <p>{{this.date}}</p>
      <p>{{this.time}}</p>
      <p>{{{breaklines this.description}}}</p>

      {{#if photo}}

        <img src="{{photo}}" width="200px" alt="">
        <p><a href="/admin/editImage?public_id={{this._id}}&redirect=showEvents">Edit Image</a> </p>

      {{else}}

        <p><a href="/admin/newImage?public_id={{this._id}}&redirect=showEvents">New Image</a> </p>

      {{/if}}
	

      <p><a href="/admin/newTicket?public_id={{this._id}}">Add New Ticket</a> </p>
      <p><a href="/admin/showTickets?public_id={{this._id}}">Show Tickets</a> </p>
      <p><a href="/admin/editEvent?id={{this._id}}">Edit Event</a> </p>
      <p><a href="/admin/deleteEvent?id={{this._id}}">Delete</a> </p>



    </div>
  {{/each}}
</body>

</html>
