<html>

<head>

    <title>New Collection</title>

    <style type="text/css">
        
        body {
            width: 800px;
            margin: auto;
        }
        
        .propertySelect {
            display: flex;
            border: 1px solid grey;
            align-items: center;
            justify-content: center;
        }

        .propertySelect > input, .propertySelect > select {
            width: 50%;
            align-items: center;
            text-align: center;
            padding: 10px;
            border: 0px solid grey;
            
        }

        .propertySelect > label, .propertySelect > [type=radio] {
            width: 10%;
            align-items: center;
            text-align: center;
            display: flex;
            align-items: center;
        }

        form > * {
            margin-top: 1rem;
        }

        button {
            padding: 10px;
            border: 1px solid grey;
        }

        .error {
            font-weight: bold;
            color: red;
        }
    </style>
</head>

<body>

    <p class=error>{{data.error}}</p>

    {{#if (matchValues data.brand 'myapp')}}
    <p><a href="/{{data.brand}}/admin/page/showCollection/collections">Show Collections</a></p>
    {{else}}
    <p><a href="/{{data.brand}}/admin/page/showCollection/{{data.brand}}-users">Show Collections</a></p>
    {{/if}}

    <p>Create new Collection below</p>

    <p>Owner: {{data.brand}}</p>

    <p>Collection Name: {{data.name}}</p>

    <form action="#" method="post">
        
      {{#each data.inputs}} 

      <div class="propertySelect">

          <input name="label{{@index}}" type="text" placeholder="Label" value="{{this.name}}">

          <select name="type{{@index}}" id="type{{@index}}">
            {{#each ../data.types}}
                <option value="{{this.html}}+{{this.name}}">{{this.html}}</option>
            {{/each}}
                <option value="{{this.html}}+{{this.type}}" selected>{{this.html}}</option>
          </select>

          <input type="radio" id="true" name="req{{@index}}" value=true {{#if (matchValues this.required 'true')}} checked {{/if}}>
          <label for="true">true</label>

          <input type="radio" id="false" name="req{{@index}}" value=false {{#if (matchValues this.required 'false')}} checked {{/if}}>
          <label for="false">false</label>

      </div>
          
      {{/each}}

      <button type="button" id="btn-more">Add One More</button>
        <br>
      <button type="submit">Submit</button>

    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script>

        $('#btn-more').on('click',function() {
            $('.propertySelect:eq(0)').clone().insertAfter('.propertySelect:eq(-1)');
            $('.propertySelect:eq(-1)>input').attr('name','label'+$('.propertySelect').length);
            $('.propertySelect:eq(-1)>select').attr('name','type'+$('.propertySelect').length).attr('id','type'+$('.propertySelect').length);
            $('.propertySelect:eq(-1)>[type=radio]').attr('name','req'+$('.propertySelect').length);
        });

        $('form').on('submit',function(e) {
            e.preventDefault();
            let labels = $(this).serializeArray().filter(val => /label/gi.test(val.name)); // INPUT Tag
            let types = $(this).serializeArray().filter(val => /type/gi.test(val.name)); // SELECT Tag
            let reqs = $(this).serializeArray().filter(val => /req/gi.test(val.name)); // RADIO Tag
            let output = labels.reduce((total,val,index) => {
                return Object.assign(total,{
                    [val.value] : {
                        type: types[index].value.split('+')[1], 
                        required: reqs[index].value,
                        html: types[index].value.split('+')[0]
                    }
                });
            },{});
             // return console.log($(this).serializeArray());
            console.log(output);
            let data = {
                modelName: 'collections',
                _id: '{{data._id}}',
                name: '{{data.name}}',
                brand: '{{data.brand}}',
                properties: output
            };
            $.ajax({
              type: "POST",
              url: '/{{data.brand}}/admin/data/updateSequence/n',
              data: data,
              success: (data) => console.log(data),
            });
            return console.log(data);
        });

    </script>

</body>

</html>
