<h3>Page branding is an important part of your website. Upload a good logo and regularly maintain your social media presence.</h3>

<table class="d-none" myId="branding">
</table>

<section class="branding">

    <div>
        {{#if data.resources.[0].logo.[1]}}

            <label for="mainLogo"></label>
            <input type="file" id="mainLogo" name="photo" accept="image/*" onchange="readURL(this)" />

            <img src="{{data.resources.[0].logo.[1]}}" alt="">

            <div class="loader d-none"></div>
            <input type="text" class="d-none" value="{{data.resources.[0].logo.[1]}}">

        {{else}}

            <label for="mainLogo"></label>
            <input type="file" id="mainLogo" name="photo" accept="image/*" onchange="readURL(this)" />

            <img src="" alt="">

            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M63.3327 43.3334H43.3327V63.3334H36.666V43.3334H16.666V36.6667H36.666V16.6667H43.3327V36.6667H63.3327V43.3334Z" fill="#4F4F4F"/>
            </svg>
            <p>Landing Page Navbar Logo</p>

            <div class="loader d-none"></div>
            <input type="text" class="d-none" value="">

        {{/if}}
    </div>

    <div>
        {{#if data.resources.[0].logo.[0]}}

            <label for="secLogo"></label>
            <input type="file" id="secLogo" name="secLogo" accept="image/*" onchange="readURL(this)" />
            <img src="{{data.resources.[0].logo.[0]}}" alt="">
    
            <div class="loader d-none"></div>
            <input type="text" class="d-none" value="{{data.resources.[0].logo.[0]}}">

        {{else}}
            <label for="secLogo"></label>
            <input type="file" id="secLogo" name="secLogo" accept="image/*" onchange="readURL(this)" />
            <img src="" alt="">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M63.3327 43.3334H43.3327V63.3334H36.666V43.3334H16.666V36.6667H36.666V16.6667H43.3327V36.6667H63.3327V43.3334Z" fill="#4F4F4F"/>
            </svg>
            <p>Secondary Navbar Logo</p>
        
            <div class="loader d-none"></div>
            <input type="text" class="d-none" value="">
        {{/if}}
    </div>

    <form action="">

        <p>
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="17.5" cy="17.5" r="17" stroke="#4F4F4F"/>
                <path d="M22.3447 18.125L22.8632 14.8674H19.621V12.7535C19.621 11.8623 20.0739 10.9936 21.526 10.9936H23V8.22008C23 8.22008 21.6624 8 20.3835 8C17.7134 8 15.9681 9.56023 15.9681 12.3847V14.8674H13V18.125H15.9681V26H19.621V18.125H22.3447Z" fill="#4F4F4F"/>
            </svg>

            <input id="facebook" type="text" placeholder="https://facebook.com/" value="{{data.resources.[0].facebook}}">
        </p>

        <p>
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="17.5" cy="17.5" r="17" stroke="#4F4F4F"/>
                <path d="M25.1498 13.7383C25.1612 13.9023 25.1612 14.0664 25.1612 14.2305C25.1612 19.2344 21.4493 25 14.665 25C12.5749 25 10.6333 24.3789 9 23.3008C9.29697 23.3359 9.58247 23.3477 9.89086 23.3477C11.6155 23.3477 13.2031 22.75 14.4708 21.7305C12.849 21.6953 11.4898 20.6055 11.0216 19.1055C11.25 19.1406 11.4784 19.164 11.7183 19.164C12.0495 19.164 12.3807 19.1172 12.6891 19.0352C10.9987 18.6836 9.73094 17.1601 9.73094 15.3203V15.2734C10.222 15.5547 10.7932 15.7305 11.3984 15.7539C10.4048 15.0742 9.75379 13.914 9.75379 12.6015C9.75379 11.8984 9.9365 11.2539 10.2563 10.6914C12.0723 12.9883 14.802 14.4882 17.8629 14.6523C17.8058 14.3711 17.7716 14.0781 17.7716 13.7852C17.7716 11.6992 19.4162 10 21.4607 10C22.5228 10 23.4822 10.457 24.1561 11.1953C24.9898 11.0313 25.7893 10.7148 26.4975 10.2813C26.2233 11.1602 25.6409 11.8985 24.8756 12.3672C25.618 12.2852 26.3376 12.0742 27 11.7813C26.4975 12.5312 25.8693 13.1992 25.1498 13.7383V13.7383Z" fill="#4F4F4F"/>
            </svg>
            <input id="twitter" type="text" placeholder="https://twitter.com/" value="{{data.resources.[0].twitter}}">
        </p>
        <p>
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" stroke="#4F4F4F"/>
            <path d="M21.744 7H13.256C9.80643 7 7 9.80643 7 13.256V21.744C7 25.1936 9.80643 28 13.256 28H21.744C25.1936 28 28 25.1936 28 21.744V13.256C28 9.80643 25.1935 7 21.744 7ZM25.8874 21.744C25.8874 24.0323 24.0323 25.8874 21.744 25.8874H13.256C10.9677 25.8874 9.1126 24.0323 9.1126 21.744V13.256C9.1126 10.9677 10.9677 9.1126 13.256 9.1126H21.744C24.0323 9.1126 25.8874 10.9677 25.8874 13.256V21.744Z" fill="#4F4F4F"/>
            <path d="M17.4978 12.0686C14.5029 12.0686 12.0664 14.5051 12.0664 17.4999C12.0664 20.4947 14.5029 22.9313 17.4978 22.9313C20.4926 22.9313 22.9291 20.4948 22.9291 17.4999C22.9291 14.5051 20.4926 12.0686 17.4978 12.0686ZM17.4978 20.8187C15.6648 20.8187 14.179 19.3329 14.179 17.5C14.179 15.667 15.6649 14.1812 17.4978 14.1812C19.3307 14.1812 20.8165 15.667 20.8165 17.5C20.8165 19.3328 19.3306 20.8187 17.4978 20.8187Z" fill="#4F4F4F"/>
            <path d="M22.9421 13.4109C23.6609 13.4109 24.2435 12.8282 24.2435 12.1094C24.2435 11.3907 23.6609 10.808 22.9421 10.808C22.2233 10.808 21.6406 11.3907 21.6406 12.1094C21.6406 12.8282 22.2233 13.4109 22.9421 13.4109Z" fill="#4F4F4F"/>
            </svg>
            <input id="insta" text="text" placeholder="https://instagram.com/" value="{{data.resources.[0].insta}}">
        </p>
        <p>
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="17.5" cy="17.5" r="17" stroke="#4F4F4F"/>
                <path d="M23.7952 10H11.4025C8.97106 10 7 11.9711 7 14.4025V20.5975C7 23.0289 8.97106 25 11.4025 25H23.7952C26.2266 25 28.1977 23.0289 28.1977 20.5975V14.4025C28.1977 11.9711 26.2266 10 23.7952 10ZM20.8178 17.8014L15.0213 20.566C14.8669 20.6396 14.6885 20.527 14.6885 20.3559V14.654C14.6885 14.4805 14.8716 14.368 15.0264 14.4464L20.8228 17.3838C20.9952 17.4711 20.9922 17.7183 20.8178 17.8014Z" fill="#4F4F4F"/>
            </svg>

            <input id="youtube" type="text" placeholder="https://youtube.com" value="{{data.resources.[0].youtube}}">
        </p>
    
    
    </form>

    <box>
        <h3>Attach a script (like Crisp online chat system) to your website.</h3>
        <textarea id="scripts" name="" cols="30" rows="10" placeholder="Paste your code here" value"{{data.resources.[0].scripts}}">{{data.resources.[0].scripts}}</textarea>
    </box>

    <button class="primary" onclick="saveResources()">Save Changes</button>

</section>
