<h3>Page branding is an important part of your website. Upload a good logo and regularly maintain your social media presence.</h3>

<table class="d-none" myId="branding">
</table>

<section class="branding">

    <div>
        {{#if data.resources.[0].logo.[1]}}

            <label for="mainLogo"></label>
            <input type="file" id="mainLogo" name="photo" accept="image/*" onchange="readURL(this)" />

            <img src="{{data.resources.[0].logo.[1]}}" alt="">

            <div class="loader d-none"></div>
            <input type="text" class="d-none" value="{{data.resources.[0].logo.[1]}}">

        {{else}}

            <label for="mainLogo"></label>
            <input type="file" id="mainLogo" name="photo" accept="image/*" onchange="readURL(this)" />

            <img src="" alt="">

            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M63.3327 43.3334H43.3327V63.3334H36.666V43.3334H16.666V36.6667H36.666V16.6667H43.3327V36.6667H63.3327V43.3334Z" fill="#4F4F4F"/>
            </svg>
            <p>Landing Page Navbar Logo</p>

            <div class="loader d-none"></div>
            <input type="text" class="d-none" value="">

        {{/if}}
    </div>

    <div>
        {{#if data.resources.[0].logo.[0]}}

            <label for="secLogo"></label>
            <input type="file" id="secLogo" name="secLogo" accept="image/*" onchange="readURL(this)" />
            <img src="{{data.resources.[0].logo.[0]}}" alt="">
    
            <div class="loader d-none"></div>
            <input type="text" class="d-none" value="{{data.resources.[0].logo.[0]}}">

        {{else}}
            <label for="secLogo"></label>
            <input type="file" id="secLogo" name="secLogo" accept="image/*" onchange="readURL(this)" />
            <img src="" alt="">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M63.3327 43.3334H43.3327V63.3334H36.666V43.3334H16.666V36.6667H36.666V16.6667H43.3327V36.6667H63.3327V43.3334Z" fill="#4F4F4F"/>
            </svg>
            <p>Secondary Navbar Logo</p>
        
            <div class="loader d-none"></div>
            <input type="text" class="d-none" value="">
        {{/if}}
    </div>

    <form action="">

        <p>
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" fill="white" stroke="white"/>
            <path d="M21.3064 18L21.7673 15.1044H18.8853V13.2253C18.8853 12.4331 19.2879 11.6609 20.5787 11.6609H21.8889V9.19563C21.8889 9.19563 20.6999 9 19.5631 9C17.1897 9 15.6383 10.3869 15.6383 12.8975V15.1044H13V18H15.6383V25H18.8853V18H21.3064Z" fill="#4F4F4F"/>
            </svg>
            <input id="facebook" type="text" placeholder="https://facebook.com/" value="{{data.resources.[0].facebook}}">
        </p>

        <p>
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" fill="white" stroke="white"/>
            <path d="M25.0731 13.4891C25.0838 13.6422 25.0838 13.7953 25.0838 13.9484C25.0838 18.6187 21.6193 24 15.2873 24C13.3366 24 11.5244 23.4203 10 22.4141C10.2772 22.4469 10.5436 22.4578 10.8315 22.4578C12.4411 22.4578 13.9228 21.9 15.1061 20.9485C13.5924 20.9156 12.3239 19.8984 11.8868 18.4984C12.1 18.5312 12.3132 18.5531 12.5371 18.5531C12.8462 18.5531 13.1554 18.5093 13.4432 18.4328C11.8655 18.1047 10.6822 16.6828 10.6822 14.9656V14.9219C11.1406 15.1844 11.6736 15.3484 12.2385 15.3703C11.3111 14.7359 10.7035 13.6531 10.7035 12.4281C10.7035 11.7719 10.8741 11.1703 11.1726 10.6453C12.8675 12.789 15.4152 14.189 18.2721 14.3422C18.2188 14.0797 18.1868 13.8063 18.1868 13.5328C18.1868 11.5859 19.7218 10 21.6299 10C22.6213 10 23.5167 10.4266 24.1457 11.1156C24.9238 10.9625 25.67 10.6672 26.331 10.2625C26.0751 11.0828 25.5315 11.7719 24.8173 12.2094C25.5102 12.1328 26.1817 11.9359 26.8 11.6625C26.331 12.3625 25.7447 12.9859 25.0731 13.4891V13.4891Z" fill="#4F4F4F"/>
            </svg>
            <input id="twitter" type="text" placeholder="https://twitter.com/" value="{{data.resources.[0].twitter}}">
        </p>
        <p>
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" fill="white" stroke="white"/>
            <path d="M20.9356 9H14.0644C11.2719 9 9 11.2719 9 14.0644V20.9356C9 23.7281 11.2719 26 14.0644 26H20.9356C23.7281 26 26 23.7281 26 20.9356V14.0644C26 11.2719 23.7281 9 20.9356 9ZM24.2898 20.9356C24.2898 22.7881 22.7881 24.2898 20.9356 24.2898H14.0644C12.2119 24.2898 10.7102 22.7881 10.7102 20.9356V14.0644C10.7102 12.2119 12.2119 10.7102 14.0644 10.7102H20.9356C22.7881 10.7102 24.2898 12.2119 24.2898 14.0644V20.9356Z" fill="#4F4F4F"/>
            <path d="M17.4984 13.1031C15.074 13.1031 13.1016 15.0756 13.1016 17.4999C13.1016 19.9243 15.074 21.8967 17.4984 21.8967C19.9228 21.8967 21.8952 19.9243 21.8952 17.4999C21.8952 15.0755 19.9228 13.1031 17.4984 13.1031ZM17.4984 20.1866C16.0146 20.1866 14.8118 18.9837 14.8118 17.5C14.8118 16.0162 16.0146 14.8133 17.4984 14.8133C18.9822 14.8133 20.185 16.0162 20.185 17.5C20.185 18.9837 18.9821 20.1866 17.4984 20.1866Z" fill="#4F4F4F"/>
            <path d="M21.9051 14.1898C22.487 14.1898 22.9587 13.7181 22.9587 13.1362C22.9587 12.5543 22.487 12.0826 21.9051 12.0826C21.3233 12.0826 20.8516 12.5543 20.8516 13.1362C20.8516 13.7181 21.3233 14.1898 21.9051 14.1898Z" fill="#4F4F4F"/>
            </svg>
            <input id="insta" text="text" placeholder="https://instagram.com/" value="{{data.resources.[0].insta}}">
        </p>
        <p>
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" fill="white" stroke="white"/>
            <path d="M23.6755 10H12.109C9.83965 10 8 11.8397 8 14.109V19.891C8 22.1603 9.83965 24 12.109 24H23.6755C25.9448 24 27.7845 22.1603 27.7845 19.891V14.109C27.7845 11.8397 25.9448 10 23.6755 10ZM20.8966 17.2813L15.4866 19.8616C15.3424 19.9303 15.1759 19.8252 15.1759 19.6655V14.3437C15.1759 14.1818 15.3468 14.0768 15.4913 14.15L20.9013 16.8916C21.0621 16.973 21.0594 17.2037 20.8966 17.2813Z" fill="#4F4F4F"/>
            </svg>
            <input id="youtube" type="text" placeholder="https://youtube.com" value="{{data.resources.[0].youtube}}">
        </p>
        <p>
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" fill="white" stroke="white"/>
            <path d="M24.5 10.5H10.5C9.5375 10.5 8.75875 11.2875 8.75875 12.25L8.75 22.75C8.75 23.7125 9.5375 24.5 10.5 24.5H24.5C25.4625 24.5 26.25 23.7125 26.25 22.75V12.25C26.25 11.2875 25.4625 10.5 24.5 10.5ZM24.5 14L17.5 18.375L10.5 14V12.25L17.5 16.625L24.5 12.25V14Z" fill="#4F4F4F"/>
            </svg>
            <input id="mail" type="text" placeholder="youremail@yourhost.com" value="{{data.resources.[0].email}}">
        </p>
        <p>
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" fill="white" stroke="white"/>
            <path d="M13.5167 15.9917C14.7167 18.35 16.65 20.275 19.0083 21.4833L20.8417 19.65C21.0667 19.425 21.4 19.35 21.6917 19.45C22.625 19.7583 23.6333 19.925 24.6667 19.925C25.125 19.925 25.5 20.3 25.5 20.7583V23.6667C25.5 24.125 25.125 24.5 24.6667 24.5C16.8417 24.5 10.5 18.1583 10.5 10.3333C10.5 9.875 10.875 9.5 11.3333 9.5H14.25C14.7083 9.5 15.0833 9.875 15.0833 10.3333C15.0833 11.375 15.25 12.375 15.5583 13.3083C15.65 13.6 15.5833 13.925 15.35 14.1583L13.5167 15.9917Z" fill="#4F4F4F"/>
            </svg>
            <input id="mobile" type="text" placeholder="+9232351626823" value="{{data.resources.[0].mobile}}">
        </p>
    
    
    </form>

    <box>

    <div>
        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="17.5" cy="17.5" r="17" fill="white" stroke="white"/>
        <g clip-path="url(#clip0)">
        <path d="M15.3684 17.5425C14.2084 17.5425 13.2676 18.4833 13.2676 19.6433V24.8983C13.2676 26.0583 14.2084 26.9992 15.3684 26.9992C16.5284 26.9992 17.4692 26.0583 17.4692 24.8983V19.6433C17.4684 18.4833 16.5276 17.5425 15.3684 17.5425Z" fill="#4F4F4F"/>
        <path d="M8.01562 19.6433C8.01562 20.8042 8.95729 21.7458 10.1181 21.7458C11.279 21.7458 12.2206 20.8042 12.2206 19.6433V17.5408H10.1198C10.119 17.5408 10.119 17.5408 10.1181 17.5408C8.95729 17.5408 8.01562 18.4825 8.01562 19.6433V19.6433Z" fill="#4F4F4F"/>
        <path d="M15.3726 6.99915C15.3717 6.99915 15.3709 6.99915 15.3701 6.99915C14.2092 6.99915 13.2676 7.94081 13.2676 9.10165C13.2676 10.2625 14.2092 11.2041 15.3701 11.2041H17.4709V9.10165C17.4709 9.10081 17.4709 9.09915 17.4709 9.09748C17.4701 7.93831 16.5309 6.99915 15.3726 6.99915V6.99915Z" fill="#4F4F4F"/>
        <path d="M10.1045 16.475H15.3695C16.5303 16.475 17.472 15.5333 17.472 14.3725C17.472 13.2116 16.5303 12.27 15.3695 12.27H10.1045C8.94362 12.27 8.00195 13.2116 8.00195 14.3725C8.00195 15.5333 8.94362 16.475 10.1045 16.475V16.475Z" fill="#4F4F4F"/>
        <path d="M25.8815 12.2692C24.7224 12.2692 23.7832 13.2083 23.7832 14.3675V14.3717V16.4742H25.884C27.0449 16.4742 27.9865 15.5325 27.9865 14.3717C27.9865 13.2108 27.0449 12.2692 25.884 12.2692C25.8832 12.2692 25.8824 12.2692 25.8815 12.2692V12.2692Z" fill="#4F4F4F"/>
        <path d="M18.5352 9.10169V14.3725C18.5352 15.5325 19.476 16.4734 20.636 16.4734C21.796 16.4734 22.7368 15.5325 22.7368 14.3725V9.10169C22.7368 7.94169 21.796 7.00085 20.636 7.00085C19.476 7.00085 18.5352 7.94169 18.5352 9.10169V9.10169Z" fill="#4F4F4F"/>
        <path d="M22.7349 24.8966C22.7349 23.7366 21.794 22.7958 20.634 22.7958H18.5332V24.8983C18.534 26.0575 19.474 26.9975 20.634 26.9975C21.794 26.9975 22.7349 26.0566 22.7349 24.8966Z" fill="#4F4F4F"/>
        <path d="M25.8988 17.5408H20.6338C19.4729 17.5408 18.5312 18.4825 18.5312 19.6433C18.5312 20.8042 19.4729 21.7458 20.6338 21.7458H25.8988C27.0596 21.7458 28.0013 20.8042 28.0013 19.6433C28.0013 18.4825 27.0596 17.5408 25.8988 17.5408V17.5408Z" fill="#4F4F4F"/>
        </g>
        <defs>
        <clipPath id="clip0">
        <rect width="20" height="20" fill="white" transform="translate(8 7)"/>
        </clipPath>
        </defs>
        </svg>
        <h3> Receive new order alerts on slack.  </h3>
    </div>


        <label for="">Step 1 : Copy your <a href="https://api.slack.com/apps">Slack Token</a> and paste below.</label>
        <input type="text" placeholder="xoxo-...." id="slackToken" value="{{data.resources.[0].slackToken}}" required>
        
        <label for="">Step 2 : Add the slack channel name below.</label>
        <input type="text" placeholder="my-channel" id="channelId" value="{{data.resources.[0].slackChannelId}}" required>

        <button class="secondary" onclick="sendSlackMsg(this)">Send a test message</button>
    
    </box>

    <box>
        <div>

            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" fill="white" stroke="white"/>
            <path d="M9.50026 17L13.7169 21.2167L12.4336 22.5L6.93359 17L12.4336 11.5L13.7169 12.7833L9.50026 17Z" fill="#4F4F4F"/>
            <path d="M21.5 21.2167L25.7167 17L21.5 12.7833L22.7833 11.5L28.2833 17L22.7833 22.5L21.5 21.2167Z" fill="#4F4F4F"/>
            </svg>

            <h3>Attach a script (like Crisp online chat system) to your website.</h3>
        </div>
        <textarea id="scripts" name="" cols="30" rows="10" placeholder="Paste your code here" value"{{data.resources.[0].scripts}}">{{data.resources.[0].scripts}}</textarea>
    </box>

    <button class="primary" onclick="saveResources()">Save Changes</button>

</section>
