<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>Dedicated Parents | Blog</title>
        {{> dedicated_parents/header}}
    </head>
    <body>
	
                {{> dedicated_parents/headerNav active='blogs'}}

		<div class="container">
			
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Blog</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 hidden-xs back-home">
						<a href="/dedicated_parents/gen/page/landingPage/n">&larr; Go back Home</a>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.page-header -->

			<div class="row">
				
				<div class="col-md-8">
					<div class="blog-single">
						<div class="post-image">
<img src="https://res.cloudinary.com/miscellaneous/image/upload/c_lpad,h_400,w_770/{{data.blog.number}}/dedicatedparents/blogs-photos/{{data.blog.imgSlug}}" alt="">
							<div class="image-over">
                                                            <span><i class="fa fa-user"></i>{{data.blog.author}}</span>
                                                                <span><i class="fa fa-comments-o"></i>Comments <em>({{data.countComments}})</em></span>
                                                                <span><i class="fa fa-calendar-o"></i>{{data.blog.date}}</span>
							</div>
						</div> <!-- /.blog-thumb -->
						<div class="post-content">
                                                    {{{data.blog.post}}}
							<div class="tags">
								<span><i class="fa fa-tags"></i></span>
                                                                {{#each (splitComma data.blog.tags)}}
                                                                <a href="#">{{this}}</a>
                                                                {{/each}}
							</div> <!-- /.tags -->
						</div> <!-- /.blog-content -->
					</div> <!-- /.blog-single -->

					<div class="comments box-content">
                                            <h4 class="widget-title"><span>Comments <em>({{data.countComments}})</em></span></h4>
                                                {{#each data.comments}}
                                                <div class="comment post" data-id="{{this.comment._id}}">
							<div class="author-thumb">
								<img src="http://placehold.it/80x80" alt="">
							</div> <!-- /.author-thumb -->

							<div class="comment-body">
                                                            <h5 class="hyphon author">{{this.comment.name}}</h5>
                                                            <span onclick="replyForm(this)" class="hyphon reply">Reply</span>
                                                            <span onclick="replyForm(this)" class="hyphon user-action">Approve</span>
                                                            <span onclick="replyForm(this)" class="user-action">Delete</span>
                                                            <span class="time">{{getFormattedDateTimeMongoId this.comment._id}}</span>
                                                            <p>{{this.comment.comment}}</p>
							</div> <!-- /.comment-body -->

                                                    {{#each this.replies}}
                                                    <div class="comment">
                                                            <div class="author-thumb">
                                                                    <img src="http://placehold.it/80x80" alt="">
                                                            </div> <!-- /.author-thumb -->

                                                            <div class="comment-body">
                                                                <h5 class="hyphon author">{{this.name}}</h5>
                                                                <span onclick="replyForm(this)" class="hyphon reply">Reply</span>
                                                                <span onclick="replyForm(this)" class="hyphon user-action reply">Approve</span>
                                                                <span onclick="replyForm(this)" class="user-action reply">Delete</span>
                                                                <span class="time">{{getFormattedDateTimeMongoId this._id}}</span>
                                                                <p>{{this.comment}}</p>
                                                            </div> <!-- /.comment-body -->
                                                    </div>
                                                    {{/each}}
						</div> <!-- /.comment -->
                                                {{/each}}
					</div> <!-- /.comments -->

					<div class="reply-form comment-form box-content d-none">
						<h4 class="widget-title"><span>Reply to the Comment</span></h4>
						<form>

						    <fieldset>
								<label for="name">First Name: <span>Put your name here</span></label>
								<input type="text" id="name-reply" name="name" class="form-input">
						    </fieldset>
						    <fieldset>
								<label for="email">Email: <span>Put your email here</span></label>
								<input type="email" id="email-reply" name="email" class="form-input">
						    </fieldset>
						    <fieldset>
								<label for="comment">Comment: <span>Feel free to type</span></label>
								<textarea name="comment" id="comment-reply" rows="6"></textarea>
						    </fieldset>
						    <fieldset>
						    	<button type="submit" id="submit-button-reply" class="btn main-btn" onclick="replyComment(this)">Submit Comment</button>
                                                        <p class="d-none success"></p>
                                                        <p class="d-none error"></p>
						    </fieldset>
						</form>
					</div> <!-- /.comment-form -->

					<div class="new-form comment-form box-content">
						<h4 class="widget-title"><span>Leave Us a Comment</span></h4>
						<form>
						    <fieldset>
								<label for="name">First Name: <span>Put your name here</span></label>
								<input type="text" id="name" name="name" class="form-input">
						    </fieldset>
						    <fieldset>
								<label for="email">Email: <span>Put your email here</span></label>
								<input type="email" id="email" name="email" class="form-input">
						    </fieldset>
						    <fieldset>
								<label for="comment">Comment: <span>Feel free to type</span></label>
								<textarea name="comment" id="comment" rows="6"></textarea>
						    </fieldset>
						    <fieldset>
						    	<button type="submit" id="submit-button" class="btn main-btn" onclick="postComment(this)">Submit Comment</button>
                                                        <p class="d-none success"></p>
                                                        <p class="d-none error"></p>
						    </fieldset>
						</form>
					</div> <!-- /.comment-form -->
				</div> <!-- /.col-md-8 -->

				<div class="col-md-4">
                                        {{> dedicated_parents/galleryPhotos}}
                                        {{> dedicated_parents/upcomingEvents}}
				</div> <!-- /.col-md-4 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->

		
                {{> dedicated_parents/footer}}
<script>

    let replyForm = function(elem) {

        console.log($(elem).closest(".comment.post").find(".reply-form").get());
        console.log($(elem).closest(".comment.post").find(".reply-form"));

        $(".comment.post").find(".reply").html("Reply");

        if ( $(elem).closest(".comment.post").find(".reply-form:not(.d-none)").get().length > 0 ) {
            $(".reply-form").addClass("d-none");
        } else {
            $(".reply-form").appendTo( $(elem).closest(".comment.post") );
            $(elem).closest(".comment.post").css({"scroll-margin": "30px"});
            elem.closest(".comment.post").scrollIntoView();
            $(".reply-form").removeClass("d-none");
            $(elem).html("Cancel");
        };

    };

    let getFormattedDateTimeMongoId = function(objectId) {
        let date = new Date(parseInt(objectId.toString().substring(0, 8), 16) * 1000);
        let dtg = date.toString().split(" ");
        let obj = {
            time: dtg[4],
            date: dtg[2],
            month: dtg[1],
            yr: dtg[3]
        }
        let time = obj.time.split(":");
        obj.time = time[0]+time[1]+ " hrs";
        return `${obj.time} · ${obj.date} ${obj.month} ${obj.yr.slice(2,4)}`;
    };

    let getCommentHtml = function(val) {

        return `
            <div class="comment" data-id="${val.success._id}">
                    <div class="author-thumb">
                            <img src="http://placehold.it/80x80" alt="">
                    </div> 

                    <div class="comment-body">
                        <h5 class="hyphon author">${val.success.name}</h5>
                        <span onclick="replyForm(this)" class="hyphon reply">Reply</span>
                        <span onclick="replyForm(this)" class="user-action">Delete</span>
                        <span class="time">${getFormattedDateTimeMongoId(val.success._id)}</span>
                        <p>${val.success.comment}</p>
                    </div>

            </div>
        `;

    };


    let replyComment = function(elem) {
        
        $(elem).closest(".comment-form").find(".success, .error").addClass("d-none");
        
        let form = {
            name: $(elem).closest(".comment-form").find("[name=name]").val(),
            email: $(elem).closest(".comment-form").find("[name=email]").val(),
            comment: $(elem).closest(".comment-form").find("[name=comment]").val(),
            replyTo: $(elem).closest(".comment.post").attr("data-id"),
            slug: "{{data.blog.slug}}",
            page: "d_pblog"
        };

        console.log(form);

        if ( !(form.name && form.email && form.comment) ) {
            $(elem).html("Post Comment");
            console.log("error");
            console.log(form);
            return $(elem).closest(".comment-form").find(".error").removeClass("d-none").html("Please fill all the fields above.");
        };

        $(elem).html("Posting...");

        $.ajax({
            url: "/dedicated_parents/gen/data/postComment/n",
            method: "POST",
            data: form,
            success: val => {
                console.log(val);
                $(elem).html("Post Comment");
                $(elem).closest(".comment-form").find(".success").removeClass("d-none").html("Comment posted successfully!");
                let html = getCommentHtml(val);
                $(html).insertBefore( $(elem).closest(".comment-form") );
                $(elem).closest(".comment-form").find("input, textarea").each( (k, v) => $(v).val("") );
            },
        }).fail( err => {
            console.log(err);
            $(elem).html("Post Comment");
            return $(elem).closest(".comment-form").find(".error").removeClass("d-none").html(err.responseText);
        });
    };

    let postComment = function(elem) {

        $(elem).closest(".comment-form").find(".success, .error").addClass("d-none");
        
        let form = {
            name: $(elem).closest(".comment-form").find("[name=name]").val(),
            email: $(elem).closest(".comment-form").find("[name=email]").val(),
            comment: $(elem).closest(".comment-form").find("[name=comment]").val(),
            replyTo: "none", 
            slug: "{{data.blog.slug}}",
            page: "d_pblog"
        };


        console.log(form);

        if ( !(form.name && form.email && form.comment) ) {
            $(elem).html("Post Comment");
            console.log("error");
            console.log(form);
            return $(elem).closest(".comment-form").find(".error").removeClass("d-none").html("Please fill all the fields above.");
        };

        $(elem).html("Posting...");

        $.ajax({
            url: "/dedicated_parents/gen/data/postComment/n",
            method: "POST",
            data: form,
            success: val => {
                console.log(val);
                $(elem).html("Post Comment");
                $(elem).closest(".comment-form").find(".success").removeClass("d-none").html("Comment posted successfully!");
                let html = getCommentHtml(val);
                $(html).appendTo( $(".comments") );
                $(elem).closest(".comment-form").find("input, textarea").each( (k, v) => $(v).val("") );
            },
        }).fail( err => {
            console.log(err);
            $(elem).html("Post Comment");
            return $(elem).closest(".comment-form").find(".error").removeClass("d-none").html(err.responseText);
        });

    };
</script>

    </body>
</html>
