<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>Dedicated Parents | Causes</title>
        {{> dedicated_parents/header}}
    </head>
    <body>
	
        {{> dedicated_parents/headerNav active='causes'}}

		<div class="container">
			
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Causes With Sidebar</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 hidden-xs back-home">
						<a href="index.html">&larr; Go back Home</a>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.page-header -->

			<div class="row">
				
				<div class="col-md-8">

                                        {{#each data.causes}}
					<div class="cause-list">
						<div class="cause-thumb">
							<img src="http://placehold.it/270x200" alt="">
							<a href="donate.html" class="btn main-btn">Donate Now</a>
						</div> <!-- /.cause-thumb -->
						<div class="cause-content">
							<div class="cause-holder-list clearfix">
								<div class="progress">
                                                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{this.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{this.percent}}%;"></div>
								</div>
                                                                <span class="raised pull-left">{{this.raised}}</span>
                                                                <span class="goal pull-right">{{this.target}}</span>
							</div>
                                                        <h4 class="cause-title"><a href="/dedicated_parents/gen/page/d_pcause/{{this.slug}}">{{this.title}}</a></h4>
                                                        <p>{{this.summary}}</p>
                                                        <a href="/dedicated_parents/gen/page/d_pcause/{{this.slug}}" class="read-more">Read More &rarr;</a>
						</div> <!-- /.cause-content -->
					</div> <!-- /.cause-list -->
                                        {{/each}}

					<div class="row">
						<div class="col-md-12">
							<a href="javascript:void(0);" class="load-more">Load More <i class="fa fa-refresh"></i></a>
						</div> <!-- /.col-md-12 -->
					</div> <!-- /.row -->
				</div> <!-- /.col-md-8 -->

				<div class="col-md-4">
                                    {{> dedicated_parents/galleryPhotos}}
                                    <!-- /.box-content -->
                                    {{> dedicated_parents/upcomingEvents}}
                                    <!-- /.box-content -->
				</div> <!-- /.col-md-4 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->

		
                {{> dedicated_parents/footer}}

    </body>
</html>
