<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>Dedicated Parents | Cause</title>
        {{> dedicated_parents/header}}
    </head>
    <body>

        {{> dedicated_parents/headerNav active='causes'}}

		<div class="container">
			
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Cause Single</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 hidden-xs back-home">
						<a href="index.html">&larr; Go back Home</a>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.page-header -->

			<div class="row">
				
				<div class="col-md-8">
					<div class="cause-single">
						<div class="cause-image">
							<a href="donate.html" class="btn main-btn visible-xs">Donate Now</a>
							<img src="http://placehold.it/710x410" alt="">
							<div class="cause-overlay hidden-xs">
								<div class="overlay-inner">
                                                                    <span class="meta-date"><i class="fa fa-calendar-o"></i>{{data.cause.date}}</span>
                                                                    <span class="meta-author"><i class="fa fa-user"></i>{{data.cause.author}}</span>
									<span class="price">Needed Donation <em>$24,000</em></span>
									<div class="text-center">
										<a href="donate.html" class="btn main-btn">Donate Now</a>
									</div>
								</div>
							</div> <!-- /.cause-overlay -->
						</div> <!-- /.cause-image -->
						<div class="cause-content">
							<div class="cause-holder-list clearfix">
								<div class="progress">
                                                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{data.cause.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{data.cause.percent}}%;"></div>
								</div>
                                                                <span class="raised pull-left">{{data.cause.raised}}</span>
                                                                <span class="goal pull-right">{{data.cause.target}}</span>
							</div> <!-- /.cause-holder-list -->
                                                        <span class="meta-cause visible-xs">{{data.cause.date}} by {{data.cause.author}}</span>
                                                        <h3 class="cause-title">{{data.cause.title}}</h3>
                                                        {{{data.cause.detail}}}
						</div> <!-- /.cause-content -->
					</div> <!-- /.cause-single -->
					<div class="row">
						<div class="col-md-12">
							<a href="javascript:void(0);" class="go-prev"><i class="fa fa-long-arrow-left"></i>Prev Cause</a>
							<a href="#" class="go-next inactive">Next Cause <i class="fa fa-long-arrow-right"></i></a>
						</div> <!-- /.col-md-12 -->
					</div> <!-- /.row -->
				</div> <!-- /.col-md-8 -->

				<div class="col-md-4">

                                <!-- /.box-content -->
                                {{> dedicated_parents/galleryPhotos}}
                                {{> dedicated_parents/upcomingEvents}}
                                <!-- /.box-content -->

				</div> <!-- /.col-md-4 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->

		
                {{> dedicated_parents/footer}}

    </body>
</html>
