<!DOCTYPE html>
<!--[if lt IE 7]> 
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
    <![endif]-->
    <!--[if IE 7]> 
    <html class="no-js lt-ie9 lt-ie8" lang="en">
        <![endif]-->
        <!--[if IE 8]> 
        <html class="no-js lt-ie9" lang="en">
            <![endif]-->
            <!--[if gt IE 8]><!--> 
            <html class="no-js" lang="en">
                <!--<![endif]-->
                <head>
                    <title>Dedicated Parents | Home</title>
                    {{> dedicated_parents/header}}
                </head>
                <body>
                    {{> dedicated_parents/headerNav active='home'}}
                    <div class="container">
                        <div class="top-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="u-cause-wrapper hidden-xs">
                                        <span class="u-cause-title">
                                            <a href="#" class="close-u-cause">
                                            <i class="fa fa-times"></i>
                                            </a>
                                            OUR UPDATES 
                                        </span>
                                        <div class="u-cause clearfix">
                                            <dl class="inner-carousel clearfix">
                                                {{#each data.causes}}
                                                <dt></dt>
                                                <dd>
                                                    <a href="/dedicated_parents/gen/page/d_pcause/{{this.slug}}">{{this.title}}</a> |
                                                    {{this.summary}}
                                                </dd>
                                                {{/each}}
                                                {{#each data.events}}
                                                <dt></dt>
                                                <dd>
                                                    <a href="/dedicated_parents/gen/page/d_pevent/{{this.slug}}">{{this.title}}</a> | 
                                                    {{this.summary}}
                                                </dd>
                                                {{/each}}
                                            </dl>
                                            <!-- /.inner-carousel -->
                                        </div>
                                        <!-- /.u-cause -->
                                    </div>
                                    <!-- /.u-cause-wrapper -->
                                </div>
                                <!-- /.col-md-12 -->
                            </div>
                            <!-- /.row -->
                            <div class="slider-wrapper">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="subscribe-form">
                                            <h3 class="widget-title">Stay up to date</h3>
                                            <p>Sign up today for our e-newsletter to find out what is going on and get involved.</p>
                                            <form>
                                                <fieldset>
                                                    <label for="name">First Name:</label>
                                                    <input type="text" id="name" name="name" class="form-input">
                                                </fieldset>
                                                <fieldset>
                                                    <label for="last-name">Last Name:</label>
                                                    <input type="text" id="last-name" name="last-name" class="form-input">
                                                </fieldset>
                                                <fieldset>
                                                    <label for="email">Email:</label>
                                                    <input type="email" id="email" name="email" class="form-input">
                                                </fieldset>
                                                <fieldset>
                                                    <button type="submit" id="send-button" class="btn main-btn">Submit</button>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <!-- /.subscribe-form -->
                                    </div>
                                    <!-- /.col-md-4 -->
                                    <div class="col-md-8">
                                        <div class="flexslider">
                                            <ul class="slides">
                                                {{#each data.events}}
                                                <li>
                                                    <img src="https://res.cloudinary.com/miscellaneous/image/upload/c_lpad,h_550,w_770/v1680079430/dedicatedparents/event-banners/{{this.bannerImg}}" alt="">
                                                    <div class="flex-caption">
                                                        <p>
                                                            {{this.summary}}
                                                            <a href="/dedicated_parents/gen/page/d_pevent/{{this.slug}}">Read More</a>
                                                        </p>
                                                    </div>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                        <!-- /.flexslider -->
                                    </div>
                                    <!-- /.col-md-8 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.slider-wrapper -->
                        </div>
                        <!-- /.top-content -->
                        <div class="services box-content">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8 services-header">
                                    <h5 class="widget-title">Welcome to Dedicated Parents</h5>
                                    <span></span>
                                    <p>Every man must decide whether he will walk in the light of creative altruism or in the darkness of destructive selfishness.</p>
                                </div>
                                <!-- /.services-header -->
                            </div>
                            <!-- /.row -->
                            <div class="row">
                                <div class="col-md-4 service-item">
                                    <div class="service-icon">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                    <div class="service-content">
                                        <h4 class="service-title">Education</h4>
                                        <p>Sed bibendum, arcu ac rhoncus adipiscing, nulla lectus dictum mauris, non volutpat massa ipsum in nibh.</p>
                                        <a href="#" class="read-more">Read More &rarr;</a>
                                    </div>
                                </div>
                                <!-- /.service-item -->
                                <div class="col-md-4 service-item">
                                    <div class="service-icon">
                                        <i class="fa fa-umbrella"></i>
                                    </div>
                                    <div class="service-content">
                                        <h4 class="service-title">Help & Support</h4>
                                        <p>Sed bibendum, arcu ac rhoncus adipiscing, nulla lectus dictum mauris, non volutpat massa ipsum in nibh.</p>
                                        <a href="#" class="read-more">Read More &rarr;</a>
                                    </div>
                                </div>
                                <!-- /.service-item -->
                                <div class="col-md-4 service-item">
                                    <div class="service-icon">
                                        <i class="fa fa-group"></i>
                                    </div>
                                    <div class="service-content">
                                        <h4 class="service-title">Volunteering</h4>
                                        <p>Sed bibendum, arcu ac rhoncus adipiscing, nulla lectus dictum mauris, non volutpat massa ipsum in nibh.</p>
                                        <a href="#" class="read-more">Read More &rarr;</a>
                                    </div>
                                </div>
                                <!-- /.service-item -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.services -->
                        <div class="last-causes box-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="widget-title"><span>Last Cause List</span></h4>
                                </div>
                                <!-- /.col-md-12 -->
                            </div>
                            <!-- /.row -->
                            <div class="row">
                                {{#each data.causes}}
                                <div class="col-md-3 col-sm-6 cause-grid">
                                    <div class="cause-thumb">
                                        <img src="http://placehold.it/255x200" alt="">
                                        <div class="cause-hover">
                                            <div class="cause-holder clearfix">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{this.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{this.percent}}%;"></div>
                                                </div>
                                                <span class="raised pull-left">{{this.raised}}</span>
                                                <span class="goal pull-right">{{this.target}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.cause-thumb -->
                                    <div class="cause-content">
                                        <h4 class="cause-title"><a href="/dedicated_parents/gen/page/d_pcause/{{this.slug}}">{{this.title}}</a></h4>
                                        <p>{{this.summary}}</p>
                                        <a href="#" class="btn main-btn">Donate Now</a>
                                    </div>
                                    <!-- /.cause-content -->
                                </div>
                                {{/each}}

                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.last-causes -->
                        <div class="row">
                            <div class="col-md-8">
                                <div class="box-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="widget-title"><span>Latest News</span></h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 post-grid">
                                            <div class="post-thumb">
                                                <a href="blog-single.html">
                                                <img src="http://placehold.it/340x236" alt="">
                                                </a>
                                            </div>
                                            <!-- /.post-thumb -->
                                            <div class="post-content">
                                                <p class="post-meta"><a href="#">24 June 2014</a> with <a href="#">4 Comments</a></p>
                                                <h4 class="post-title"><a href="blog-single.html">Northern Ireland unveils first register of charities</a></h4>
                                                <a href="blog-single.html" class="read-more">Continue Reading &rarr;</a>
                                            </div>
                                            <!-- /.post-content -->
                                        </div>
                                        <!-- /.post-grid -->
                                        <div class="col-md-6 col-sm-6 post-grid">
                                            <div class="post-thumb">
                                                <a href="blog-single.html">
                                                <img src="http://placehold.it/340x236" alt="">
                                                </a>
                                            </div>
                                            <!-- /.post-thumb -->
                                            <div class="post-content">
                                                <p class="post-meta"><a href="#">24 June 2014</a> with <a href="#">4 Comments</a></p>
                                                <h4 class="post-title"><a href="blog-single.html">Mission to Moldova – now watch the video</a></h4>
                                                <a href="blog-single.html" class="read-more">Continue Reading &rarr;</a>
                                            </div>
                                            <!-- /.post-content -->
                                        </div>
                                        <!-- /.post-grid -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.box-content -->
                                <div class="box-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="widget-title"><span>Our team members</span></h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 testimonials-wrapper">
                                            <ul class="testi-tabs clearfix">
                                            {{#each data.staffs}}
                                                <li {{#if (matchValues @index 0)}} class="active" {{/if}}>
                                                    <a href="#testi-content-0{{inc @index}}">
                                                    <img src="https://res.cloudinary.com/miscellaneous/image/upload/c_lpad,h_70,w_70/v1680079430/dedicatedparents/team-photos/{{this.image}}" alt="">
                                                    </a>
                                                </li>
                                            {{/each}}
                                            </ul>
                                            <div class="testi-wrapper">
                                            {{#each data.staffs}}
                                            <div id="testi-content-0{{inc @index}}" class="testi-content {{#if (matchValues @index 0)}}active{{/if}}">
                                                    <div class="testi-author">
                                                        <h6>{{this.title}}<span>{{this.role}}</span></h6>
                                                    </div>
                                                    <p>
                                                        {{reduceStringLength this.detail '151'}}...
                                                    </p>
                                                    <a href="/dedicated_parents/gen/page/d_pstaff/{{this.slug}}">Read More...</a>
                                                </div>
                                            {{/each}}
                                            </div>
                                            <!-- //.testi-wrapper -->
                                        </div>
                                        <!-- /.col-md-12 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.box-content -->
                            </div>
                            <!-- /.col-md-8 -->
                            <div class="col-md-4">
                                <div class="box-content">
                                    <h4 class="widget-title"><span>Our Gallery</span></h4>
                                    <div class="gallery-wrapper">
                                        {{#each data.gallery}}
                                        <div class="gallery-thumb">
                                            <a href="https://res.cloudinary.com/miscellaneous/image/upload/c_lpad,h_550,w_770/{{this.number}}/dedicatedparents/gallery-photos/{{this.slug}}" class="fancybox" data-fancybox-group="group1">
                                                <img src="https://res.cloudinary.com/miscellaneous/image/upload/c_lpad,h_80,w_80/{{this.number}}/dedicatedparents/gallery-photos/{{this.slug}}" alt="{{this.title}}">
                                            </a>
                                        </div>
                                        {{/each}}
                                    </div>
                                    <!-- /.gallery-wrapper -->
                                </div>
                                <!-- /.box-content -->
                                {{> dedicated_parents/upcomingEvents}}
                                <!-- /.box-content -->
                            </div>
                            <!-- /.col-md-4 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    {{> dedicated_parents/footer}}
                </body>
            </html>
