<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>Dedicated Parents | Events</title>
        {{> dedicated_parents/header}}
    </head>
    <body>

        {{> dedicated_parents/headerNav active='events'}}

		<div class="container">
			
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Our recent events</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 hidden-xs back-home">
						<a href="index.html">&larr; Go back Home</a>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.page-header -->

			<div class="row">
				
				<div class="col-md-8">
                                    {{#each data.pastEvents}}
					<div class="event-list">
						<div class="event-thumb">
                                                    <img src="https://res.cloudinary.com/miscellaneous/image/upload/c_lpad,h_192,w_240/v1680079430/dedicatedparents/{{this.bannerImg}}" alt="">
						</div> <!-- /.event-thumb -->
						<div class="event-content">
                                                    <h4 class="event-title">
                                                        <a href="/dedicated_parents/gen/page/d_pevent/{{this.slug}}">{{this.title}} </a>
                                                    </h4>
                                                        <p>{{this.summary}}</p>
							<div class="event-location">
                                                                <span><i class="fa fa-map-marker"></i>{{this.location}}</span>
							</div>
							<div class="event-time">
                                                                <span><i class="fa fa-calendar"></i>{{this.date}}</span>
							</div>
							<div class="clearfix"></div>
						</div> <!-- /.event-content -->
					</div> <!-- /.event-list -->
                                    {{/each}}
                                        <!--
					<div class="row">
						<div class="col-md-12">
							<a href="javascript:void(0);" class="load-more">Load More <i class="fa fa-refresh"></i></a>
						</div>
					</div> 
                                        -->
				</div> 

				<div class="col-md-4">
					<div class="box-content">
						<h4 class="widget-title"><span>Our Gallery</span></h4>
						<div class="gallery-wrapper">
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
						</div> <!-- /.gallery-wrapper -->
					</div> <!-- /.box-content -->
                                        {{> dedicated_parents/upcomingEvents}}
				</div> <!-- /.col-md-4 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->

		
                {{> dedicated_parents/footer}}
	

    </body>
</html>
