<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>{{data.staff.title}} / {{data.staff.role}}</title>
        {{> dedicated_parents/header}}
    </head>
    <body>

        {{> dedicated_parents/headerNav active='staffs'}}

		<div class="container">
			
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-6">
                                                <h2 class="page-title">{{data.staff.title}}</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 hidden-xs back-home">
						<a href="index.html">&larr; Go back Home</a>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.page-header -->

			<div class="row">
				
				<div class="col-md-8">
					<div class="member-single">
						<div class="member-image">
                                                    <img src="https://res.cloudinary.com/miscellaneous/image/upload/c_lpad,h_365,w_770/v1680079430/dedicatedparents/{{data.staff.image}}" alt="">
						</div> <!-- /.member-image -->
						<div class="member-content">
							<div class="member-header">
								<div class="pull-left">
                                                                    <h3><a href="staff-detail.html">{{toUpperCase data.staff.title}}</a></h3>
                                                                        <span class="role">{{data.staff.role}}</span>
								</div>
								<ul class="social pull-right">
									<li><a href="#" class="fa fa-twitter"></a></li>
									<li><a href="#" class="fa fa-facebook"></a></li>
									<li><a href="#" class="fa fa-google-plus"></a></li>
									<li><a href="#" class="fa fa-linkedin"></a></li>
									<li><a href="#" class="fa fa-pinterest"></a></li>
								</ul>
								<div class="clearfix"></div>
							</div>
                                                        <p>{{data.staff.detail}}</p>
						</div>
					</div> <!-- /.member-single -->
					<div class="row">
						<div class="col-md-12">
							<a href="javascript:void(0);" class="go-prev"><i class="fa fa-long-arrow-left"></i>Prev</a>
							<a href="javascript:void(0);" class="go-next">Next <i class="fa fa-long-arrow-right"></i></a>
						</div> <!-- /.col-md-12 -->
					</div> <!-- /.row -->
				</div> <!-- /.col-md-8 -->

				<div class="col-md-4">
					<div class="box-content">
						<h4 class="widget-title"><span>Our Gallery</span></h4>
						<div class="gallery-wrapper">
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
						</div> <!-- /.gallery-wrapper -->
					</div> <!-- /.box-content -->
                                        {{> dedicated_parents/upcomingEvents}}
				</div> <!-- /.col-md-4 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->

                {{> dedicated_parents/footer}}
	

    </body>
</html>
