<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>Dedicated Parents | Staffs</title>
        {{> dedicated_parents/header}}
    </head>
    <body>

        {{> dedicated_parents/headerNav active='staffs'}}

		<div class="container">
			
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Out team</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 hidden-xs back-home">
						<a href="/dedicated_parents/gen/page/landingPage/n">&larr; Go back Home</a>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.page-header -->

			<div class="row">
                                {{#each data.staffs}}
				<div class="col-md-4 col-sm-6">
					<div class="member-grid">
						<div class="member-thumb">
                                                        <img src="https://res.cloudinary.com/miscellaneous/image/upload/c_lpad,h_190,w_370/v1680079430/dedicatedparents/{{this.image}}" alt="">
						</div> <!-- /.member-thumb -->
						<div class="member-content">
							<div class="pull-left">
                                                                <h3><a href="staff-detail.html">{{this.title}}</a></h3>
                                                                <span class="role">{{this.role}}</span>
							</div>
							<ul class="social pull-right">
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-google-plus"></a></li>
							</ul>
							<div class="clearfix"></div>
                                                        <p>{{reduceStringLength this.detail '151'}}...</p>
                                                        <a href="/dedicated_parents/gen/page/d_pstaff/{{this.slug}}">Read More &rarr;</a>
						</div> <!-- /.member-content -->
					</div> <!-- /.member-grid -->
				</div> <!-- /.col-md-4 -->
                                {{/each}}
			</div> <!-- /.row -->
		</div> <!-- /.container -->

                {{> dedicated_parents/footer}}

    </body>
</html>
