<!-- Change the value of lang="en" attribute if your website's language is not English.
You can find the code of your language here - https://www.w3schools.com/tags/ref_language_codes.asp -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome | Qasim</title>
        <meta name="description" content="Qasim Ali - Developer">  
        <meta charset="utf-8">
        <meta name="author" content="Qasim Ali - Pakistan | Sweden - Loves Web - Solutions and - Makes things Simple + Easy">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- Favicons -->
        <link rel="shortcut icon" href="/rhythm/images/favicon.png">

        <!-- CSS -->
        <link rel="stylesheet" href="/rhythm/css/bootstrap.min.css">
        <link rel="stylesheet" href="/rhythm/css/style.css">
        <link rel="stylesheet" href="/rhythm/css/style-responsive.css">
        <link rel="stylesheet" href="/rhythm/css/vertical-rhythm.min.css">
        <link rel="stylesheet" href="/rhythm/css/magnific-popup.css">
        <link rel="stylesheet" href="/rhythm/css/owl.carousel.css">
        <link rel="stylesheet" href="/rhythm/css/animate.min.css">
        <link rel="stylesheet" href="/rhythm/css/splitting.css">
        
    </head>
    <body class="appear-animate">
        
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->

        <!-- Skip to Content -->
        <a href="#main" class="btn skip-to-content">Skip to Content</a>
        <!-- End Skip to Content -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
            
            <!-- Navigation panel -->
            <nav class="main-nav dark transparent stick-fixed wow-menubar">
                <div class="full-wrapper relative clearfix">
                    
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <a href="#top" class="logo">
                            <img src="/rhythm/images/logo-white.png" alt="Company logo" width="188" height="37" />
                        </a>
                    </div>
                    
                    <!-- Mobile Menu Button -->
                    <div class="mobile-nav" role="button" tabindex="0">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Menu</span>
                    </div>
                    
                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        <ul class="clearlist scroll-nav local-scroll">
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#portfolio">Portfolio</a></li>
                            <li><a href="#testimonials">Testimonials</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                    <!-- End Main Menu -->
                    
                </div>
            </nav>
            <!-- End Navigation panel -->
            
            <main id="main">    
            
                <!-- Home Section -->
                <section class="home-section bg-dark-alfa-70 parallax-5" data-background="/rhythm/images/full-width-images/section-bg-1.jpg" id="home">
                    <div class="container min-height-100vh d-flex align-items-center pt-100 pb-100">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="wow fadeInUpShort" data-wow-delay=".1s">
                                <!-- <img class="col-md-3 col-6" src="/rhythm/images/profile-pic.jpeg" alt=""> -->
                                <h1 class="hs-line-1 opacity-085 mb-70 mb-sm-40">Hi, I am Qasim.</h1>
                            </div>
                            <div class="wow fadeInUpShort" data-wow-delay=".2s">
                                <p class="hs-line-6 opacity-07">
                                Web Dev | Azure | Vim |
                                <i>learning svenska</i>
                                | Ex Army
                                </p>
                            </div>
                        </div>
                        <!-- End Hero Content -->
                        
                        <!-- Scroll Down -->
                        <div class="local-scroll scroll-down-wrap wow fadeInUpShort" data-wow-offset="0">
                            <a href="#about" class="scroll-down opacity-085"><i class="scroll-down-icon"></i><span class="sr-only">Scroll to the next section</span></a>
                        </div>
                        <!-- End Scroll Down -->
                        
                    </div>
                </section>
                <!-- End Home Section -->
                
                
                <!-- About Section -->
                <section class="page-section" id="about">
                    <div class="container relative">
                        
                        <div class="mb-140 mb-sm-70">
                            <div class="row section-text">
                            
                                <div class="col-md-12 col-lg-4 mb-md-50 mb-xs-30">
                                    <div class="lead-alt wow linesAnimIn" data-splitting="lines">
                                        Hire me to make it easy + simple + to the point. 
                                    </div>
                                </div>
                                
                                <div class="col-md-6 col-lg-4 mb-sm-50 mb-xs-30 wow linesAnimIn" data-splitting="lines">
                                    A "car showroom website" should bring customers closer to the showroom. A "baking place" should give  more orders. A course should help students. Anything "online" - should help people find value.
                                </div>
                                
                                <div class="col-md-6 col-lg-4 mb-sm-50 mb-xs-30 wow linesAnimIn" data-splitting="lines">
                                    Long un-necessary marketing pages from existing online templates that look WoW - can be not a requirement for your business. Your place needs orders, order management, delivery, refund, pricing, and easy stocking. Easy to use but tough to make. 
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="row">
                            
                            <!-- Team item -->
                            <div class="col-md-4 mb-xs-30">
                                <div class="team-item-wrap wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1.2s">
                                    <div class="team-item-decoration" style="background-image: url(/rhythm/images/team/team-decoration-1.jpg);"></div>
                                    <div class="team-item">
                                        <div class="team-item-image">
                                            <img src="/rhythm/images/team/team-1.jpg" alt="" />
                                            <div class="team-item-detail">
                                                <p class="team-item-detail-title">
                                                    Meetup every month
                                                </p>
                                                <p>
                                                    Place to book tickets, arrange events, connect with people, and create together.
                                                </p>
                                                <div class="team-social-links">
                                                    <a href="https://facebook.com/techshekHQ" target="_blank"><i class="fab fa-facebook"></i><span class="sr-only">Facebook profile</span></a>
                                                    <a href="https://twitter.com/techshekHQ" target="_blank"><i class="fab fa-twitter"></i><span class="sr-only">Twitter profile</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-item-descr">
                                            <div class="team-item-name">
                                                TechShek.io
                                            </div>
                                            <div class="team-item-role">
                                                Ticket Booking System
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Team item -->
                            
                            <!-- Team item -->
                            <div class="col-md-4 mb-xs-30">
                                <div class="team-item-wrap wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.2s">
                                    <div class="team-item-decoration" style="background-image: url(/rhythm/images/team/team-decoration-2.jpg);"></div>
                                    <div class="team-item">
                                        <div class="team-item-image">
                                            <img src="/rhythm/images/team/team-2.jpg" alt="" />
                                            <div class="team-item-detail">
                                                <p class="team-item-detail-title">
                                                    Raise funds - help!
                                                </p>
                                                <p>
                                                    A place to raise funds for your community, build a school or join a cause.
                                                </p>
                                                <div class="team-social-links">
                                                    <a href="https://twitter.com/techshekpens" target="_blank"><i class="fab fa-twitter"></i><span class="sr-only">Twitter profile</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-item-descr">
                                            <div class="team-item-name">
                                                zakatlists.com
                                            </div>
                                            <div class="team-item-role">
                                                Fund Raising System
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Team item -->
                            
                            <!-- Team item -->
                            <div class="col-md-4 mb-xs-30">
                                <div class="team-item-wrap wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1.2s">
                                    <div class="team-item-decoration" style="background-image: url(/rhythm/images/team/team-decoration-3.jpg);"></div>
                                    <div class="team-item">
                                        <div class="team-item-image">
                                            <img src="/rhythm/images/team/team-3.jpg" alt="" />
                                            <div class="team-item-detail">
                                                <p class="team-item-detail-title">
                                                    Healing Sciences
                                                </p>
                                                <p>
                                                    Go live with your healing sessions, presentations, play cards, courses, and causes with this 3x languages website.
                                                </p>
                                                <div class="team-social-links">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-item-descr">
                                            <div class="team-item-name">
                                                naturaltherapy.no
                                            </div>
                                            <div class="team-item-role">
                                                Healing Promotion Website
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Team item -->
                            
                        </div>
                    
                    </div>
                </section>
                <!-- End About Section -->
                
                <!-- Divider -->
                <hr class="mt-0 mb-0" />
                <!-- End Divider -->
                
                
                <!-- Services Section -->
                <section class="page-section" id="services">
                    <div class="container relative">
                        
                        <div class="text-center mb-80 mb-sm-50">
                            <h2 class="section-title">My Services</h2>
                            <p class="section-title-descr">
                                Consult me for 35 USD per hour
                            </p>
                        </div>
                        
                        <!-- Services Grid -->
                        <div class="row services-grid">
                            
                            <!-- Services Item -->
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="services-item text-center wow fadeIn" data-wow-delay="0" data-wow-duration="1.5s">
                                    <div class="services-icon">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                            <path d="M13.5 20c-1.104 0-2 .896-2 2s.896 2 2 2 2-.896 2-2-.896-2-2-2zm-10.551 4c-.598 0-2.429-1.754-2.747-4.304-.424-3.414 2.124-5.593 4.413-5.87.587-1.895 2.475-4.684 6.434-4.77.758-1.982 3.409-4.507 6.84-3.186 1.647.634 3.101 2.101 3.705 3.737.231.624-.71.965-.937.347-.51-1.378-1.737-2.615-3.127-3.151-2.577-.99-4.695.731-5.422 2.298 1.107.12 2.092.455 2.755.889.909.594 1.473 1.558 1.508 2.577.031.889-.33 1.687-.991 2.187-.654.496-1.492.643-2.298.404-.966-.286-1.748-1.076-2.143-2.169-.287-.793-.384-1.847-.178-2.921-3.064.185-4.537 2.306-5.075 3.742 1.18.102 2.211.574 2.831 1.012.959.676 1.497 1.6 1.513 2.599.015.859-.363 1.664-1.011 2.155-.608.46-1.535.599-2.363.348-.961-.289-1.7-1.041-2.079-2.118-.255-.723-.375-1.776-.204-2.919-1.631.361-3.512 1.995-3.178 4.685.18 1.448 1.008 2.888 2.015 3.502.43.261.242.926-.261.926zm10.551-1c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1zm8.011-6.801l2.489.459-1.744 1.833.333 2.509-2.283-1.092-2.283 1.092.333-2.509-1.744-1.833 2.489-.459 1.205-2.225 1.205 2.225zm-1.759.897l-1.143.21.801.843-.153 1.152 1.049-.501 1.049.501-.153-1.152.801-.843-1.143-.21-.554-1.022-.554 1.022zm-14.345-2.3c-.202 1.024-.128 1.993.113 2.678.347.984.966 1.355 1.424 1.492.604.183 1.175.036 1.472-.187.388-.294.624-.808.614-1.34-.011-.673-.398-1.313-1.09-1.801-.545-.385-1.479-.803-2.533-.842zm6.373-4.716c-.226 1.018-.11 1.99.099 2.569.287.79.828 1.356 1.486 1.55.501.148 1.014.06 1.411-.242.398-.301.615-.795.596-1.355-.025-.705-.409-1.353-1.056-1.775-.511-.334-1.448-.657-2.536-.747zm-5.812-7.369l3.032.558-2.124 2.234.405 3.057-2.781-1.331-2.781 1.331.405-3.057-2.124-2.234 3.032-.558 1.468-2.711 1.468 2.711zm-2.285.897l-1.686.31 1.182 1.243-.226 1.7 1.547-.74 1.547.74-.226-1.7 1.182-1.243-1.686-.31-.817-1.508-.817 1.508zm17.817-3.608c-1.38 0-2.5 1.12-2.5 2.5s1.12 2.5 2.5 2.5 2.5-1.12 2.5-2.5-1.12-2.5-2.5-2.5zm0 4c-.828 0-1.5-.672-1.5-1.5s.672-1.5 1.5-1.5 1.5.672 1.5 1.5-.672 1.5-1.5 1.5z"/>
                                        </svg>
                                    </div>
                                    <h3 class="services-title">Branding</h3>
                                    <div class="services-descr">
                                        Attractive Logo Design + Business Card + Flyers + Social Media Campaigns that can be printing and placed on table or marketed online
                                    </div>
                                    <div class="services-more">
                                        <!-- <a href="#" class="text-link">Learn More</a> -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Services Item -->
                            
                            <!-- Services Item -->
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="services-item text-center wow fadeIn" data-wow-delay=".1s" data-wow-duration="1.5s">
                                    <div class="services-icon">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                            <path d="M5 22h4v-3h-9v-18h24v18h-10v3h4v1h-13v-1zm5-3v3h3v-3h-3zm13-17h-22v16h22v-16z"/>
                                        </svg>
                                    </div>
                                    <h3 class="services-title">Web Desing</h3>
                                    <div class="services-descr">
                                        Custom Built Web Design crafted specifically to meet the exact need of the business. Building it from scratch to keep things in focus
                                    </div>
                                    <div class="services-more">
                                        <!-- <a href="#" class="text-link">Learn More</a> -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Services Item -->
                            
                            <!-- Services Item -->
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="services-item text-center wow fadeIn" data-wow-delay=".2s" data-wow-duration="1.5s">
                                    <div class="services-icon">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                            <path d="M24 23h-20c-2.208 0-4-1.792-4-4v-15.694c.313-1.071 1.285-2.306 3-2.306 1.855 0 2.769 1.342 2.995 2.312l.005 1.688h18v18zm-1-17h-17v13s-.665-1-2-1c-1.104 0-2 .896-2 2s.896 2 2 2h19v-16zm-18-2.68c-.427-.971-1.327-1.325-2-1.32-.661.005-1.568.3-2 1.32v16.178c.394-1.993 2.245-2.881 4-2.401v-13.777zm15 15.68h-12v-10h12v10zm-8-9h-3v8h10v-4h-2v3h-1v-3h-3v3h-1v-7zm7 0h-6v3h6v-3z"/>
                                        </svg>
                                    </div>
                                    <h3 class="services-title">Product Shoot</h3>
                                    <div class="services-descr">
                                        A picture is worth a 1000 words. It includes the model, lighting at the right spot, mood of the day, extra ordinary post processing that is worth 1000 words. 
                                    </div>
                                    <div class="services-more">
                                        <!-- <a href="#" class="text-link">Learn More</a> -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Services Item -->
                            
                            <!-- Services Item -->
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="services-item text-center wow fadeIn" data-wow-delay=".0s" data-wow-duration="1.5s">
                                    <div class="services-icon">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                            <path d="M9.484 15.696l-.711-.696-2.552 2.607-1.539-1.452-.698.709 2.25 2.136 3.25-3.304zm0-5l-.711-.696-2.552 2.607-1.539-1.452-.698.709 2.25 2.136 3.25-3.304zm0-5l-.711-.696-2.552 2.607-1.539-1.452-.698.709 2.25 2.136 3.25-3.304zm10.516 11.304h-8v1h8v-1zm0-5h-8v1h8v-1zm0-5h-8v1h8v-1zm4-5h-24v20h24v-20zm-1 19h-22v-18h22v18z"/>
                                        </svg>
                                    </div>
                                    <h3 class="services-title">Research</h3>
                                    <div class="services-descr">
                                        100 % Genuine research based content creation. No plagiarism, No copied image, No 2nd hand contribution. Great Content that ranks higher on Google. 
                                    </div>
                                    <div class="services-more">
                                        <!-- <a href="#" class="text-link">Learn More</a> -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Services Item -->
                            
                            <!-- Services Item -->
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="services-item text-center wow fadeIn" data-wow-delay=".1s" data-wow-duration="1.5s">
                                    <div class="services-icon">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                            <path d="M15 7h4v5h5v6h-5v5h-19v-21h15v5zm-5 11h-9v4h9v-4zm8 0h-7v4h7v-4zm-11-5h-6v4h6v-4zm9 0h-8v4h8v-4zm7 0h-6v4h6v-4zm-12-5v4h7v-4h-7zm-1 0h-9v4h9v-4zm-3-5h-6v4h6v-4zm7 0h-6v4h6v-4z"/>
                                        </svg>
                                    </div>
                                    <h3 class="services-title">Development</h3>
                                    <div class="services-descr">
                                        Back end, asynchronous, time intensive tasks, can be automated through a small chunk of computer in cloud. Put something of yours on my Cloud Computer that triggers at the right time. Custom Built !
                                    </div>
                                    <div class="services-more">
                                        <!-- <a href="#" class="text-link">Learn More</a> -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Services Item -->
                            
                            <!-- Services Item -->
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="services-item text-center wow fadeIn" data-wow-delay=".2s" data-wow-duration="1.5s">
                                    <div class="services-icon">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                            <path d="M14.889 23.652c-.923.227-1.888.348-2.881.348-6.627 0-12.008-5.377-12.008-12s5.381-12 12.008-12c6.628 0 12.009 5.377 12.009 12 0 1.027-.13 2.023-.373 2.975l-.965-.34c.21-.847.321-1.732.321-2.643 0-6.066-4.929-10.992-11-10.992s-11 4.926-11 10.992c0 6.067 4.929 10.993 11 10.993.887 0 1.751-.106 2.577-.304l.312.971zm-2.889-13.652c-1.104 0-2 .896-2 2s.896 2 2 2c.28 0 .546-.057.788-.162l3.06 9.525 2.174-3.622 4.116 4.259 1.879-1.828-4.087-4.216 3.671-1.926-9.694-3.426c.06-.19.093-.393.093-.604 0-1.104-.896-2-2-2zm1.768 3.615l7.333 2.597-2.823 1.481 4.324 4.461-.445.431-4.324-4.473-1.716 2.86-2.349-7.357zm.049 6.692c-.583.126-1.188.193-1.809.193-4.691 0-8.5-3.809-8.5-8.5s3.809-8.5 8.5-8.5c4.692 0 8.5 3.809 8.5 8.5 0 .619-.066 1.222-.192 1.803l-.959-.337c.094-.474.143-.964.143-1.466 0-4.139-3.361-7.5-7.5-7.5-4.139 0-7.5 3.361-7.5 7.5 0 4.139 3.361 7.5 7.5 7.5.517 0 1.022-.052 1.51-.152l.307.959zm-1.076-3.36c-.239.035-.484.053-.733.053-2.759 0-5-2.24-5-5s2.241-5 5-5c2.76 0 5 2.24 5 5 0 .212-.013.421-.039.626l-.979-.345.01-.281c0-2.208-1.792-4-4-4s-4 1.792-4 4 1.792 4 4 4l.43-.023.311.97zm-.741-5.947c.552 0 1 .448 1 1s-.448 1-1 1-1-.448-1-1 .448-1 1-1z"/>
                                        </svg>
                                    </div>
                                    <h3 class="services-title">Consultation</h3>
                                    <div class="services-descr">
                                        I am open to your ideas, solutions, quick implementation with maximum profits - something that excites you. I am open to listening and walking the excitement with you. <3
                                    </div>
                                    <div class="services-more">
                                        <!-- <a href="#" class="text-link">Learn More</a> -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Services Item -->
                            
                        </div>
                        <!-- End Services Grid -->
                        
                    </div>
                </section>
                <!-- End Services Section -->
                
                
                <!-- Call Action Section -->
                <section class="page-section pt-0 pb-0 banner-section bg-dark light-content">
                    <div class="container relative">
                        
                        <div class="row">
                            
                            <div class="col-lg-6 relative">
                                <div class="banner-image-1">
                                    <img src="/rhythm/images/promo-1.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" data-wow-offset="292" />
                                </div>
                                <div class="banner-image-2">
                                    <img src="/rhythm/images/promo-2.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" data-wow-offset="70" />
                                </div>
                            </div>
                            
                            <div class="col-lg-5 offset-lg-1">                                
                                <div class="mt-140 mt-lg-80 mt-md-60 mt-xs-30 mb-140 mb-lg-80">
                                    <div class="banner-content wow fadeInUpShort" data-wow-duration="1.2s">
                                        <h3 class="banner-heading">Looking for exclusive digital services?</h3>
                                        <div class="banner-decription">
                                            I can host your website over my own cloud home "<a href="https://waamhost.com">waamhost.com</a>". You can hire me for maintaining your enterprise level projects. 
                                        </div>
                                        <div class="local-scroll">
                                            <a href="#services" class="btn btn-mod btn-w btn-large btn-round">View Services</a>
                                        </div>
                                    </div>
                                </div>                             
                            </div>
                            
                        </div>
                        
                    </div>
                </section>
                <!-- End Call Action Section -->
                
                
                <!-- Portfolio Section -->
                <section class="page-section pb-0" id="portfolio">
                    <div class="full-wrapper relative">
                        
                        <div class="text-center mb-80 mb-sm-50">
                            <h2 class="section-title mb-20">My Work</h2>
                            <p class="section-title-descr">
                                Web Apps — Web Design — Meetups — Marketing
                            </p>
                        </div>
                        
                        <!-- Works Filter -->                    
                        <div class="works-filter text-center" role="tablist">
                            <a href="#" class="filter active" role="tab" aria-selected="true" data-filter="*">All works</a>
                            <a href="#branding" class="filter" role="tab" aria-selected="false" data-filter=".branding">Branding</a>
                            <a href="#marketing" class="filter" role="tab" aria-selected="false" data-filter=".marketing">Marketing</a>
                            <a href="#development" class="filter" role="tab" aria-selected="false" data-filter=".development">Development</a>
                        </div>                    
                        <!-- End Works Filter -->
                        
                        <!-- Works Grid -->
                        <ul class="works-grid work-grid-3 work-grid-gut clearfix hover-white hide-titles" id="work-grid">
                            
                            {{#each data.projects}}
                            <!-- Work Item (Lightbox) -->
                            <li class="work-item mix {{this.type}}">
                                <a href="{{this.ext_link}}" class="work-ext-link">
                                    <div class="work-img">
                                        <div class="work-img-bg wow-p scalexIn"></div>
                                        <img src="https://res.cloudinary.com/miscellaneous/image/upload/c_scale,w_719,h_416/v1675094947/tech/thumbnails/{{this.slug}}.png" alt="Work Description" class="wow-p fadeIn" data-wow-delay="1s" />
                                    </div>
                                    <div class="work-intro">
                                        <h3 class="work-title">{{this.name}}</h3>
                                        <div class="work-descr">
                                            {{this.subtitle}}
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <!-- End Work Item -->
                            {{/each}}

                        </ul> 
                        <!-- End Works Grid -->
                        
                        <!-- Call Action Section -->
                        <section class="small-section bg-gray">
                            <div class="container relative">
                                <div class="row wow fadeInUpShort">
                                    <div class="col-lg-5 offset-lg-2">
                                        <h3 class="call-action-1-heading">Looking for a productive hour?</h3>
                                        <div class="call-action-1-decription mb-0 pb-md-20">
                                            Mostly the clients are stuck at a solution that is boring and heavy. We sit in a sprint session, and deliver the result in the minimum possible time. It is fun and more useful. No losses.
                                        </div>                                        
                                    </div>
                                    <div class="col-lg-3 pt-10 text-lg-end">
                                        <div class="local-scroll">
                                            <a href="#contact" class="btn btn-mod btn-large btn-round">Let's Sprint</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- End Call Action Section -->
                        
                    </div>
                </section>
                <!-- End Portfolio Section -->
                
                
                <!-- Process Section -->
                <section class="page-section">
                    <div class="container relative">
                        
                        <!-- Grid -->
                        <div class="row">
                            
                            <!-- Text Item -->
                            <div class="col-md-12 col-lg-3">
                                <div class="align-left">
                                    <h2 class="work-process-heading mt-0">Work Process</h2>
                                    <p class="work-process-description">
                                    We get in touch - plan - think it through - and daily sprint to a solution that is useful. Many call it SCRUM approach. 
                                    </p>
                                </div>
                            </div>
                            <!-- End Text Item -->
                            
                            <!-- Item -->
                            <div class="col-md-4 col-lg-3">
                                <div class="work-process-item text-center pt-20">
                                    <div class="work-process-icon">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                            <path d="M20 15c0 .552-.448 1-1 1s-1-.448-1-1 .448-1 1-1 1 .448 1 1m-3 0c0 .552-.448 1-1 1s-1-.448-1-1 .448-1 1-1 1 .448 1 1m-3 0c0 .552-.448 1-1 1s-1-.448-1-1 .448-1 1-1 1 .448 1 1m5.415 4.946c-1 .256-1.989.482-3.324.482-3.465 0-7.091-2.065-7.091-5.423 0-3.128 3.14-5.672 7-5.672 3.844 0 7 2.542 7 5.672 0 1.591-.646 2.527-1.481 3.527l.839 2.686-2.943-1.272zm-13.373-3.375l-4.389 1.896 1.256-4.012c-1.121-1.341-1.909-2.665-1.909-4.699 0-4.277 4.262-7.756 9.5-7.756 5.018 0 9.128 3.194 9.467 7.222-1.19-.566-2.551-.889-3.967-.889-4.199 0-8 2.797-8 6.672 0 .712.147 1.4.411 2.049-.953-.126-1.546-.272-2.369-.483m17.958-1.566c0-2.172-1.199-4.015-3.002-5.21l.002-.039c0-5.086-4.988-8.756-10.5-8.756-5.546 0-10.5 3.698-10.5 8.756 0 1.794.646 3.556 1.791 4.922l-1.744 5.572 6.078-2.625c.982.253 1.932.407 2.85.489 1.317 1.953 3.876 3.314 7.116 3.314 1.019 0 2.105-.135 3.242-.428l4.631 2-1.328-4.245c.871-1.042 1.364-2.384 1.364-3.75"/>
                                        </svg>
                                    </div><h3 class="work-process-title">1. Disscuss</h3>
                                </div>
                            </div>
                            <!-- End Item -->
                            
                            <!-- Item -->
                            <div class="col-md-4 col-lg-3">
                                <div class="work-process-item text-center pt-20">
                                    <div class="work-process-icon">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                            <path d="M6 3.447h-1v-1.447h19v16h-7.731l2.731 4h-1.311l-2.736-4h-1.953l-2.736 4h-1.264l2.732-4h-2.732v-1h8v-1h3v1h3v-14h-17v.447zm2.242 17.343c-.025.679-.576 1.21-1.256 1.21-.64 0-1.179-.497-1.254-1.156l-.406-4.034-.317 4.019c-.051.656-.604 1.171-1.257 1.171-.681 0-1.235-.531-1.262-1.21l-.262-6.456-.308.555c-.241.437-.8.638-1.265.459-.404-.156-.655-.538-.655-.951 0-.093.012-.188.039-.283l1.134-4.098c.17-.601.725-1.021 1.351-1.021h4.096c.511 0 1.012-.178 1.285-.33.723-.403 2.439-1.369 3.136-1.793.394-.243.949-.147 1.24.217.32.396.286.95-.074 1.297l-3.048 2.906c-.375.359-.595.849-.617 1.381-.061 1.397-.3 8.117-.3 8.117zm-5.718-10.795c-.18 0-.34.121-.389.294-.295 1.04-1.011 3.666-1.134 4.098l1.511-2.593c.172-.295.623-.18.636.158l.341 8.797c.01.278.5.287.523.002 0 0 .269-3.35.308-3.944.041-.599.449-1.017.992-1.017.547.002.968.415 1.029 1.004.036.349.327 3.419.385 3.938.043.378.505.326.517.022 0 0 .239-6.725.3-8.124.033-.791.362-1.523.925-2.061l3.045-2.904c-.661.492-2.393 1.468-3.121 1.873-.396.221-1.07.457-1.772.457h-4.096zm16.476 1.005h-5v-1h5v1zm2-2h-7v-1h7v1zm-15.727-4.994c-1.278 0-2.315 1.038-2.315 2.316 0 1.278 1.037 2.316 2.315 2.316s2.316-1.038 2.316-2.316c0-1.278-1.038-2.316-2.316-2.316zm0 1c.726 0 1.316.59 1.316 1.316 0 .726-.59 1.316-1.316 1.316-.725 0-1.315-.59-1.315-1.316 0-.726.59-1.316 1.315-1.316zm15.727 1.994h-7v-1h7v1z"/>
                                        </svg>
                                    </div><h3 class="work-process-title">2. Make</h3>
                                </div>
                            </div>
                            <!-- End Item -->
                            
                            <!-- Item -->
                            <div class="col-md-4 col-lg-3">
                                <div class="work-process-item text-center pt-20">
                                    <div class="work-process-icon">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                            <path d="M15.551 14.703c.474 1.372 2.049 2.459 3.801 1.868l.021-.007c1.565-.544 2.391-2.242 1.854-3.807-.187-.546-.425-1.137-.695-1.757h-5.967c.299 1.366.625 2.647.986 3.703m2.264-9.232l-4.051 1.388c.183 1.037.379 2.103.59 3.141h5.726c-.655-1.404-1.445-2.94-2.265-4.529m.492-1.226c1.524 2.958 3.086 5.915 3.866 8.187.598 1.744-.045 3.895-2.028 4.874l1.211 3.529c.291.812 1.322.926 2.392.808l.252.735-4.728 1.622-.272-.788c.903-.479 1.688-1.215 1.41-2.054l-1.208-3.52c-2.162.439-3.994-.861-4.596-2.61-.791-2.304-1.405-5.566-1.976-8.837l5.677-1.946zm-8.872 6.755h-5.967c-.27.62-.508 1.211-.695 1.757-.536 1.565.289 3.263 1.854 3.807l.021.007c1.753.591 3.328-.496 3.801-1.868.362-1.056.688-2.337.986-3.703m-5.515-1h5.726c.211-1.038.407-2.104.591-3.141l-4.051-1.388c-.821 1.589-1.611 3.125-2.266 4.529m7.45-3.809c-.571 3.271-1.185 6.533-1.976 8.837-.602 1.749-2.434 3.049-4.596 2.61l-1.208 3.52c-.278.839.507 1.575 1.41 2.054l-.271.788-4.729-1.622.252-.735c1.07.118 2.102.004 2.392-.808l1.211-3.529c-1.983-.979-2.625-3.13-2.028-4.874.78-2.272 2.342-5.229 3.867-8.187l5.676 1.946zm7.13 7.811c.414 0 .75.336.75.75 0 .413-.336.75-.75.75s-.75-.337-.75-.75c0-.414.336-.75.75-.75m-14.5.248c0 .414.336.75.75.75s.75-.336.75-.75c0-.413-.336-.75-.75-.75s-.75.337-.75.75m3.25-2.25c.414 0 .75.337.75.75 0 .414-.336.75-.75.75s-.75-.336-.75-.75c0-.413.336-.75.75-.75m10.5-.499c.414 0 .75.336.75.751 0 .413-.336.75-.75.75s-.75-.337-.75-.75c0-.415.336-.751.75-.751m-5.249-7.977v-3.023c0-.277-.223-.5-.5-.5-.275 0-.499.223-.499.5v3.023c0 .276.224.5.499.5.277 0 .5-.224.5-.5m1.932.462l1.641-2.79c.142-.238.062-.545-.176-.685-.239-.139-.544-.062-.684.177l-1.643 2.79c-.14.238-.06.545.176.685.08.047.167.069.254.069.172 0 .339-.088.432-.246m-4.552.246c-.171 0-.337-.088-.432-.246l-1.642-2.79c-.14-.238-.061-.545.177-.685.237-.14.544-.061.685.177l1.643 2.79c.139.238.061.545-.178.685-.08.047-.166.069-.253.069"/>
                                        </svg>
                                    </div><h3 class="work-process-title">3. Product</h3>
                                </div>
                            </div>
                            <!-- End Item -->
                            
                       </div>
                       <!-- End Grid -->
                        
                    </div>
                </section>
                <!-- End Process Section -->
                                
                
                <!-- Divider -->
                <hr class="mt-0 mb-0"/>
                <!-- End Divider -->

                <!-- Testimonials Section -->
                <section id="testimonials" class="page-section bg-dark bg-dark-alfa-70 bg-scroll light-content" data-background="images/full-width-images/section-bg-2.jpg">
                    <div class="container relative">
                        
                    <div class="row">
                        <div class=" col-lg-8 offset-lg-2 wow fadeInUpShort">
                            
                            <div class="text-center mb-50 mb-sm-20">
                                <h2 class="section-title">What my friends say about me?</h2>
                            </div>
                            
                            <div class="text-slider">
                                
                                <!-- Slide Item -->
                                <div>
                                    <blockquote class="testimonial">
                                        <p>
                                            I love the pictures you have by that way! Full of colors. :-)
                                        </p>
                                        <footer class="testimonial-author mt-50 mt-sm-20">
                                            — Marcus · <a href="https://www.salt.study">Salt</a> · Sweden —
                                        </footer>
                                    </blockquote>
                                </div>
                                <!-- End Slide Item -->
                                
                                <!-- Slide Item -->
                                <div>
                                    <blockquote class="testimonial">
                                        <p>
                                            Sir I miss you. 
                                        </p>
                                        <footer class="testimonial-author mt-50 mt-sm-20">
                                            — Bilal · Pakistan Army —
                                        </footer>
                                    </blockquote>
                                </div>
                                <!-- End Slide Item -->
                                
                                <!-- Slide Item -->
                                <div>
                                    <blockquote class="testimonial">
                                        <p>
                                            We love you both (me and my wife, Iram).
                                        </p>
                                        <footer class="testimonial-author mt-50 mt-sm-20">
                                            — Lubna, (my Sister), Australia —
                                        </footer>
                                    </blockquote>
                                </div>
                                <!-- End Slide Item -->
                                
                            </div>                            
                                                      
                        </div>
                    </div>
                        
                    </div>
                </section>
                <!-- End Testimonials Section -->
                
                
                <!-- Call Action Section -->
                <section class="page-section">
                    <div class="container relative">
                        <div class="row">
                            
                            <!-- Images --> 
                            <div class="col-lg-7 mb-md-60 mb-xs-30">                                                               
                                <div class="call-action-2-images">
                                    
                                    <div class="call-action-2-image-1">
                                        <img src="/rhythm/images/promo-3.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" data-wow-offset="255" />
                                    </div>
                                    
                                    <div class="call-action-2-image-2">
                                        <img src="/rhythm/images/promo-4.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" data-wow-offset="134" />
                                    </div>
                                    
                                    <div class="call-action-2-image-3">
                                        <img src="/rhythm/images/promo-5.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" data-wow-offset="0" />
                                    </div>
                                    
                                </div>                                                                              
                            </div>
                            <!-- End Images -->
                            
                            <!-- Text -->
                            <div class="col-lg-5 wow fadeInUpShort" data-wow-duration="1.2s" data-wow-offset="255">
                                
                                <h2 class="section-title mb-50 mb-sm-20">Why choose me?</h2>
                                
                                <dl class="call-action-2-text mb-60 mb-sm-30">
                                    <dt>
                                        01. I am strongly invested.
                                    </dt>
                                    <dd>
                                        Let's say you are few months into your project, lose interest. I can push you to move the wheel a little bit everyday. Like someone standing over you to guide your brand forward.
                                    </dd>
                                    <dt>
                                         02. I am very responsible.
                                    </dt>
                                    <dd>
                                        I can help us be more responsible. Less clutter, more value, no wastage, and high throughput. Like it should not waste someone's time.
                                    </dd>
                                    <dt>
                                         03. I am super friendly.
                                    </dt>
                                    <dd>
                                        You can trust me. I am super wierd - low hanging - you can talk to me with out fearing some kind of judgement. We can talk hours and not get bored. Believe me its fun. 
                                    </dd>
                                </dl>
                                
                                <div class="local-scroll">
                                    <a href="#contact" class="btn btn-mod btn-large btn-round">Start Project</a>
                                </div>
                                
                            </div>
                            <!-- End Text -->
                            
                        </div>
                    </div>
                </section>
                <!-- End Call Action Section -->
                
                
                <!-- Divider -->
                <!-- <hr class="mt-0 mb-0"/> -->
                <!-- End Divider -->
                
                <!-- Blog Section -->
                <!-- End Blog Section -->
                
                
                <!-- Newsletter Section -->
                <section class="small-section bg-dark bg-dark-alfa-70 bg-scroll bg-position-top light-content" data-background="/rhythm/images/full-width-images/section-bg-3.jpg">
                    <div class="container relative">
                        
                        <form id="mailchimp" class="form wow fadeInUpShort">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    
                                    <div class="newsletter-label d-flex mb-50 mb-sm-20">
                                        <div class="newsletter-label-icon">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M1.999 1v7.269l-2 1.456v13.275h24.001v-13.275l-2.001-1.453v-7.272h-20zm1 11.234v-10.234h18v10.233l-9 5.766-9-5.765zm19 .54v-3.17l1.001.764v11.632h-22.001v-11.641l1-.707.063 3.134 9.937 6.413 10-6.425zm-14.305-6.752l-2.694.496 1.888 1.986-.361 2.716 2.472-1.182 2.473 1.182-.361-2.716 1.888-1.986-2.695-.496-1.305-2.41-1.305 2.41zm.248 2.139l-.945-.994 1.349-.249.653-1.206.654 1.206 1.349.249-.945.994.18 1.36-1.238-.591-1.238.591.181-1.36zm6.058-3.078h4.999v-1h-4.999v1zm0 2h4.999v-1h-4.999v1zm0 2h4.999v-1h-4.999v1zm0 2h3v-1h-3v1z"/></svg>
                                        </div>
                                        <h2 class="newsletter-label-text">
                                            A Newsletter is coming soon.
                                        </h2>
                                    </div>
                                    
                                    <div class="d-sm-flex justify-content-between mb-20">
                                        <input placeholder="Your Email" class="newsletter-field input-lg round" type="email" pattern=".{5,100}" required aria-required="true">
                                        <button type="submit" aria-controls="subscribe-result" class="newsletter-button btn btn-mod btn-w btn-large btn-round">
                                            Subscribe Now
                                        </button>
                                    </div>
                                    
                                    <div class="form-tip">
                                        You can find the unsubscribe button at the bottom of my newsletter.
                                    </div>
                                    
                                    <div id="subscribe-result" role="region" aria-live="polite" aria-atomic="true"></div>
                                    
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </section>
                <!-- End Newsletter Section -->
                
                
                <!-- Contact Section -->
                <section class="page-section" id="contact">
                    <div class="container relative">
                        
                        <div class="text-center mb-80 mb-sm-50">
                            <h2 class="section-title">Contact</h2>
                            <p class="section-title-descr">
                                I am available for your project (35 USD per hour)
                            </p>
                        </div>
                        
                        <div class="row mb-60 mb-xs-40">
                            
                            <div class="col-md-10 offset-md-1">
                                <div class="row">
                                    
                                    <!-- Phone -->
                                    <div class="col-sm-6 col-lg-4 pb-20">
                                        <div class="contact-item wow fadeScaleIn" data-wow-delay="0" data-wow-duration="1s">
                                            <div class="ci-icon">
                                                <i class="fa fa-phone-alt"></i>
                                            </div>
                                            <div class="ci-title">
                                                Call Me
                                            </div>
                                            <div class="ci-text">
                                                +46 720 317 632
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Phone -->
                                    
                                    <!-- Address -->
                                    <div class="col-sm-6 col-lg-4 pb-20">
                                        <div class="contact-item wow fadeScaleIn" data-wow-delay=".1s" data-wow-duration="1s">
                                            <div class="ci-icon">
                                                <i class="fa fa-map-marker-alt"></i>
                                            </div>
                                            <div class="ci-title">
                                                Address
                                            </div>
                                            <div class="ci-text">
                                                Bergkällavägen 84, Stockholm
                                            </div>
                                            <div class="ci-link">
                                                <a href="https://goo.gl/maps/gKiBTLRBYZK8mXR39" target="_blank">See on the Map</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Address -->
                                    
                                    <!-- Email -->
                                    <div class="col-sm-6 col-lg-4 pb-20">
                                        <div class="contact-item wow fadeScaleIn" data-wow-delay=".2s" data-wow-duration="1s">
                                            <div class="ci-icon">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="ci-title">
                                                Email
                                            </div>
                                            <div class="ci-text">
                                                hello@qasim.tech
                                            </div>
                                            <div class="ci-link">
                                                <a href="mailto:hello@qasim.tech">Say Hello</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Email -->
                                    
                                </div>
                            </div>
                            
                        </div>
                        
                        <!-- Contact Form -->                            
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                
                                <form class="form contact-form wow fadeInUpShort" data-wow-delay=".5s" id="contact_form">
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!-- Name -->
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" name="name" id="name" class="input-lg round form-control" placeholder="Enter your name" pattern=".{3,100}" required aria-required="true">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- Email -->
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" name="email" id="email" class="input-lg round form-control" placeholder="Enter your email" pattern=".{5,100}" required aria-required="true">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Message -->
                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea name="message" id="message" class="input-lg round form-control" style="height: 130px;" placeholder="Enter your message"></textarea>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!-- Inform Tip -->
                                            <div class="form-tip pt-20 pt-sm-0 mb-sm-20">
                                                All the fields are required
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <!-- Send Button -->
                                            <div class="text-end pt-10">
                                                <button class="submit_btn btn btn-mod btn-large btn-round" id="submit_btn" aria-controls="result" onclick="sendMail()">
                                                    Submit Message
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                   
                                   <div id="result" role="region" aria-live="polite" aria-atomic="true"></div>
                                   
                                </form>
                                
                            </div>
                        </div>
                        <!-- End Contact Form -->
                        
                    </div>
                </section>
                <!-- End Contact Section -->
                
                
                <!-- Google Map -->
                <div class="google-map">
                    
                    <a href="#" class="map-section">                        
                        <div class="map-toggle wow fadeInUpShort" aria-hidden="true">
                            <div class="mt-icon">
                                <i class="fa fa-map-marker-alt"></i>
                            </div>
                            <div class="mt-text">
                                <div class="mt-open">Open the map <i class="mt-open-icon"></i></div>
                                <div class="mt-close">Close the map <i class="mt-close-icon"></i></div>
                            </div>
                        </div>                        
                    </a>
                    
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2025.8381498325778!2d17.9301636!3d59.4857941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f98f4e1725f79%3A0x6542785729d40702!2sBergk%C3%A4llav%C3%A4gen%2084%2C%20192%2079%20Sollentuna!5e0!3m2!1sen!2sse!4v1675096194692!5m2!1sen!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
                </div>
                <!-- End Google Map -->
                
                <!-- Call Action Section -->
                <section class="small-section bg-dark light-content">
                    <div class="container relative">
                        <div class="row wow fadeInUpShort">
                            <div class="col-md-8 offset-md-2 text-center">
                                <h3 class="call-action-1-heading">Want to discuss your new project?</h3>
                                <div class="call-action-1-decription mb-60 mb-sm-30">
                                    Avoid overthinking. Cosy up a little. We can build it together.
                                </div>                                        
                            
                                <div class="local-scroll">
                                    <a href="#contact" class="btn btn-mod btn-w btn-large btn-round">Let's Talk</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Call Action Section -->
                
            </main>
            
            <!-- Footer -->
            {{> tech/footer}}
            <!-- End Footer -->
            
        
        </div>
        <!-- End Page Wrap -->
        
        
        <!-- JS -->
        <script src="/rhythm/js/jquery-3.5.1.min.js"></script>
        <script src="/rhythm/js/jquery.easing.1.3.js"></script>
        <script src="/rhythm/js/bootstrap.bundle.min.js"></script>
        <script src="/rhythm/js/SmoothScroll.js"></script>
        <script src="/rhythm/js/jquery.scrollTo.min.js"></script>
        <script src="/rhythm/js/jquery.localScroll.min.js"></script>
        <script src="/rhythm/js/jquery.viewport.mini.js"></script>
        <script src="/rhythm/js/jquery.countTo.js"></script>
        <script src="/rhythm/js/jquery.appear.js"></script>
        <script src="/rhythm/js/jquery.parallax-1.1.3.js"></script>
        <script src="/rhythm/js/jquery.fitvids.js"></script>
        <script src="/rhythm/js/owl.carousel.min.js"></script>
        <script src="/rhythm/js/isotope.pkgd.min.js"></script>
        <script src="/rhythm/js/imagesloaded.pkgd.min.js"></script>
        <script src="/rhythm/js/jquery.magnific-popup.min.js"></script>
        <script src="/rhythm/js/masonry.pkgd.min.js"></script>
        <script src="/rhythm/js/jquery.lazyload.min.js"></script>
        <script src="/rhythm/js/wow.min.js"></script>
        <script src="/rhythm/js/morphext.js"></script>
        <script src="/rhythm/js/typed.min.js"></script>
        <script src="/rhythm/js/all.js"></script>
        <script src="/rhythm/js/contact-form.js"></script>
        <script src="/rhythm/js/jquery.ajaxchimp.min.js"></script>
        <script src="/rhythm/js/objectFitPolyfill.min.js"></script>
        <script src="/rhythm/js/splitting.min.js"></script>
        <script src="/rhythm/js/custom.js"></script>
        
    </body>
</html>

