<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{> analyticsLife}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Welcome home</title>

    <meta name="title" content="Portfolio - Qasim">
    <meta name="description" content="Pakistan, Rawalpindi, Awesome Mountains, and Coca Cola">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://qasimali.xyz">
    <meta property="og:title" content="Portfolio - Qasim">
    <meta property="og:description" content="Pakistan, Rawalpindi, Awesome Mountains, and Coca Cola">
    <meta property="og:image" content="https://res.cloudinary.com/miscellaneous/image/upload/v1618731614/zakatlists/qasimali-xyz.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://qasimali.xyz">
    <meta property="twitter:title" content="Portfolio - Qasim">
    <meta property="twitter:description" content="Pakistan, Rawalpindi, Awesome Mountains, and Coca Cola">
    <meta property="twitter:image" content="https://res.cloudinary.com/miscellaneous/image/upload/v1618731614/zakatlists/qasimali-xyz.png">


    <!-- <link rel=icon href=/favicon.png> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>

    <style media="screen">
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Roboto', sans-serif; */

    .container {
      /* margin-top: -200px; */
    }

    .container > h1 {
      font-family: 'Merriweather', serif;
    }

    p {
      font-family: 'Roboto', sans-serif;
    }

    .logo-area {
      display: flex;
      height: 44px;
      align-items: center;
      padding: 0 20px;
      cursor: pointer;
      max-width: 1400px;
      margin: auto;
    }

    .logo-area > p:hover {
      color: black;
    }

    .logo-area > p {
      padding-left: 10px;
      /* Quran Daily */
      margin-left: auto;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 157.9%;
      /* identical to box height, or 32px */
      display: flex;
      align-items: center;

      /* Gray 2 */
      color: #4F4F4F;
    }

    .container {
      padding: 0 20px;
      display: flex;
      /* min-height: 90vh; */
    }

    .left-part {
      padding: 0 34px;
    }

    .left-part > * {
      max-width: 258px;
    }

    .left-part > svg {
      position: absolute;
      z-index: -10;
    }

    .left-part > p:nth-child(2) {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 157.9%;
      /* or 32px */
      display: flex;
      align-items: center;

      /* Gray 2 */
      color: #4F4F4F;
      padding: 20px 0 40px 0;
    }

    .muted {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 157.9%;

      /* Gray 3 */
      color: #828282;

    }

    .muted > a {
      font-style: normal;
      color: black;
      font-weight: lighter;
    }

    .right-part {
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px;
      height: fit-content;

      display: grid;
      /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-template-rows: repeat(auto,100px);
    }

    .right-part > span {
      /* Gray 6 */
      background: #F2F2F2;
      /* Gray 5 */
      border: 1px solid #E0E0E0;
      height: 100px;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 157.9%;
      /* or 63px */
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      /* Gray 4 */
      color: #BDBDBD;


    }

    .right-part > span.active {
      background: #219653;
      color: white;
      border: 1px solid #E0E0E0;
      cursor: pointer;
    }

    .right-part > span.active:hover {
      background: green;
    }

    .left-part > a {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 157.9%;
      display: flex;
      align-items: center;
      max-width: 171px;
      color: #219653;
      margin: auto;
      border: 1px solid #219653;
      padding: 10px;
      margin-top: 15px;
    }

    .left-part > a:hover {
      background: #f2f2f2;
    }

    .left-part > a > svg {
      margin-top: -5px;
      padding-left: 13px;
    }

    .left-part > a > span {
      width: 70%;
      margin: auto;
    }

    .locked {
      opacity: 0.3;
      pointer-events: none;
      cursor: not-allowed;
    }

    .note {
      padding: 24px;
      background: #323232;
      color: white;
      max-width: 1400px;
      margin: auto;
      margin-bottom: 1rem;
    }

    .note > p {
      color: lightgrey;
      line-height: 1.5;
      font-size: 18px;
    }

    @media (max-width:799px) {
      .container {
        /* padding: 0 20px; */
        display: block;
        /* min-height: 90vh; */
      }

      .left-part {
        padding: 0;
        width: 100%;
      }

      .left-part > a {
        max-width: 100%;
        margin: inherit;
        margin-bottom: 17px;
        margin-top: 13px;
      }

      .left-part > svg {
        position: absolute;
        z-index: -10;
        left: 0;
        top: -29px;
      }

      .right-part {
        padding: 0;
        width: auto;
      }

      iframe {
        display: none;
      }
    }

    </style>

    <title>Qasim's Diary</title>

  </head>
  <body>

    {{#if note}}
    <div class="note">
      <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="22" cy="22" r="22" fill="#333333"/>
      <path d="M30 12H14C12.9 12 12.01 12.9 12.01 14L12 32L16 28H30C31.1 28 32 27.1 32 26V14C32 12.9 31.1 12 30 12ZM23 24H21V22H23V24ZM23 20H21V16H23V20Z" fill="#F2F2F2"/>
      </svg>
      <p class="">{{note}}</p>
    </div>
    {{/if}}

    <div class="container">
      <div class="left-part">
        <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M49.9993 141.667H74.9993L91.666 108.333V58.3333H41.666V108.333H66.666L49.9993 141.667ZM116.666 141.667H141.666L158.333 108.333V58.3333H108.333V108.333H133.333L116.666 141.667Z" fill="#F2F2F2"/>
        </svg>
        <p>I am committing to writing for the rest of my life...</p>
      </div>

      <div class="right-part">
        {{#each data.blogs}}
            {{#if this.blog}}
                <span class="active" slug="{{this.blog.slug}}">{{this.postNo}}</span>
            {{else}}
                <span class="{{locked}} {{this.data}}">{{postNo}}</span>
            {{/if}}
        {{/each}}
      </div>
    </div>

    <div class="popover shadow"></div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script type="text/javascript">
      $('span.active').on('click',function() {
          window.location.href = `/life/gen/page/openBlog/${$(this).attr('slug')}`;
      })
    </script>
  </body>
</html>

