<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{> analyticsLife}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Welcome — </title>

    <meta name="title" content="Portfolio - Qasim">
    <meta name="description" content="Pakistan, Rawalpindi, Awesome Mountains, and Coca Cola">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://qasimali.xyz">
    <meta property="og:title" content="Portfolio - Qasim">
    <meta property="og:description" content="Pakistan, Rawalpindi, Awesome Mountains, and Coca Cola">
    <meta property="og:image" content="https://res.cloudinary.com/miscellaneous/image/upload/v1618731614/zakatlists/qasimali-xyz.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://qasimali.xyz">
    <meta property="twitter:title" content="Portfolio - Qasim">
    <meta property="twitter:description" content="Pakistan, Rawalpindi, Awesome Mountains, and Coca Cola">
    <meta property="twitter:image" content="https://res.cloudinary.com/miscellaneous/image/upload/v1618731614/zakatlists/qasimali-xyz.png">


    <!-- <link rel=icon href=/favicon.png> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>

    <style media="screen">
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Roboto', sans-serif; */

    .container {
      /* margin-top: -200px; */
    }

    .container > h1 {
      font-family: 'Merriweather', serif;
    }

    p {
      font-family: 'Roboto', sans-serif;
    }

    .logo-area {
      display: flex;
      height: 44px;
      align-items: center;
      padding: 0 20px;
      cursor: pointer;
      max-width: 1400px;
      margin: auto;
    }

    .logo-area > p:hover {
      color: black;
    }

    .logo-area > p {
      padding-left: 10px;
      margin-left: auto;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 157.9%;
      display: flex;
      align-items: center;
      color: #4F4F4F;
    }

    .container {
      padding: 0 20px;
      display: flex;
      /* min-height: 90vh; */
    }

    .left-part {
      padding: 0 34px;
      position: -webkit-sticky;
      position: sticky;
      height: 60vh;
      top: 10px;
    }

    .left-part > * {
      max-width: 258px;
    }

    .left-part > svg {
      position: absolute;
      z-index: -10;
    }

    .left-part > p:nth-child(2) {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 157.9%;
      display: flex;
      align-items: center;
      color: #4F4F4F;
      padding: 20px 0 1px 0;
      max-width: 268px;
      margin-bottom: 30px;
    }

    .left-part > .search {
        position: relative;
    }

    .left-part > .search > svg {
        position: absolute;
        right: 17px;
        top: 50%;
        transform: translate(0%, -50%);
    }

    .left-part > .selector.pending {
	color: brown;
    }

    .left-part > .selector {
        margin: 0;
        padding: 10px 0;
        padding-left: 18px;
        font-size: 16px;
        color: #4F4F4F;
        font-family: 'Roboto';
        font-weight: 300;
        display: block;
    }

    .left-part > button.selector {
        background: white;
        border: 1px solid white;
        width: 100%;
        text-align: left;
    }

    .left-part > .selector:hover {
        background: whitesmoke;
        cursor: pointer;
    }

    .left-part > .selector.active {
        color: orange;
    }

    .left-part > .selector.active::after {
        content: "   »"
    }

    .left-part > a {
        text-decoration: none;
        color: inherit;
        display: block;
    }

    .left-part > p > input {
        width: 100%;
        padding: 18px;
        box-sizing: border-box;
        border: 1px solid #4F4F4F;
        font-size: 16px;
        color: #4F4F4F;
        font-family: 'Roboto';
        font-weight: 300;
    }

    .muted {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 157.9%;

      /* Gray 3 */
      color: #828282;

    }

    .muted > a {
      font-style: normal;
      color: black;
      font-weight: lighter;
    }

    .content {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
        height: fit-content;
    }

    .content > .blogs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .card {
        font-size: 80%;
        min-width: 150px;
        padding: 15px;
        box-sizing: border-box;
        word-break: break-word;
        background: whitesmoke;
        margin: 5px;
        border-radius: 5px;
        font-family: "Roboto";
        display: flex;
        flex-direction: column;

    }

    .letter {
        border: 1px dashed orange;
    }

    .card:hover {
        background: white;
        cursor: pointer;
    }

    .card > h4 {
        color: #4F4F4F;
        margin: 12px 0;
    }

    .card > h1 {
        margin-bottom: auto;
        color: #4F4F4F;
        background: #219653;
        box-sizing: border-box;
        transform: rotate( -1deg );
        color: white;
        padding: 8px;
    }

    .letter > h1 {
        background: orange;
    }

    .card > h5 {
        padding: 2px 4px;
        margin-top: 22px;
        margin-bottom: 0px;
        font-weight: 300;
    }

    .card > p {
        padding: 7px 4px 2px 4px;
        margin-top: 0;
        font-weight: bold;
        font-size: 14px;
        color: #4F4F4F;
    }

    .right-part {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-template-rows: repeat(auto,100px);
    }

    .right-part > span {
      background: #F2F2F2;
      border: 1px solid #E0E0E0;
      height: 100px;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 157.9%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #BDBDBD;

    }

    .right-part > span.active {
      background: #219653;
      color: white;
      border: 1px solid #E0E0E0;
      cursor: pointer;
    }

    .right-part > span.active:hover {
      background: green;
    }

    /**
    .left-part > a {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 157.9%;
      display: flex;
      align-items: center;
      max-width: 171px;
      color: #219653;
      margin: auto;
      border: 1px solid #219653;
      padding: 10px;
      margin-top: 15px;
    }
    **/

    .left-part > a:hover {
      background: #f2f2f2;
    }

    .left-part > a > svg {
      margin-top: -5px;
      padding-left: 13px;
    }

    .left-part > a > span {
      width: 70%;
      margin: auto;
    }

    .locked {
      opacity: 0.3;
      pointer-events: none;
      cursor: not-allowed;
    }

    .note {
      padding: 24px;
      background: #323232;
      color: white;
      max-width: 1400px;
      margin: auto;
      margin-bottom: 1rem;
    }

    .note > p {
      color: lightgrey;
      line-height: 1.5;
      font-size: 18px;
    }

    @media (max-width:799px) {
      .container {
        /* padding: 0 20px; */
        display: block;
        /* min-height: 90vh; */
      }

      .left-part {
        padding: 0;
        padding-bottom: 18px;
        width: 100%;
        position: relative;
        height: auto;
      }

      .left-part > a {
        max-width: 100%;
        margin: inherit;
        margin-bottom: 17px;
        margin-top: 13px;
      }

      .left-part > svg {
        position: absolute;
        z-index: -10;
        left: 0;
        top: -52px;
      }

      .content {
          padding: 0;
      }

      .right-part {
        padding: 0;
        width: auto;
      }

      iframe {
        display: none;
      }
    }

    @media (max-width: 375px) {
        .left-part > * {
            max-width: 375px;
        }
    }

    </style>

    <title>Qasim's Diary</title>

  </head>
  <body>

    {{#if note}}
    <div class="note">
      <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="22" cy="22" r="22" fill="#333333"/>
      <path d="M30 12H14C12.9 12 12.01 12.9 12.01 14L12 32L16 28H30C31.1 28 32 27.1 32 26V14C32 12.9 31.1 12 30 12ZM23 24H21V22H23V24ZM23 20H21V16H23V20Z" fill="#F2F2F2"/>
      </svg>
      <p class="">{{note}}</p>
    </div>
    {{/if}}

    <div class="container">
      <div class="left-part">
        <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M49.9993 141.667H74.9993L91.666 108.333V58.3333H41.666V108.333H66.666L49.9993 141.667ZM116.666 141.667H141.666L158.333 108.333V58.3333H108.333V108.333H133.333L116.666 141.667Z" fill="#F2F2F2"/>
        </svg>
        <p>I am committing to writing for the rest of my life...</p>

        <p class="search"> 
            <input id="searchBlog" type="text" placeholder="Search blogs">
            <svg width="40" height="40" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.49">
            <path d="M17.0156 17.0156C16.6563 17.375 16.0625 17.375 15.6875 17.0156L13.7031 15.0312C13.3437 14.6719 13.3437 14.0781 13.7031 13.7031C14.0625 13.3438 14.6563 13.3438 15.0313 13.7031L17.0156 15.6875C17.375 16.0625 17.375 16.6562 17.0156 17.0156Z" fill="white"/>
            <path d="M4.30247 4.3108C3.2769 5.33641 2.70075 6.72741 2.70078 8.17782C2.7008 9.62822 3.277 11.0192 4.3026 12.0448C5.32821 13.0704 6.71922 13.6465 8.16962 13.6465C9.62003 13.6464 11.011 13.0703 12.0366 12.0446C13.0622 11.019 13.6383 9.62803 13.6383 8.17763C13.6383 6.72722 13.0621 5.33624 12.0365 4.31066C11.0108 3.28509 9.61984 2.70895 8.16943 2.70897C6.71903 2.709 5.32804 3.28519 4.30247 4.3108V4.3108Z" fill="white"/>
            <path d="M4.30247 4.3108C3.2769 5.33641 2.70075 6.72741 2.70078 8.17782C2.7008 9.62822 3.277 11.0192 4.3026 12.0448C5.32821 13.0704 6.71922 13.6465 8.16962 13.6465C9.62003 13.6464 11.011 13.0703 12.0366 12.0446C13.0622 11.019 13.6383 9.62803 13.6383 8.17763C13.6383 6.72722 13.0621 5.33624 12.0365 4.31066C11.0108 3.28509 9.61984 2.70895 8.16943 2.70897C6.71903 2.709 5.32804 3.28519 4.30247 4.3108V4.3108Z" fill="white"/>
            <path d="M8.17188 13.1719C7.90625 13.1719 7.70312 12.9688 7.70312 12.7031C7.70312 12.4375 7.90625 12.2344 8.17188 12.2344C9.25 12.2344 10.2812 11.8125 11.0469 11.0469C12.0469 10.0469 12.4531 8.625 12.125 7.23438C12.0625 6.98438 12.2188 6.73438 12.4688 6.67188C12.7188 6.60938 12.9688 6.76563 13.0313 7.01563C13.4375 8.71875 12.9531 10.4844 11.7188 11.7188C10.7656 12.6563 9.51563 13.1719 8.17188 13.1719ZM11.3906 5.46875C11.2656 5.46875 11.1563 5.42187 11.0625 5.32812V5.3125C10.875 5.125 10.875 4.82813 11.0625 4.64063C11.25 4.45312 11.5313 4.45312 11.7188 4.64063L11.7344 4.65625C11.9219 4.84375 11.9219 5.14062 11.7344 5.32812C11.6406 5.42187 11.5156 5.46875 11.3906 5.46875Z" fill="#ADF9D2"/>
            <path d="M8.17188 14.1094C6.65625 14.1094 5.125 13.5313 3.96875 12.375C1.65625 10.0625 1.65625 6.29688 3.96875 3.98438C6.28125 1.67187 10.0469 1.67187 12.3594 3.98438C14.6875 6.29688 14.6875 10.0625 12.375 12.375C11.2187 13.5313 9.70313 14.1094 8.17188 14.1094ZM8.17188 3.1875C6.89063 3.1875 5.60938 3.67188 4.64063 4.65625C2.6875 6.60938 2.6875 9.78125 4.64063 11.7344C6.59375 13.6563 9.76563 13.6563 11.7188 11.7188C13.6719 9.76563 13.6719 6.59375 11.7188 4.64063C10.7344 3.67188 9.45312 3.1875 8.17188 3.1875ZM17.3437 15.3594L15.3594 13.375C15.0937 13.1094 14.7344 12.9688 14.3594 12.9688C14.1406 12.9688 13.9375 13.0156 13.75 13.1094L13.3594 12.7188C13.1719 12.5313 12.875 12.5313 12.7031 12.7188C12.5156 12.9063 12.5156 13.2031 12.7031 13.375L13.0938 13.7656C12.8437 14.2813 12.9375 14.9375 13.3594 15.3594L15.3594 17.3438C15.6406 17.625 16 17.75 16.3594 17.75C16.7187 17.75 17.0781 17.6094 17.3594 17.3438C17.625 17.0781 17.7656 16.7188 17.7656 16.3438C17.7656 15.9844 17.6094 15.625 17.3437 15.3594ZM16.6875 16.6875C16.5 16.875 16.2031 16.875 16.0312 16.6875L14.0312 14.7031C13.8437 14.5156 13.8437 14.2188 14.0312 14.0469C14.125 13.9531 14.2344 13.9063 14.3594 13.9063C14.4844 13.9063 14.6094 13.9531 14.6875 14.0469L16.6719 16.0313C16.7656 16.125 16.8125 16.2344 16.8125 16.3594C16.8125 16.4844 16.7813 16.5938 16.6875 16.6875Z" fill="#444B54"/>
            </g>
            </svg>

        </p>
        
        <a class="selector {{#if (match "n" data.pjaxId)}}active{{/if}}" id="showBlogs"  href="/{{data.brand}}/gen/pjax/blogs/landingPage" data-pjax>Blogs</a>
        <a class="selector" id="blogStreak" href="/{{data.brand}}/gen/pjax/blogStreak/landingPage" data-pjax>Streak</a>
        <a class="selector" id="newsletters" href="/{{data.brand}}/gen/pjax/newsletters/landingPage" data-pjax>Newsletters</a>
        <button class="selector" onclick="showModel()">Subscribe</button>

      </div>

      <div class="content" id="pjax-container">
      
            {{#if (match "n" data.pjaxId)}}

            <div class="blogs">

                {{#each data.blogs}}
                <div class="card" slug="{{slug}}" onclick="openBlog(this)">

                        <h4>{{index}}</h4>
                        <h1>{{body.0.msg}}</h1>
                        <h5>PUBLISHED ON</h5>
                        <p>{{date}}</p>
                    
                </div>
                {{/each}}


            </div>

            {{/if}}

      </div>

    </div>

    <div class="popover shadow"></div>

    {{> subscribeModel}}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/life/importantFuncs.js"></script>
    <script src="/root/pjax.js"></script>
    <script type="text/javascript">

        $(document).pjax('a[data-pjax]', '#pjax-container');
        $(document).ready( () => {

            console.log('Home Loaded — end of pjax I think'); 

            if ("{{data.pjaxId}}" == "n") return console.log('Home loaded');

        })

        $.pjax.defaults.scrollTo = false;
        $.pjax.defaults.timeout = 10000000;

        let openBlog = function(elem) {

            console.log('opening the blog post');
            window.location.href = `/life/gen/page/openBlog/${$(elem).attr('slug')}`;

        }

        let openNewsletter = function(elem) {

            console.log('opening the newsletter page ');
            window.location.href = `/life/gen/page/showNewsletter/${$(elem).attr('slug')}`;

        }

        $('[data-pjax]').on('click', function() {
            $(".selector").removeClass('active');
            $(this).closest('.selector').addClass('active');
        });

        $('#searchBlog').on('keyup', function(event) {
            console.log( 'typed a thing');
            let value = $(this).val();
            let string = '';
            console.log(value);
            if (value == '') {
                // string = "/{{data.brand}}/gen/pjax/blogs/landingPage?input=showBlogs"+"&keyWord="+value; 
                string = "/{{data.brand}}/gen/pjax/blogs/landingPage?keyWord="+value; 
                $('#showBlogs').attr({href: string}).trigger('click');
                return console.log('Value is null');  
            } 
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode != '13') return console.log('Let user press enter');
            string = "/{{data.brand}}/gen/pjax/blogs/landingPage?keyWord="+value; 
            $('#showBlogs').attr({href: string}).trigger('click');
        });

    </script>
  </body>
</html>

