<head>

    {{> analyticsLife}}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Primary Meta Tags -->
  <title>{{data.body.0.msg}}</title>

  <meta name="title" content="{{data.body.0.msg}}">
  <meta name="description" content="{{data.body.1.msg}}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://qasimali.xyz/life/gen/page/showNewsletter/{{data.output.slug}}">
  <meta property="og:title" content="{{data.body.0.msg}}">
  <meta property="og:description" content="{{data.body.1.msg}}">
  <meta property="og:image" content="https://res.cloudinary.com/miscellaneous/image/upload/v1688802297/qurandaily/{{data.output.slug}}.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://qasimali.xyz/life/gen/showNewsletter/{{data.output.slug}}">
  <meta property="twitter:title" content="{{data.body.0.msg}}">
  <meta property="twitter:description" content="{{data.body.1.msg}}">
  <meta property="twitter:image" content="https://res.cloudinary.com/miscellaneous/image/upload/v1688802297/qurandaily/{{data.output.slug}}.png">

  <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:100,300i,400,400i,700,900&display=swap" rel="stylesheet">

</head>

<style>

    body {
        max-width: 550px;
        margin: auto;
        font-family: 'Roboto';
        padding: 30px;
    }

    .logo-area {
      display: flex;
      height: 44px;
      align-items: center;
      cursor: pointer;
      margin-bottom: 20px;
    }

    .logo-area>p:hover {
      color: black;
    }

    .logo-area>p {
      padding-left: 10px;
      /* Quran Daily */

      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 157.9%;
      /* identical to box height, or 32px */
      display: flex;
      align-items: center;

      /* Gray 2 */
      color: #4F4F4F;
      margin-left: auto;
    }

    @media (max-width: 799px) {

      .logo-area {
        margin-left: 0px;
        padding: 0px;
      }

      .logo-area > p {
        padding-left: 10px;
      }

    }
</style>

<body>

  <div class="logo-area" >
    <svg onclick="window.location.href = '/life/gen/page/landingPage/n'" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 11H6.83L10.41 7.41L9 6L3 12L9 18L10.41 16.59L6.83 13H21V11Z" fill="#4F4F4F" />
    </svg>
    <p onclick="showModel()">Subscribe</p>
  </div>

  <section id="blog">
  
    {{#each data.body}}

      {{#if (match 'h1' type)}}
        <h1 style="
        background: #219653;
        padding: 7px 10px;
        width: fit-content;
        color: white !important;
        font-size: 21px !important;
        transform: rotate( -1deg);
        margin: 0px 0 25px 0;
        ">{{{msg}}}</h1>
      {{/if}}

      {{#if (match 'announcement' type)}}

          <p class="announcement" style="
            padding: 5px;
            color: #333333;
            font-size: 15px;
            font-style: italic;
            line-height: 1.5;
            background: lightyellow;
            border-radius: 5px;
          ">{{{msg}}}</p>

      {{/if}}

      {{#if (match 'h3' type)}}
        <h3 style="
        background: {{pickRandomColor @index}};
        padding: 7px 10px;
        width: fit-content;
        color: #4F4F4F !important;
        font-size: 19px !important;
        margin: 25px 0 25px 0;
        border-radius: 5px;
        ">{{{msg}}}</h3>
      {{/if}}

      {{#if (match 'p' type)}}
        <p style="
                font-size: 17px;
                line-height: 1.7;
                color: #333333;
                word-break: break-word;
                ">{{{msg}}}</p>
      {{/if}}

      {{#if (match 'bullet' type)}}

          <p class="bullet" style="
            display: flex;
            line-height: 1.7;
            color: #333333;
            font-size: 17px;
            ">

          <span style="
          padding: 0px 15px 0 5px;
          ">•</span>{{{msg}}}
          
          </p>

      {{/if}}

      {{#if (match 'text' type)}}

          {{{msg}}}

      {{/if}}

      {{#if (match 'img' type)}}
          <img style="
            width: 100%;
            border: 1px solid whitesmoke;
            border-radius: 5px;
          " src="https://res.cloudinary.com/miscellaneous/image/upload/v1592022597/qurandaily/{{{msg}}}" alt="">
      {{/if}}

      {{#if (match 'captionO' type)}}
        <p style="
                margin-bottom: 40px;
                font-size: 15px;
                text-align: center;
                line-height: 1.7;
                color: #333333 !important;
                word-break: break-word;
                ">{{{msg}}}
      {{/if}}

      {{#if (match 'po' type)}}
        <p style="
                font-size: 17px;
                line-height: 1.7;
                color: #333333;
                word-break: break-word;
                ">{{{msg}}}
      {{/if}}

      {{#if (match 'a' type) }}

          <p style="
            font-size: 17px;
            line-height: 1.7;
            color: #333333;
            word-break: break-word;
            " >

              <a style="
                text-decoration: none;
                color: indianred;
                font-style: italic;
                padding-bottom: 9px;
                " href="{{{msg}}}">
                  {{{class}}}
              </a>
          
          </p>

      {{/if}}

      {{#if (match 'ao' type)}}

          <a style="
            text-decoration: none;
            color: indianred;
            font-style: italic;
            padding-bottom: 9px;
          " href="{{{msg}}}">{{{class}}}

      {{/if}}

      {{#if (match 'quote' type)}}
          <p class="quote" style="
                line-height: 1.9;
                font-style: italic;
                font-size: 17px;
                color: #333333;
              "> {{{msg}}}</p>
      {{/if}}


      {{#if (match "ao/" type) }} {{{msg}}} </a> {{/if}}
      {{#if (match "po/" type) }} {{{msg}}}</p> {{/if}}
      {{#if (match "captionO/" type) }} {{{msg}}}</p> {{/if}}

    {{/each}}
  
    {{> footer url=data.url email=data.email Id=data.Id}}


  </section>

    {{> subscribeModel}}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/life/importantFuncs.js"></script>
    <script>

$(document).ready( () => {

    // localStorage.setItem("subscriptionNotLogged", "");
    // showModel();

}); 
    
    </script>
    <!-- 100% privacy friendly analytics -->
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>

</html>

